<link rel="stylesheet" href="<%=md5('/css/components/stocks3-table.css')%>">
<div class="markets-spread-table stocks-spread-table">
<%
let stocks3Table = {
    stocksSpreadsColHeadersDesktop: ['MT5 Symbol', 'NASDAQ Stocks'],
    stocksSpreadsData: [
        ["AAPL.NAS", "Apple Inc CFD"],
        ["ADBE.NAS", "Adobe Systems CFD"],
        ["ADI.NAS", "Analog Devices CFD"],
        ["ADP.NAS", "Automatic Data Processing (ADP) CFD"],
        ["AMAT.NAS", "Applied Materials CFD"],
        ["AMGN.NAS", "Amgen CFD"],
        ["AMZN.NAS", "Amazon.com CFD"],
        ["ATVI.NAS", "Activision Blizzard CFD"],
        ["AVGO.NAS", "Broadcom Ltd CFD"],
        ["BIIB.NAS", "Biogen Inc CFD"],
        ["BKNG.NAS", "Booking Holdings Inc CFD"],
        ["CHTR.NAS", "Charter Communications Inc CFD"],
        ["CMCSA.NAS", "Comcast Corp A CFD"],
        ["CME.NAS", "CME Group CFD"],
        ["COST.NAS", "Costco Wholesale CFD"],
        ["CRON.NAS", "Cronos Group Inc CFD"],
        ["CSCO.NAS", "Cisco Systems CFD"],
        ["CSX.NAS", "CSX Corp CFD"],
        ["CTSH.NAS", "Cognizant Technology Solutions CFD"],
        ["DISH.NAS", "Dish Network Corp CFD"],
        ["EA.NAS", "Electronic Arts CFD"],
        ["EBAY.NAS", "Ebay CFD"],
        ["EQIX.NAS", "Equinix CFD"],
        ["FB.NAS", "Facebook CFD"],
        ["FOX.NAS", "Twenty-First Century Fox (USD) B CFD"],
        ["FOXA.NAS", "Twenty-First Century Fox (USD) A CFD"],
        ["GILD.NAS", "Gilead Sciences CFD"],
        ["GOOG.NAS", "Alphabet Inc C CFD"],
        ["INTC.NAS", "Intel Corp CFD"],
        ["INTU.NAS", "Intuit CFD"],
        ["ISRG.NAS", "Intuitive Surgical CFD"],
        ["KHC.NAS", "Kraft Heinz Co CFD"],
        ["LYFT.NAS", "Lyft, Inc. CFD"],
        ["MAR.NAS", "Marriott Intl CFD"],
        ["MDLZ.NAS", "Mondelez International CFD"],
        ["MSFT.NAS", "Microsoft Corp CFD"],
        ["MU.NAS", "Micron Technology Inc CFD"],
        ["NFLX.NAS", "Netflix CFD"],
        ["NVDA.NAS", "Nvidia Corp CFD"],
        ["PEP.NAS", "Pepsico CFD"],
        ["PYPL.NAS", "Paypal Holdings Inc CFD"],
        ["QCOM.NAS", "Qualcomm CFD"],
        ["QQQ.NAS", "Invesco QQQ Trust CFD"],
        ["REGN.NAS", "Regeneron Pharmaceuticals Inc CFD"],
        ["SBUX.NAS", "Starbucks Corp CFD"],
        ["TLRY.NAS", "Tilray Inc CFD"],
        ["TLT.NAS", "iShares 20+ Year Treasury Bond ETF CFD"],
        ["TMUS.NAS", "T-Mobile US CFD"],
        ["TSLA.NAS", "Tesla Motors CFD"],
        ["TXN.NAS", "Texas Instruments CFD"],
        ["VRTX.NAS", "Vertex Pharma CFD"],
        ["WBA.NAS", "Walgreens Boots Alliance Inc CFD"],
        ["AAL.NAS", "American Airlines Group"],
        ["ABMD.NAS", "ABIOMED Inc"],
        ["ADSK.NAS", "Autodesk Inc."],
        ["AEP.NAS", "American Electric Power"],
        ["AKAM.NAS", "Akamai Technologies Inc"],
        ["ALGN.NAS", "Align Technology"],
        ["ALXN.NAS", "Alexion Pharmaceuticals"],
        ["AMD.NAS", "Advanced Micro Devices Inc"],
        ["ANSS.NAS", "ANSYS, Inc."],
        ["APA.NAS", "Apache Corporation"],
        ["CDNS.NAS", "Cadence Design Systems"],
        ["CDW.NAS", "CDW"],
        ["CERN.NAS", "Cerner"],
        ["CHRW.NAS", "C. H. Robinson Worldwide"],
        ["CINF.NAS", "Cincinnati Financial"],
        ["CPRT.NAS", "Copart Inc"],
        ["CTAS.NAS", "Cintas Corporation"],
        ["CTXS.NAS", "Citrix Systems"],
        ["LNT.NAS", "Alliant Energy Corp"],
        ["DLTR.NAS", "Dollar Tree"],
        ["DXCM.NAS", "DexCom"],
        ["ENPH.NAS", "Enphase Energy"],
        ["ETSY.NAS", "Etsy"],
        ["EXC.NAS", "Exelon Corp."],
        ["EXPD.NAS", "Expeditors"],
        ["EXPE.NAS", "Expedia Group"],
        ["FANG.NAS", "Diamondback Energy"],
        ["FAST.NAS", "Fastenal Co"],
        ["FFIV.NAS", "F5 Networks"],
        ["FISV.NAS", "Fiserv Inc"],
        ["FITB.NAS", "Fifth Third Bancorp"],
        ["FTNT.NAS", "Fortinet"],
        ["GPC.NAS", "Genuine Parts"],
        ["GRMN.NAS", "Garmin Ltd."],
        ["HAS.NAS", "Hasbro Inc."],
        ["HBAN.NAS", "Huntington Bancshares"],
        ["HOLX.NAS", "Hologic"],
        ["HSIC.NAS", "Henry Schein"],
        ["HST.NAS", "Host Hotels & Resorts"],
        ["IDXX.NAS", "IDEXX Laboratories"],
        ["ILMN.NAS", "Illumina Inc"],
        ["INCY.NAS", "Incyte"],
        ["IPGP.NAS", "IPG Photonics Corp."],
        ["XRAY.NAS", "Dentsply Sirona"],
        ["JBHT.NAS", "Jack Henry & Associates"],
        ["JBHT.NAS", "J. B. Hunt Transport Services"],
        ["KLAC.NAS", "KLA Corporation"],
        ["LKQ.NAS", "LKQ Corporation"],
        ["LRCX.NAS", "Lam Research"],
        ["MCHP.NAS", "Microchip Technology"],
        ["MKTX.NAS", "MarketAxess"],
        ["MNST.NAS", "Monster Beverage"],
        ["MNTV.NAS", "Momentive Global Inc"],
        ["MXIM.NAS", "Maxim Integrated Products Inc"],
        ["NDAQ.NAS", "Nasdaq, Inc."],
        ["NLOK.NAS", "NortonLifeLock"],
        ["NTAP.NAS", "NetApp"],
        ["NTRS.NAS", "Northern Trust Corp."],
        ["NWL.NAS", "Newell Brands"],
        ["NWS.NAS", "News Corp. Class B"],
        ["NWSA.NAS", "News Corp. Class A"],
        ["ODFL.NAS", "Old Dominion Freight Line"],
        ["ORLY.NAS", "O'Reilly Automotive"],
        ["PAYX.NAS", "Paychex Inc."],
        ["PBCT.NAS", "People's United Financial"],
        ["PCAR.NAS", "PACCAR Inc."],
        ["PFG.NAS", "Principal Financial Group"],
        ["POOL.NAS", "Pool Corporation"],
        ["QRVO.NAS", "Qorvo"],
        ["RDWR.NAS", "Radware Ltd."],
        ["REG.NAS", "Regency Centers Corporation"],
        ["ROST.NAS", "Ross Stores"],
        ["SBAC.NAS", "SBA Communications"],
        ["STX.NAS", "Seagate Technology"],
        ["SWKS.NAS", "Skyworks Solutions"],
        ["SIVB.NAS", "SVB Financial"],
        ["SNPS.NAS", "Synopsys Inc."],
        ["TROW.NAS", "T. Rowe Price Group"],
        ["TTWO.NAS", "Take-Two Interactive"],
        ["TER.NAS", "Teradyne"],
        ["TSCO.NAS", "Tractor Supply Company"],
        ["TRMB.NAS", "Trimble Inc."],
        ["ULTA.NAS", "Ulta Beauty"],
        ["UAL.NAS", "United Airlines Holdings"],
        ["VRSN.NAS", "Verisign Inc."],
        ["VRSK.NAS", "Verisk Analytics"],
        ["VIAC.NAS", "ViacomCBS"],
        ["VTRS.NAS", "Viatris"],
        ["WDC.NAS", "Western Digital"],
        ["WLTW.NAS", "Willis Towers Watson"],
        ["WYNN.NAS", "Wynn Resorts Ltd"],
        ["XEL.NAS", "Xcel Energy Inc"],
        ["XLNX.NAS", "Xilinx"],
        ["ZBRA.NAS", "Zebra Technologies"],
        ["ZION.NAS", "Zions Bancorp Inc."],

        ["ABNB.NAS", "Airbnb Inc. Class A Common Stock"],
        ["AFRM.NAS", "Affirm Holdings Inc. Class A Common Stock"],
        ["ALNY.NAS", "Alnylam Pharmaceuticals Inc. Common Stock"],
        ["AMED.NAS", "Amedisys Inc Common Stock"],
        ["APPN.NAS", "Appian Corporation Class A Common Stock"],
        ["AZPN.NAS", "Aspen Technology Inc. Common Stock"],
        ["BMRN.NAS", "BioMarin Pharmaceutical Inc. Common Stock"],
        ["BSY.NAS", "Bentley Systems Incorporated Class B Common Stock"],
        ["BYND.NAS", "Beyond Meat Inc. Common Stock"],
        ["CG.NAS", "The Carlyle Group Inc. Common Stock"],
        ["CGNX.NAS", "Cognex Corporation Common Stock"],
        ["COUP.NAS", "Coupa Software Incorporated Common Stock"],
        ["CREE.NAS", "Cree Inc. Common Stock"],
        ["CRWD.NAS", "CrowdStrike Holdings Inc. Class A Common Stock"],
        ["CSGP.NAS", "CoStar Group Inc. Common Stock"],
        ["CZR.NAS", "Caesars Entertainment Inc. Common Stock"],
        ["DBX.NAS", "Dropbox Inc. Class A Common Stock"],
        ["DDOG.NAS", "Datadog Inc. Class A Common Stock"],
        ["DISCA.NAS", "Discovery Inc. Series A Common Stock"],
        ["DISCK.NAS", "Discovery Inc. Series C Common Stock"],
        ["DKNG.NAS", "DraftKings Inc. Class A Common Stock"],
        ["DOCU.NAS", "DocuSign Inc. Common Stock"],
        ["ENTG.NAS", "Entegris Inc. Common Stock"],
        ["ERIE.NAS", "Erie Indemnity Company Class A Common Stock"],
        ["EXAS.NAS", "Exact Sciences Corporation Common Stock"],
        ["EXPI.NAS", "eXp World Holdings Inc. Common Stock"],
        ["FIVE.NAS", "Five Below Inc. Common Stock"],
        ["FIVN.NAS", "Five9 Inc. Common Stock"],
        ["FSLR.NAS", "First Solar Inc. Common Stock"],
        ["FWONK.NAS", "Liberty Media Corporation Series C Liberty Formula One Common Stock"],
        ["GDRX.NAS", "GoodRx Holdings Inc. Class A Common Stock"],
        ["GLPI.NAS", "Gaming and Leisure Properties Inc. Common Stock"],
        ["IAC.NAS", "IAC/InterActiveCorp Common Stock"],
        ["IBKR.NAS", "Interactive Brokers Group Inc. Class A Common Stock"],
        ["IEP.NAS", "Icahn Enterprises L.P. Common Stock"],
        ["KDP.NAS", "Keurig Dr Pepper Inc. Common Stock"],
        ["LAZR.NAS", "Luminar Technologies Inc. Class A Common Stock"],
        ["LBRDA.NAS", "Liberty Broadband Corporation Class A Common Stock"],
        ["LBRDK.NAS", "Liberty Broadband Corporation Class C Common Stock"],
        ["LOGI.NAS", "Logitech International S.A. Ordinary Shares"],
        ["LPLA.NAS", "LPL Financial Holdings Inc. Common Stock"],
        ["LSXMK.NAS", "Liberty Media Corporation Series C Liberty SiriusXM Common Stock"],
        ["MASI.NAS", "Masimo Corporation Common Stock"],
        ["MDB.NAS", "MongoDB Inc. Class A Common Stock"],
        ["MORN.NAS", "Morningstar Inc. Common Stock"],
        ["MPWR.NAS", "Monolithic Power Systems Inc. Common Stock"],
        ["MRNA.NAS", "Moderna Inc. Common Stock"],
        ["MRTX.NAS", "Mirati Therapeutics Inc. Common Stock"],
        ["MTCH.NAS", "Match Group Inc. Common Stock"],
        ["NBIX.NAS", "Neurocrine Biosciences Inc. Common Stock"],
        ["NDSN.NAS", "Nordson Corporation Common Stock"],
        ["NTRA.NAS", "Natera Inc. Common Stock"],
        ["NUAN.NAS", "Nuance Communications Inc. Common Stock"],
        ["NVAX.NAS", "Novavax Inc. Common Stock"],
        ["OKTA.NAS", "Okta Inc. Class A Common Stock"],
        ["OLED.NAS", "Universal Display Corporation Common Stock"],
        ["ON.NAS", "ON Semiconductor Corporation Common Stock"],
        ["OPEN.NAS", "Opendoor Technologies Inc Common Stock"],
        ["PCTY.NAS", "Paylocity Holding Corporation Common Stock"],
        ["PEGA.NAS", "Pegasystems Inc. Common Stock"],
        ["PENN.NAS", "Penn National Gaming Inc. Common Stock"],
        ["PLUG.NAS", "Plug Power Inc. Common Stock"],
        ["PODD.NAS", "Insulet Corporation Common Stock"],
        ["PTC.NAS", "PTC Inc. Common Stock"],
        ["PTON.NAS", "Peloton Interactive Inc. Class A Common Stock"],
        ["RGEN.NAS", "Repligen Corporation Common Stock"],
        ["ROKU.NAS", "Roku Inc. Class A Common Stock"],
        ["RPRX.NAS", "Royalty Pharma plc Class A Ordinary Shares"],
        ["RUN.NAS", "Sunrun Inc. Common Stock"],
        ["SBNY.NAS", "Signature Bank Common Stock"],
        ["SGEN.NAS", "Seagen Inc. Common Stock"],
        ["SIRI.NAS", "Sirius XM Holdings Inc. Common Stock"],
        ["SPLK.NAS", "Splunk Inc. Common Stock"],
        ["SPWR.NAS", "SunPower Corporation Common Stock"],
        ["SSNC.NAS", "SS&C Technologies Holdings Inc. Common Stock"],
        ["TECH.NAS", "Bio-Techne Corp Common Stock"],
        ["TTD.NAS", "The Trade Desk Inc. Class A Common Stock"],
        ["TXG.NAS", "10x Genomics Inc. Class A Common Stock"],
        ["WDAY.NAS", "Workday Inc. Class A Common Stock"],
        ["WISH.NAS", "ContextLogic Inc. Class A Common Stock"],
        ["WMG.NAS", "Warner Music Group Corp. Class A Common Stock"],
        ["Z.NAS", "Zillow Group Inc. Class C Capital Stock"],
        ["ZG.NAS", "Zillow Group Inc. Class A Common Stock"],
        ["ZI.NAS", "ZoomInfo Technologies Inc. Class A Common Stock"],
        ["ZM.NAS", "Zoom Video Communications Inc. Class A Common Stock"],
        ["ZNGA.NAS", "Zynga Inc. Class A Common Stock"],
        ["ZS.NAS", "Zscaler Inc. Common Stock"],

        ["AAXJ.NAS", "iShares MSCI All Country Asia ex Japan ETF"],
        ["ABCB.NAS", "Ameris Bancorp"],
        ["ABUS.NAS", "Arbutus Biopharma"],
        ["ACAD.NAS", "ACADIA Pharmaceuticals Inc"],
        ["ACMR.NAS", "ACM Research Inc"],
        ["ACRX.NAS", "AcelRx Pharmaceuticals Inc"],
        ["ACWI.NAS", "iShares MSCI ACWI ETF"],
        ["ADAP.NAS", "Adaptimmune Therapeutics PLC"],
        ["ADVM.NAS", "Adverum Biotechnologies Inc"],
        ["AGEN.NAS", "Agenus Inc"],
        ["AGNC.NAS", "AGNC Investment Corp"],
        ["AGRX.NAS", "Agile Therapeutics Inc"],
        ["AINV.NAS", "Apollo Investment Corp"],
        ["ALDX.NAS", "Aldeyra Therapeutics Inc"],
        ["ALRM.NAS", "Alarm.com Holdings Inc"],
        ["ALT.NAS", "Altimmune Inc"],
        ["ALVR.NAS", "Allovir Inc"],
        ["AMBA.NAS", "Ambarella Inc"],
        ["AMRS.NAS", "Amyris Inc"],
        ["ANDE.NAS", "Andersons Inc/The"],
        ["ANGI.NAS", "ANGI Homeservices Inc"],
        ["APHA.NAS", "Aphria Inc"],
        ["APPF.NAS", "AppFolio Inc"],
        ["ARAY.NAS", "Accuray Inc"],
        ["ARCC.NAS", "Ares Capital Corp"],
        ["ARCT.NAS", "Arcturus Therapeutics Holdings Inc"],
        ["ARWR.NAS", "Arrowhead Research Corp"],
        ["ATHX.NAS", "Athersys Inc"],
        ["ATNX.NAS", "Athenex Inc"],
        ["ATRA.NAS", "Atara Biotherapeutics Inc"],
        ["ATRS.NAS", "Antares Pharma Inc"],
        ["AVAV.NAS", "Aerovironment Inc"],
        ["AVID.NAS", "Avid Technology Inc"],
        ["AVT.NAS", "Avnet Inc"],
        ["AVXL.NAS", "Anavex Life Sciences Corp"],
        ["AXGN.NAS", "AxoGen Inc"],
        ["AXSM.NAS", "Axsome Therapeutics Inc"],
        ["AY.NAS", "Atlantica Yield PLC"],
        ["AYRO.NAS", "AYRO Inc"],
        ["AYTU.NAS", "Aytu BioScience Inc"],
        ["BBBY.NAS", "Bed Bath & Beyond"],
        ["BBIO.NAS", "BridgeBio Pharma"],
        ["BCRX.NAS", "BioCryst Pharmaceuticals Inc"],
        ["BGCP.NAS", "BGC Partners Inc"],
        ["BHF.NAS", "Brighthouse Financial Inc"],
        ["BIDU.NAS", "Baidu Inc ADR Class A"],
        ["BILI.NAS", "Bilibili Inc."],
        ["BLDR.NAS", "Builders FirstSource Inc"],
        ["BLFS.NAS", "Biolife Solutions Inc"],
        ["BLMN.NAS", "Bloomin' Brands Inc"],
        ["BLNK.NAS", "Blink Charging Co."],
        ["BLUE.NAS", "Bluebird Bio Inc"],
        ["BNGO.NAS", "Bionano Genomics Inc"],
        ["BNTX.NAS", "BioNTech SE"],
        ["BPMC.NAS", "Blueprint Medicines Corp"],
        ["BPY.NAS", "Brookfield Property Partners LP (US)"],
        ["BRKR.NAS", "Bruker Corp"],
        ["BRKS.NAS", "Brooks Automation Inc"],
        ["BZUN.NAS", "Baozun Inc"],
        ["CACC.NAS", "Credit Acceptance Corp"],
        ["CAKE.NAS", "Cheesecake Factory Inc/The"],
        ["CAMP.NAS", "CalAmp Corp"],
        ["CAN.NAS", "Canaan Inc"],
        ["CAR.NAS", "Avis Budget Group Inc"],
        ["CARA.NAS", "Cara Therapeutics"],
        ["CASA.NAS", "Casa Systems, Inc."],
        ["CASY.NAS", "Casey's General Stores Inc"],
        ["CBAY.NAS", "CymaBay Therapeutics Inc"],
        ["CBRL.NAS", "Cracker Barrel Old Country Sto"],
        ["CDEV.NAS", "Centennial Resource Development Inc"],
        ["CDLX.NAS", "Cardlytics Inc"],
        ["CDXS.NAS", "Codexis, Inc."],
        ["CERS.NAS", "Cerus Corp"],
        ["CEVA.NAS", "CEVA Inc"],
        ["CHDN.NAS", "Churchill Downs Inc"],
        ["CHEF.NAS", "Chefs' Warehouse Inc/The"],
        ["CHKP.NAS", "Check Point Software Technologies"],
        ["CHMA.NAS", "Chiasma Inc"],
        ["CHRS.NAS", "Coherus Biosciences Inc"],
        ["CIBR.NAS", "First Trust Nasdaq Cybersecurity ETF"],
        ["CLDX.NAS", "Celldex Therapeutics Inc"],
        ["CLNE.NAS", "Clean Energy Fuels Corp"],
        ["CLSK.NAS", "CleanSpark Inc"],
        ["CLVS.NAS", "Clovis Oncology Inc"],
        ["CNDT.NAS", "Conduent Inc"],
        ["CNST.NAS", "Constellation Pharmaceuticals Inc"],
        ["CODX.NAS", "Co-Diagnostics Inc"],
        ["COMM.NAS", "CommScope Holding Co Inc"],
        ["CONE.NAS", "CyrusOne Inc"],
        ["CONN.NAS", "Conn's Inc"],
        ["CORE.NAS", "Core-Mark Holding Co Inc"],
        ["CPRX.NAS", "Catalyst Pharmaceutical Partners Inc"],
        ["CRBP.NAS", "Corbus Pharmaceuticals Holdings Inc"],
        ["CRIS.NAS", "Curis Inc"],
        ["CRMD.NAS", "CorMedix Inc"],
        ["CRNT.NAS", "Ceragon Networks Ltd"],
        ["CROX.NAS", "Crocs"],
        ["CRSP.NAS", "CRISPR Therapeutics AG"],
        ["CRUS.NAS", "Cirrus Logic Inc"],
        ["CSIQ.NAS", "Canadian Solar Inc"],
        ["CSOD.NAS", "Cornerstone OnDemand Inc"],
        ["CVAC.NAS", "CureVac N.V."],
        ["CWCO.NAS", "Consolidated Water Co Ltd"],
        ["CYBR.NAS", "Cyberark Software Ltd"],
        ["CYTK.NAS", "Cytokinetics Inc"],
        ["DENN.NAS", "Denny's Corp"],
        ["DOMO.NAS", "Domo Inc"],
        ["DOYU.NAS", "DouYu International Holdings Ltd - ADR"],
        ["DTIL.NAS", "Precision Biosciences Inc"],
        ["DVAX.NAS", "Dynavax Technologies Corp"],
        ["DVY.NAS", "iShares Select Dividend ETF"],
        ["EDIT.NAS", "Editas Medicine Inc."],
        ["EEFT.NAS", "Euronet Worldwide Inc"],
        ["EGAN.NAS", "eGain Corp"],
        ["EGLE.NAS", "Eagle Bulk Shipping Inc"],
        ["EH.NAS", "Ehang Holdings Ltd"],
        ["EHTH.NAS", "eHealth Inc"],
        ["EMB.NAS", "iShares JP Morgan USD Emerging Markets Bond ETF"],
        ["EOLS.NAS", "Evolus Inc"],
        ["EPZM.NAS", "Epizyme Inc"],
        ["ERIC.NAS", "Telefonaktiebolaget LM Ericsson"],
        ["EVBG.NAS", "Everbridge, Inc."],
        ["EVER.NAS", "EverQuote Inc"],
        ["EXEL.NAS", "Exelixis Inc"],
        ["FATE.NAS", "Fate Therapeutics Inc"],
        ["FCEL.NAS", "FuelCell Energy Inc"],
        ["FEYE.NAS", "Fireeye Inc."],
        ["FIZZ.NAS", "National Beverage Corp"],
        ["FLEX.NAS", "Flex Ltd"],
        ["FLWS.NAS", "1-800-Flowers.com Inc"],
        ["FOLD.NAS", "Amicus Therapeutics Inc"],
        ["FOSL.NAS", "Fossil"],
        ["FROG.NAS", "JFrog Ltd"],
        ["FRPT.NAS", "Freshpet Inc"],
        ["FRSX.NAS", "Foresight Autonomous Holdings Ltd"],
        ["FWONA.NAS", "Liberty Media Formula One Series A"],
        ["GERN.NAS", "Geron Corp"],
        ["GEVO.NAS", "Gevo Inc"],
        ["GIII.NAS", "G-III Apparel Group Ltd"],
        ["GLAD.NAS", "Gladstone Capital Corp"],
        ["GLNG.NAS", "Golar LNG Ltd"],
        ["GNPX.NAS", "Genprex Inc"],
        ["GNTX.NAS", "Gentex Corp/MI"],
        ["GNUS.NAS", "Genius Brands International Inc"],
        ["GO.NAS", "Grocery Outlet Holding Corp."],
        ["GOGO.NAS", "Gogo Inc"],
        ["GOOD.NAS", "Gladstone Commercial Corp"],
        ["GOSS.NAS", "Gossamer Bio Inc"],
        ["GPRE.NAS", "Green Plains Inc"],
        ["GPRO.NAS", "GoPro Inc (A shares)"],
        ["GSKY.NAS", "GreenSky Inc"],
        ["GT.NAS", "Goodyear"],
        ["HA.NAS", "Hawaiian Holdings Inc"],
        ["HAIN.NAS", "Hain Celestial Group Inc/The"],
        ["HALO.NAS", "Halozyme Therapeutics Inc"],
        ["HEAR.NAS", "Turtle Beach Corp"],
        ["HLIT.NAS", "Harmonic Inc"],
        ["HMHC.NAS", "Houghton Mifflin Harcourt Co"],
        ["HQY.NAS", "HealthEquity Inc"],
        ["HTBX.NAS", "Heat Biologics Inc"],
        ["HTHT.NAS", "Huazhu Group Ltd"],
        ["IBB.NAS", "iShares Nasdaq Biotechnology ETF"],
        ["ICPT.NAS", "Intercept Pharmaceuticals Inc"],
        ["IDCC.NAS", "InterDigital Inc/PA"],
        ["IDEX.NAS", "Ideanomics Inc"],
        ["IEF.NAS", "iShares 7-10 Year Treasury Bond ETF"],
        ["IFRX.NAS", "Inflarx NV"],
        ["IHRT.NAS", "iHeartMedia Inc"],
        ["IIVI.NAS", "II-VI Inc"],
        ["ILPT.NAS", "Industrial Logistics Properties Trust"],
        ["IMGN.NAS", "ImmunoGen Inc"],
        ["INFN.NAS", "Infinera Corp"],
        ["INGN.NAS", "Inogen Inc"],
        ["INO.NAS", "Inovio Pharmaceuticals Inc"],
        ["INSG.NAS", "Inseego Corp."],
        ["IONS.NAS", "Ionis Pharmaceuticals Inc"],
        ["IRBT.NAS", "iRobot Corp"],
        ["IRDM.NAS", "Iridium Communications Inc"],
        ["IRTC.NAS", "iRhythm Technologies Inc"],
        ["ISBC.NAS", "Investors Bancorp Inc"],
        ["ISTB.NAS", "iShares Core Short-Term USD Bond"],
        ["ITCI.NAS", "Intra-Cellular Therapies Inc"],
        ["ITRI.NAS", "Itron Inc"],
        ["IUSB.NAS", "iShares Core Total USD Bond Market ETF"],
        ["IUSG.NAS", "iShares Core US Growth ETF"],
        ["IUSV.NAS", "iShares Core US Value ETF"],
        ["IXUS.NAS", "iShares Core MSCI Total International Stock ETF"],
        ["IZEA.NAS", "IZEA Worldwide Inc"],
        ["JACK.NAS", "Jack in the Box Inc"],
        ["JAZZ.NAS", "Jazz Pharmaceuticals Plc"],
        ["JBLU.NAS", "JetBlue Airways Corp"],
        ["JFU.NAS", "9F Inc"],
        ["JOBS.NAS", "51job Inc"],
        ["JOUT.NAS", "Johnson Outdoors Inc"],
        ["KDMN.NAS", "Kadmon Holdings Inc"],
        ["KIN.NAS", "Kindred Biosciences Inc"],
        ["KNDI.NAS", "Kandi Technologies Group Inc"],
        ["KTOS.NAS", "Kratos Defense & Security Solutions Inc"],
        ["LAMR.NAS", "Lamar Advertising Co."],
        ["LBTYA.NAS", "Liberty Global PLC Class A"],
        ["LBTYK.NAS", "Liberty Global PLC Class C"],
        ["LECO.NAS", "Lincoln Electric Holdings Inc"],
        ["LI.NAS", "LI Auto Inc (ADR)"],
        ["LILA.NAS", "Liberty Latin America Ltd"],
        ["LITE.NAS", "Lumentum Holdings Inc."],
        ["LLNW.NAS", "Limelight Networks Inc"],
        ["LPSN.NAS", "LivePerson Inc"],
        ["LSCC.NAS", "Lattice Semiconductor Corp"],
        ["LTRPA.NAS", "Liberty TripAdvisor Holdings Inc"],
        ["LULU.NAS", "Lululemon Athletica Inc"],
        ["LUNA.NAS", "Luna Innovations Inc"],
        ["LXRX.NAS", "Lexicon Pharmaceuticals Inc"],
        ["MARA.NAS", "Marathon Digital Holdings Inc"],
        ["MARK.NAS", "Remark Holdings Inc"],
        ["MAT.NAS", "Mattel Inc."],
        ["MCHI.NAS", "iShares MSCI China ETF"],
        ["MCRB.NAS", "Seres Therapeutics Inc"],
        ["MDIV.NAS", "First Trust Multi-Asset Diversified Income Index Fund"],
        ["MELI.NAS", "MercadoLibre Inc"],
        ["MGI.NAS", "MoneyGram International Inc"],
        ["MITK.NAS", "Mitek Systems Inc"],
        ["MKSI.NAS", "MKS Instruments Inc"],
        ["MLCO.NAS", "Melco Resorts & Entertainment Ltd - ADR"],
        ["MMYT.NAS", "MakeMyTrip Ltd"],
        ["MNKD.NAS", "MannKind Corp"],
        ["MOMO.NAS", "Momo Inc"],
        ["MRCY.NAS", "Mercury Systems Inc"],
        ["MRNS.NAS", "Marinus Pharmaceuticals Inc."],
        ["MRVL.NAS", "Marvell"],
        ["MSTR.NAS", "MicroStrategy Inc"],
        ["MVIS.NAS", "MicroVision Inc"],
        ["NARI.NAS", "Inari Medical Inc"],
        ["NATI.NAS", "National Instruments Corp"],
        ["NAVI.NAS", "Navient Corp"],
        ["NBEV.NAS", "New Age Beverages Corporation"],
        ["NCMI.NAS", "National CineMedia Inc"],
        ["NDLS.NAS", "Noodles & Co"],
        ["NERV.NAS", "Minerva Neurosciences Inc"],
        ["NESR.NAS", "National Energy Services Reunited Corp"],
        ["NICE.NAS", "NICE Systems Ltd"],
        ["NIU.NAS", "Niu Technologies"],
        ["NKLA.NAS", "Nikola Corporation"],
        ["NKTR.NAS", "Nektar Therapeutics"],
        ["NMIH.NAS", "NMI Holdings Inc"],
        ["NMRK.NAS", "Newmark Group Inc - Class A"],
        ["NNDM.NAS", "Nano Dimension Ltd - ADR"],
        ["NOVN.NAS", "Novan Inc"],
        ["NTES.NAS", "NetEase Inc"],
        ["NTLA.NAS", "Intellia Therapeutics Inc"],
        ["NTNX.NAS", "Nutanix Inc"],
        ["NUVA.NAS", "NuVasive Inc"],
        ["NVCR.NAS", "Novocure Ltd"],
        ["NXPI.NAS", "NXP Semiconductor NV"],
        ["NXST.NAS", "Nexstar Broadcasting Group Inc"],
        ["NYMT.NAS", "New York Mortgage Trust Inc"],
        ["OCGN.NAS", "Ocugen Inc"],
        ["OCUL.NAS", "Ocular Therapeutix Inc"],
        ["ODP.NAS", "ODP Corp"],
        ["OLLI.NAS", "Ollie's Bargain Outlet Holdings Inc"],
        ["ONEM.NAS", "1Life Healthcare Inc"],
        ["ONTX.NAS", "Onconova Therapeutics Inc"],
        ["OPI.NAS", "Office Properties Income Trust"],
        ["OPK.NAS", "Opko Health Inc"],
        ["ORBC.NAS", "ORBCOMM Inc"],
        ["ORTX.NAS", "Orchard Therapeutics PLC"],
        ["OSTK.NAS", "Overstock.com Inc"],
        ["OSUR.NAS", "OraSure Technologies Inc"],
        ["OVID.NAS", "Ovid Therapeutics Inc"],
        ["PAA.NAS", "Plains All American Pipeline L"],
        ["PACB.NAS", "Pacific Biosciences of California Inc"],
        ["PAGP.NAS", "Plains GP Holdings LP"],
        ["PBYI.NAS", "Puma Biotechnology Inc"],
        ["PCH.NAS", "Potlatch Corp"],
        ["PCVX.NAS", "Vaxcyte Inc"],
        ["PDCE.NAS", "PDC Energy Inc"],
        ["PDCO.NAS", "Patterson"],
        ["PDD.NAS", "Pinduoduo Inc."],
        ["PFF.NAS", "iShares US Preferred Stock ETF"],
        ["PFLT.NAS", "PennantPark Floating Rate Capital Ltd"],
        ["PFPT.NAS", "Proofpoint Inc"],
        ["PGEN.NAS", "Pregicen Inc"],
        ["PGNY.NAS", "Progyny Inc"],
        ["PINC.NAS", "Premier Inc"],
        ["PLAY.NAS", "Dave & Buster's Entertainment Inc"],
        ["PLCE.NAS", "Children's Place Retail Stores"],
        ["PLYA.NAS", "Playa Hotels & Resorts NV"],
        ["PNNT.NAS", "PennantPark Investment Corp"],
        ["POWI.NAS", "Power Integrations Inc"],
        ["PRAH.NAS", "PRA Health Sciences Inc"],
        ["PRFT.NAS", "Perficient Inc"],
        ["PRQR.NAS", "ProQR Therapeutics NV"],
        ["PRTK.NAS", "Paratek Pharmaceuticals Inc"],
        ["PRVB.NAS", "Provention Bio Inc"],
        ["PSEC.NAS", "Prospect Capital Corp"],
        ["PTEN.NAS", "Patterson Uti Energy"],
        ["PVAC.NAS", "Penn Virginia Corp"],
        ["PZZA.NAS", "Papa John's International Inc"],
        ["QDEL.NAS", "Quidel Corp"],
        ["QFIN.NAS", "360 DigiTech Inc"],
        ["QIWI.NAS", "QIWI plc"],
        ["QRTEA.NAS", "Qurate Retail Group Inc QVC Group"],
        ["QURE.NAS", "uniQure B.V."],
        ["RDFN.NAS", "Redfin Corporation"],
        ["REGI.NAS", "Renewable Energy Group Inc"],
        ["RESN.NAS", "Resonant Inc"],
        ["RETA.NAS", "Reata Pharmaceuticals Inc"],
        ["RIGL.NAS", "Rigel Pharmaceuticals Inc"],
        ["ROIC.NAS", "Retail Opportunity Investments"],
        ["RPD.NAS", "Rapid7 Inc"],
        ["RRGB.NAS", "Red Robin Gourmet Burgers Inc"],
        ["RUBY.NAS", "Rubius Therapeutics Inc"],
        ["RUTH.NAS", "Ruth's Hospitality Group Inc"],
        ["RVMD.NAS", "Revolution Medicines Inc"],
        ["RVNC.NAS", "Revance Therapeutics Inc"],
        ["RYAAY.NAS", "Ryanair Holdings plc"],
        ["SABR.NAS", "Sabre Corp"],
        ["SAFM.NAS", "Sanderson Farms Inc"],
        ["SAGE.NAS", "Sage Therapeutics Inc"],
        ["SANM.NAS", "Sanmina Sci"],
        ["SBGI.NAS", "Sinclair Broadcast Group Inc"],
        ["SBRA.NAS", "Sabra Health Care REIT Inc"],
        ["SDC.NAS", "SmileDirectClub Inc."],
        ["SDGR.NAS", "Schrodinger Inc"],
        ["SEDG.NAS", "SolarEdge Technologies Inc"],
        ["SEIC.NAS", "SEI Investments Co"],
        ["SELB.NAS", "Selecta Biosciences, Inc"],
        ["SFIX.NAS", "Stitch Fix INC"],
        ["SFM.NAS", "Sprouts Farmers Market Inc"],
        ["SFT.NAS", "Shift Technologies Inc"],
        ["SGMO.NAS", "Sangamo Biosciences Inc"],
        ["SHV.NAS", "iShares Short Treasury Bond ETF"],
        ["SHY.NAS", "iShares 1-3 Year Treasury Bond ETF"],
        ["SKYW.NAS", "SkyWest Inc"],
        ["SKYY.NAS", "First Trust ISE Cloud Computing Index Fund"],
        ["SLAB.NAS", "Silicon Laboratories Inc"],
        ["SLGN.NAS", "Silgan Holdings Inc"],
        ["SLM.NAS", "SLM"],
        ["SMH.NAS", "Market Vectors Semiconductor ETF"],
        ["SMTC.NAS", "Semtech Corp"],
        ["SNDL.NAS", "Sundial Growers Inc"],
        ["SNDX.NAS", "Syndax Pharmaceuticals Inc"],
        ["SNEX.NAS", "StoneX Group Inc"],
        ["SNSR.NAS", "Global X Internet of Things ETF"],
        ["SOLO.NAS", "Electrameccanica Vehicles Corp"],
        ["SONO.NAS", "Sonos"],
        ["SOXX.NAS", "iShares PHLX Semiconductor ETF"],
        ["SPPI.NAS", "Spectrum Pharmaceuticals Inc"],
        ["SPTN.NAS", "SpartanNash Co"],
        ["SPWH.NAS", "Sportsmans Warehouse Holdings Inc"],
        ["SRCL.NAS", "Stericycle"],
        ["SRNE.NAS", "Sorrento Therapeutics Inc"],
        ["SRPT.NAS", "Sarepta Therapeutics Inc"],
        ["SSRM.NAS", "Silver Standard Resources Inc"],
        ["SSSS.NAS", "Sutter Rock Capital Corp"],
        ["SSTI.NAS", "Shotspotter Inc"],
        ["STAY.NAS", "Extended Stay America Inc"],
        ["STLD.NAS", "Steel Dynamics"],
        ["STMP.NAS", "Stamps.com Inc"],
        ["STNE.NAS", "StoneCo Ltd."],
        ["STOK.NAS", "Stoke Therapeutics Inc"],
        ["SURF.NAS", "Surface Oncology Inc"],
        ["SVC.NAS", "Service Properties Trust"],
        ["SWAV.NAS", "Shockwave Medical Inc."],
        ["SWBI.NAS", "Smith & Wesson Brands Inc"],
        ["SY.NAS", "So-Young International Inc"],
        ["SYNA.NAS", "Synaptics Inc"],
        ["SYNH.NAS", "Syneos Health Inc"],
        ["TACO.NAS", "Del Taco Restaurants Inc"],
        ["TCOM.NAS", "TRIP.COM GROUP LTD"],
        ["TEAM.NAS", "Atlassian"],
        ["TELL.NAS", "Tellurian"],
        ["TIGO.NAS", "Millicom International Cellular SA"],
        ["TNDM.NAS", "Tandem Diabetes Care Inc"],
        ["TNXP.NAS", "Tonix Pharmaceuticals Holding Corp"],
        ["TPIC.NAS", "TPI Composites Inc"],
        ["TREE.NAS", "LendingTree Inc"],
        ["TRIP.NAS", "TripAdvisor"],
        ["TRVG.NAS", "Trivago NV"],
        ["TRVN.NAS", "Trevena Inc"],
        ["TSEM.NAS", "Tower Semiconductor Ltd"],
        ["TTCF.NAS", "Tattooed Chef Inc"],
        ["TTOO.NAS", "T2 Biosystems Inc"],
        ["TVTY.NAS", "Tivity Health Inc"],
        ["TXMD.NAS", "TherapeuticsMD Inc"],
        ["TXRH.NAS", "Texas Roadhouse Inc"],
        ["UEIC.NAS", "Universal Electronics Inc"],
        ["UNIT.NAS", "Uniti Group Inc"],
        ["UPWK.NAS", "Upwork Inc."],
        ["URBN.NAS", "Urban Outfitters"],
        ["USCR.NAS", "US Concrete Inc"],
        ["UTHR.NAS", "United Therapeutics Corp"],
        ["VBIV.NAS", "VBI Vaccines Inc"],
        ["VC.NAS", "Visteon Corp"],
        ["VCYT.NAS", "Veracyte Inc"],
        ["VEON.NAS", "Veon Ltd"],
        ["VIAV.NAS", "Viavi Solutions Inc"],
        ["VIR.NAS", "Vir Biotechnology Inc"],
        ["VKTX.NAS", "Viking Therapeutics, Inc."],
        ["VONG.NAS", "Vanguard Russell 1000 Growth ETF"],
        ["VRA.NAS", "Vera Bradley Inc"],
        ["VRAY.NAS", "ViewRay Inc"],
        ["VREX.NAS", "Varex Imaging Corp"],
        ["VRM.NAS", "Vroom Inc"],
        ["VSTM.NAS", "Verastem Inc"],
        ["VTIP.NAS", "Vanguard Short-Term Inflation-Protected Securities ETF"],
        ["VUZI.NAS", "Vuzix Corporation"],
        ["VXRT.NAS", "Vaxart Inc"],
        ["VYGR.NAS", "Voyager Therapeutics, Inc."],
        ["VYNE.NAS", "Vyne Therapeutics Inc"],
        ["WATT.NAS", "Energous Corp"],
        ["WB.NAS", "Weibo Corp"],
        ["WEN.NAS", "Wendys/Arby"],
        ["WETF.NAS", "WisdomTree Investments Inc"],
        ["WIMI.NAS", "WiMi Hologram Cloud Inc"],
        ["WIX.NAS", "Wix.com Ltd"],
        ["WKHS.NAS", "Workhorse Group Inc"],
        ["WTRH.NAS", "Waitr Holdings Inc."],
        ["WW.NAS", "Weight Watchers International"],
        ["XBIT.NAS", "XBiotech Inc"],
        ["XNET.NAS", "Xunlei Ltd"],
        ["XP.NAS", "Xp Inc"],
        ["XSPA.NAS", "XpresSpa Group Inc"],
        ["YNDX.NAS", "Yandex NV"],
        ["ZYNE.NAS", "Zynerba Pharmaceuticals Inc"],
        ["ZYXI.NAS", "Zynex Inc"],

        ["CLMT.NAS", "Calumet Specialty Products Par"],
        ["VG.NAS", "Vontier"],
        ["JKHY.NAS", "Jack Henry & Associates"],

        ["ADTH.NAS", "AdTheorent Holding Company Inc"],
        ["ADAG.NAS", "Adagene Inc ADR"],
        ["ADGI.NAS", "Adagio Therapeutics Inc."],
        ["ADMP.NAS", "Adamis Pharmaceuticals Corp"],
        ["AHCO.NAS", "Adapthealth Corp"],
        ["ADPT.NAS", "Adaptive Biotechnologies"],
        ["ADUS.NAS", "Addus Homecare Corp"],
        ["ADES.NAS", "Advanced Emissions Solutions Inc"],
        ["ADV.NAS", "Advantage Solutions Inc"],
        ["ADN.NAS", "Advent Technologies Holdings Inc"],
        ["AGLE.NAS", "Aeglea BioTherapeutics, Inc."],
        ["AEHR.NAS", "Aehr Test Systems"],
        ["AMTX.NAS", "Aemetis Inc"],
        ["AFMD.NAS", "Affimed N.V."],
        ["AFYA.NAS", "Afya Ltd"],
        ["BIRD.NAS", "Allbirds Inc."],
        ["ATEC.NAS", "Alphatec Holdings Inc"],
        ["ALPN.NAS", "Alpine Immune Sciences Inc"],
        ["ASTE.NAS", "Astec Industries Inc"],
        ["AZN.NAS", "AstraZeneca (US)"],
        ["ACLS.NAS", "Axcelis Technologies Inc"],
        ["AXON.NAS", "Axon Enterprise Inc"],
        ["CHI.NAS", "Calamos Convertible Opportunities and Income Fund"],
        ["CBAN.NAS", "Colony Bankcorp Inc"],
        ["CNCE.NAS", "Concert Pharmaceuticals Inc"],
        ["CFRX.NAS", "ContraFect Corp"],
        ["CTKB.NAS", "Cytek Biosciences Inc"],
        ["GMTX.NAS", "Gemini Therapeutics Inc"],
        ["GABC.NAS", "German American Bancorp Inc"],
        ["GRAB.NAS", "Grab Holdings Limited"],
        ["GRIN.NAS", "Grindrod Shipping Holdings Ltd"],
        ["GRPN.NAS", "Groupon"],
        ["GRWG.NAS", "GrowGeneration Corp"],
        ["MNDY.NAS", "Monday.com Ltd"],
        ["RIVN.NAS", "Rivian Automotive Inc."],
        ["RKLB.NAS", "Rocket Lab USA Inc"],
        ["RCKT.NAS", "Rocket Pharmaceuticals, Inc."],
        ["ROVR.NAS", "Rover Group Inc"],
        ["SGA.NAS", "Saga Communications Inc"],
        ["SPNS.NAS", "Sapiens International Corp"],
        ["SILK.NAS", "Silk Road Medical Inc"],
        ["SBTX.NAS", "Silverback Therapeutics Inc"],
        ["SOFI.NAS", "SoFi Technologies"],
        ["STKL.NAS", "SunOpta Inc (US)"],
        ["GLG.NAS", "TD Holdings Inc"],
        ["TFSL.NAS", "TFS Financial Corp"],
        ["TSBK.NAS", "Timberland Bancorp Inc"],
        ["UPST.NAS", "Upstart Holdings Inc"],
        ["URGN.NAS", "UroGen Pharma Ltd."],
        ["USIO.NAS", "Usio Inc"],
        ["VECO.NAS", "Veeco Instruments Inc"],
        ["VNOM.NAS", "Viper Energy Partners LP"],
        ["WERN.NAS", "Werner Enterprises Inc"],

        ["ABEO.NAS", "Abeona Therapeutics Inc."],
        ["AIKI.NAS", "Aikido Pharma Inc"],
        ["ALRN.NAS", "Aileron Therapeutics Inc"],
        ["ATSG.NAS", "Air Transport Services Group Inc"],
        ["AIRS.NAS", "AirSculpt Technologies Inc."],
        ["AIRG.NAS", "Airgain Inc"],
        ["ANTE.NAS", "Airnet Technology Inc"],
        ["AKTX.NAS", "Akari Therapeutics PLC"],
        ["KERN.NAS", "Akerna Corp"],
        ["AKRO.NAS", "Akero Therapeutics Inc"],
        ["AKUS.NAS", "Akouos Inc"],
        ["AKTS.NAS", "Akoustis Technologies Inc"],
        ["AKYA.NAS", "Akoya Biosciences, Inc."],
        ["AHG.NAS", "Akso Health Group"],
        ["ALBO.NAS", "Albireo Pharma, Inc"],
        ["ALEC.NAS", "Alector Inc"],
        ["ALRS.NAS", "Werner Enterprises Inc"],
        ["DOX.NAS", "Amdocs Ltd"],
        ["BGRY.NAS", "Berkshire Grey Inc"],
        ["BZFD.NAS", "BuzzFeed Inc"],
        ["CWST.NAS", "Casella Waste Systems Inc"],
        ["CASS.NAS", "Cass Information Systems Inc"],
        ["SAVA.NAS", "Cassava Sciences Inc"],
        ["CSTL.NAS", "Castle Biosciences Inc"],
        ["CTRM.NAS", "Castor Maritime Inc"],
        ["CATY.NAS", "Cathay General Bancorp"],
        ["CVCO.NAS", "Cavco Industries Inc"],
        ["CECE.NAS", "Ceco Environmental Corp"],
        ["CELC.NAS", "Celcuity Inc"],
        ["CLBT.NAS", "Cellebrite DI Ltd"],
        ["CLRB.NAS", "Cellectar Biosciences Inc"],
        ["CLSN.NAS", "Celsion Corp"],
        ["CELH.NAS", "Celsius Holdings Inc"],
        ["CELU.NAS", "Celularity Inc"],
        ["CENN.NAS", "Cenntro Electric Group Ltd"],
        ["COIN.NAS", "Coinbase Global Inc"],
        ["CRSR.NAS", "Corsair Gaming Inc"],
        ["DAVE.NAS", "Dave Inc"],
        ["DAWN.NAS", "Day One Biopharmaceuticals Inc"],
        ["EKSO.NAS", "Ekso Bionics Holdings Inc"],
        ["GAME.NAS", "Engine Gaming and Media Inc"],
        ["GMBL.NAS", "Esports Entertainment Group Inc"],
        ["EVO.NAS", "Evotec SE"],
        ["EXAI.NAS", "Ex Scientia Limited"],
        ["XGN.NAS", "Exagen Inc"],
        ["XCUR.NAS", "Exicure Inc"],
        ["EXLS.NAS", "ExlService Holdings Inc"],
        ["EXFY.NAS", "Expensify Inc"],
        ["EXPO.NAS", "Exponent Inc"],
        ["GSIT.NAS", "GSI Technology Inc"],
        ["LAND.NAS", "Gladstone Land Corp"],
        ["ICFI.NAS", "ICF International Inc"],
        ["IGAC.NAS", "IG Acquisition Corp"],
        ["IGMS.NAS", "IGM Biosciences Inc"],
        ["LTRY.NAS", "Lottery.com"],
        ["MCFE.NAS", "McAfee Corp"],
        ["SHEN.NAS", "Shenandoah Telecommunications Co"],
        ["SHLS.NAS", "Shoals Technologies Group Inc"],
        ["SCVL.NAS", "Shoe Carnival Inc"],
        ["SHBI.NAS", "Shore Bancshares Inc"],
        ["SHYF.NAS", "Shyft Group Inc"],
        ["SITM.NAS", "SiTime Corp"],
        ["BSRR.NAS", "Sierra Bancorp"],
        ["SIER.NAS", "Sierra Lake Acquisition Corp"],
        ["SRRA.NAS", "Sierra Oncology Inc"],
        ["SWIR.NAS", "Sierra Wireless Inc (US)"],
        ["SIFY.NAS", "Sify Technologies Ltd"],
        ["SGHT.NAS", "Sight Sciences Inc."],
        ["SGTX.NAS", "Sigilon Therapeutics, Inc."],
        ["SILC.NAS", "Silicom Ltd"],
        ["SIMO.NAS", "Silicon Motion Technology Corp"],
        ["SAMG.NAS", "Silvercrest Asset Management Group Inc"],
        ["SFNC.NAS", "Simmons First National Corp"],
        ["STGW.NAS", "Stagwell Inc"],
        ["SBLK.NAS", "Star Bulk Carriers Corp"],
        ["STFC.NAS", "State Auto Financial Corp"],
        ["MITO.NAS", "Stealth BioTherapeutics Corp"],
        ["GASS.NAS", "StealthGas Inc"],
        ["STCN.NAS", "Steel Connect Inc"],
        ["STEP.NAS", "StepStone Group Inc"],
        ["SBT.NAS", "Sterling Bancorp Inc"],
        ["STER.NAS", "Sterling Check Corp."],
        ["STRL.NAS", "Sterling Construction Company Inc"],
        ["TWKS.NAS", "Thoughtworks Holding Inc."],
        ["TDUP.NAS", "ThredUp Inc."],
        ["THRY.NAS", "Thryv Holdings Inc"],
        ["VINC.NAS", "Vincerx Pharma Inc"],
        ["VINP.NAS", "Vinci Partners Investments Ltd"],
        ["BBIG.NAS", "Vinco Ventures Inc"],
        ["VIOT.NAS", "Viomi Technology Co Ltd"],
        ["EBET.NAS", "eSports Technologies, Inc."],
        ["CASS.NAS", "Cass Information Systems Inc"],

    ].sort((a, b) => a[0].localeCompare(b[0]))
}
%>
<div class="single-design-search">
    <div class="group search">
        <span>Search by Symbol</span>
        <input class="spreads-search-box" type="search"/>
    </div>
    <div class="group skin">
        <span class="skin-label">Table Skin</span>
        <span class="skin-toggle skin-light">&nbsp;</span>
        <span class="skin-toggle skin-dark">&nbsp;</span>
    </div>
</div>

<%- include('./spread-table-component.ejs', {
    extraClass: 'stocks',
    tableSkin: 'light-skin',
    slotMobile: null,
    slotTablet: null,
    slotDesktop: null,
    colHeadersMobile: stocks3Table.stocksSpreadsColHeadersDesktop,
    mobileData: stocks3Table.stocksSpreadsData,
    colHeadersTablet: stocks3Table.stocksSpreadsColHeadersDesktop,
    tabletData: stocks3Table.stocksSpreadsData,
    colHeadersDesktop: stocks3Table.stocksSpreadsColHeadersDesktop,
    desktopData: stocks3Table.stocksSpreadsData
}); %>
</div>
