<link rel="stylesheet" href="<%=md5('/css/components/stocks2-table.css')%>">
<div class="markets-spread-table stocks-spread-table">
<%
let stocks2Table = {
    stocksSpreadsColHeadersDesktop: ['MT5 Symbol', 'NYSE Stocks'],
	stocksSpreadsData: [
        ["ABBV.NYSE", "AbbVie Inc CFD"],
        ["ABT.NYSE", "Abbott Labs CFD"],
        ["ACB.NYSE", "AURORA CANNABIS ACB.NYSE CFD"],
        ["AGN.NYSE", "Allergan plc CFD"],
		["AMT.NYSE", "American Tower Corporation (REIT) CFD"],
        ["AXP.NYSE", "American Express CFD"],
        ["BA.NYSE", "Boeing Co CFD"],
		["BABA.NYSE", "Alibaba Group Holding Limited CFD"],
        ["BAC.NYSE", "Bank Of America CFD"],
        ["BLK.NYSE", "Blackrock Inc CFD"],
        ["BMY.NYSE", "Bristol Myers Sq CFD"],
        ["BRK-B.NYSE", "Berkshire Hathaway Inc - B Shares CFD"],
        ["C.NYSE", "Citigroup CFD"],
        ["CGC.NYSE", "Canopy Growth Corp. CFD"],
        ["CVS.NYSE", "CVS Health Corp CFD"],
        ["CVX.NYSE", "Chevron Corp CFD"],
        ["DEO.NYSE", "Diageo plc CFD"],
        ["DD.NYSE", "DuPont de Nemours Inc"],
        ["DIS.NYSE", "Walt Disney Co CFD"],
        ["EEM.NYSE", "Shares MSCI Emerging Markets ETF CFD"],
        ["EWH.NYSE", "iShares MSCI Hong Kong ETF CFD"],
        ["EWW.NYSE", "iShares MSCI Mexico Capped ETF CFD"],
        ["EWZ.NYSE", "iShares MSCI Brazil Capped ETF CFD"],
        ["FXI.NYSE", "iShares China Large-Cap ETF CFD"],
        ["GDX.NYSE", "Vaneck Vectors Gold Miners ETF CFD"],
        ["GE.NYSE", "General Elec Co CFD"],
        ["GS.NYSE", "Goldman Sachs CFD"],
        ["HD.NYSE", "Home Depot CFD"],
        ["HON.NYSE", "Honeywell International Inc CFD"],
        ["IBM.NYSE", "IBM CFD"],
        ["IEMG.NYSE", "iShares Core MSCI Emerging Markets ETF CFD"],
        ["JNJ.NYSE", "Johnson and Johnson CFD"],
        ["JPM.NYSE", "J.P. Morgan Chase CFD"],
        ["KO.NYSE", "Coca Cola Co CFD"],
		["LIN.NYSE", "Linde plc CFD"],
        ["LLY.NYSE", "Eli Lilly CFD"],
        ["LMT.NYSE", "Lockheed Martin CFD"],
        ["LQD.NYSE", "iShares iBoxx $ Invmt Grade Corp Bd ETF CFD"],
        ["MA.NYSE", "Mastercard CFD"],
        ["MCD.NYSE", "McDonald's Corp CFD"],
        ["MJ.NYSE", "ETFMG Alternative Harvest ETF CFD"],
        ["MMM.NYSE", "3M Company CFD"],
        ["MO.NYSE", "Altria Group Inc CFD"],
        ["MRK.NYSE", "Merck and Co CFD"],
        ["MS.NYSE", "Morgan Stanley CFD"],
		["NEE.NYSE", "NextEra Energy, Inc. CFD"],
        ["NKE.NYSE", "Nike CL B CFD"],
        ["ORCL.NYSE", "Oracle CFD"],
        ["PFE.NYSE", "Pfizer CFD"],
        ["PG.NYSE", "Procter and Gamble CFD"],
        ["PINS.NYSE", "Pinterest Inc CFD"],
        ["PM.NYSE", "Philip Morris CFD"],
        ["SLB.NYSE", "Schlumberger CFD"],
        ["T.NYSE", "ATandT CFD"],
		["TMO.NYSE", "Thermo Fisher Scientific Inc. CFD"],
        ["UBER.NYSE", "Uber Technologies Inc CFD"],
        ["UNG.NYSE", "United States Natural Gas CFD"],
        ["UNH.NYSE", "UnitedHealth Group CFD"],
        ["UNP.NYSE", "Union Pacific Cp CFD"],
        ["UPS.NYSE", "United Parcel Services CFD"],
        ["URA.NYSE", "Global X Uranium ETF CFD"],
        ["USB.NYSE", "US Bancorp CFD"],
        ["USO.NYSE", "United States Oil CFD"],
        ["V.NYSE", "Visa CFD"],
        ["VYM.NYSE", "Vanguard High Dividend Yield ETF CFD"],
        ["VZ.NYSE", "Verizon Communications Inc CFD"],
        ["WFC.NYSE", "Wells Fargo and Co CFD"],
        ["WMT.NYSE", "Wal-Mart Stores CFD"],
        ["XLE.NYSE", "Energy Select Sector SPDR ETF CFD"],
        ["XLF.NYSE", "Financial Select Sector SPDR ETF CFD"],
        ["XLI.NYSE", "Industrial Select Sector SPDR ETF CFD"],
        ["XLP.NYSE", "Consumer Staples Select Sector SPDR ETF CFD"],
        ["XLU.NYSE", "Utilities Select Sector SPDR ETF CFD"],
        ["XOM.NYSE", "Exxon Mobil CFD"],
        ["XOP.NYSE", "SPDR S&P Oil & Gas Explor & Prodtn ETF CFD"],
        ["A.NYSE", "Agilent Technologies Inc"],
        ["AAP.NYSE", "Advance Auto Parts"],
        ["ABC.NYSE", "AmerisourceBergen Corp"],
        ["ADM.NYSE", "Archer-Daniels-Midland Co"],
        ["AEE.NYSE", "Ameren Corp"],
        ["AES.NYSE", "AES Corp"],
        ["AFL.NYSE", "AFLAC Inc"],
        ["AIG.NYSE", "American International Group"],
        ["AIZ.NYSE", "Assurant"],
        ["AJG.NYSE", "Arthur J. Gallagher & Co."],
        ["ALB.NYSE", "Albemarle Corp"],
        ["ALK.NYSE", "Alaska Air Group Inc"],
        ["ALL.NYSE", "Allstate Corp"],
        ["ALLE.NYSE", "Allegion"],
        ["AMCR.NYSE", "Amcor plc"],
        ["AME.NYSE", "AMETEK Inc."],
        ["AMP.NYSE", "Ameriprise Financial"],
        ["ANET.NYSE", "Arista Networks"],
        ["ANTM.NYSE", "Anthem Inc"],
        ["AON.NYSE", "Aon plc"],
        ["AOS.NYSE", "A.O. Smith Corp"],
        ["APD.NYSE", "Air Products & Chemicals Inc"],
        ["APH.NYSE", "Amphenol Corp"],
        ["APTV.NYSE", "Aptiv PLC"],
        ["ARE.NYSE", "Alexandria Real Estate Equities"],
        ["ATO.NYSE", "Atmos Energy"],
        ["AVB.NYSE", "AvalonBay Communities"],
        ["AVY.NYSE", "Avery Dennison Corp"],
        ["AWK.NYSE", "American Water Works Company Inc"],
        ["AZO.NYSE", "AutoZone Inc"],
        ["BAX.NYSE", "Baxter International Inc."],
        ["BBY.NYSE", "Best Buy Co. Inc."],
        ["BDX.NYSE", "Becton Dickinson"],
        ["BF/B.NYSE", "Brown-Forman Corp."],
        ["BIO.NYSE", "Bio-Rad Laboratories"],
        ["BK.NYSE", "The Bank of New York Mellon"],
        ["BKR.NYSE", "Baker Hughes Co"],
        ["BLL.NYSE", "Ball Corp"],
        ["BR.NYSE", "Broadridge Financial Solutions"],
        ["BSX.NYSE", "Boston Scientific"],
        ["BWA.NYSE", "BorgWarner"],
        ["BXP.NYSE", "Boston Properties"],
        ["CAG.NYSE", "Conagra Brands"],
        ["CAH.NYSE", "Cardinal Health Inc."],
        ["CARR.NYSE", "Carrier Global"],
        ["CAT.NYSE", "Caterpillar Inc."],
        ["CB.NYSE", "Chubb Ltd"],
        ["CBRE.NYSE", "CBRE Group"],
        ["CCI.NYSE", "Crown Castle International Corp."],
        ["CCL.NYSE", "Carnival Corp."],
        ["CE.NYSE", "Celanese"],
        ["CF.NYSE", "CF Industries Holdings Inc"],
        ["CFG.NYSE", "Citizens Financial Group"],
        ["CHD.NYSE", "Church & Dwight"],
        ["CI.NYSE", "CIGNA Corp."],
        ["CL.NYSE", "Colgate-Palmolive"],
        ["CLX.NYSE", "The Clorox Company"],
        ["CMA.NYSE", "Comerica Inc."],
        ["CMG.NYSE", "Chipotle Mexican Grill"],
        ["CMI.NYSE", "Cummins Inc."],
        ["CMS.NYSE", "CMS Energy"],
        ["CNC.NYSE", "Centene Corporation"],
        ["CNP.NYSE", "CenterPoint Energy"],
        ["COF.NYSE", "Capital One Financial"],
        ["COG.NYSE", "Cabot Oil & Gas"],
        ["COO.NYSE", "The Cooper Companies"],
        ["COP.NYSE", "ConocoPhillips"],
        ["CPB.NYSE", "Campbell Soup"],
        ["CTLT.NYSE", "Catalent"],
        ["CTVA.NYSE", "Corteva"],
        ["DE.NYSE", "Deere & Co."],
        ["DHI.NYSE", "D. R. Horton"],
        ["DHR.NYSE", "Danaher Corp."],
        ["DRI.NYSE", "Darden Restaurants"],
        ["DVA.NYSE", "DaVita Inc."],
        ["ED.NYSE", "Consolidated Edison"],
        ["GLW.NYSE", "Corning Inc."],
        ["KMX.NYSE", "Carmax Inc"],
        ["SCHW.NYSE", "Charles Schwab Corporation"],
        ["STZ.NYSE", "Constellation Brands"],
        ["BEN.NYSE", "Franklin Resources"],
        ["D.NYSE", "Dominion Energy"],
        ["DAL.NYSE", "Delta Air Lines Inc."],
        ["DFS.NYSE", "Discover Financial Services"],
        ["DG.NYSE", "Dollar General"],
        ["DLR.NYSE", "Digital Realty Trust Inc"],
        ["DOV.NYSE", "Dover Corporation"],
        ["DOW.NYSE", "Dow Inc."],
        ["DPZ.NYSE", "Domino's Pizza"],
        ["DRE.NYSE", "Duke Realty Corp"],
        ["DTE.NYSE", "DTE Energy Co."],
        ["DUK.NYSE", "Duke Energy"],
        ["DVN.NYSE", "Devon Energy"],
        ["DXC.NYSE", "DXC Technology"],
        ["ECL.NYSE", "Ecolab Inc."],
        ["EFX.NYSE", "Equifax Inc."],
        ["EIX.NYSE", "Edison Int'l"],
        ["EL.NYSE", "Estée Lauder Companies"],
        ["EMN.NYSE", "Eastman Chemical"],
        ["EMR.NYSE", "Emerson Electric Company"],
        ["EOG.NYSE", "EOG Resources"],
        ["EQR.NYSE", "Equity Residential"],
        ["ES.NYSE", "Eversource Energy"],
        ["ESS.NYSE", "Essex Property Trust, Inc."],
        ["ETN.NYSE", "Eaton Corporation"],
        ["ETR.NYSE", "Entergy Corp."],
        ["EVRG.NYSE", "Evergy"],
        ["EW.NYSE", "Edwards Lifesciences"],
        ["EXR.NYSE", "Extra Space Storage"],
        ["F.NYSE", "Ford Motor Company"],
        ["FBHS.NYSE", "Fortune Brands Home & Security"],
        ["FCX.NYSE", "Freeport-McMoRan Inc."],
        ["FDX.NYSE", "FedEx Corporation"],
        ["FE.NYSE", "FirstEnergy Corp"],
        ["FIS.NYSE", "Fidelity National Information Services"],
        ["FLS.NYSE", "Flowserve Corporation"],
        ["FLT.NYSE", "FleetCor Technologies Inc"],
        ["FMC.NYSE", "FMC Corporation"],
        ["FRC.NYSE", "First Republic Bank"],
        ["FRT.NYSE", "Federal Realty Investment Trust"],
        ["FTV.NYSE", "Fortive Corp"],
        ["GD.NYSE", "General Dynamics"],
        ["GIS.NYSE", "General Mills"],
        ["GL.NYSE", "Globe Life Inc."],
        ["GM.NYSE", "General Motors"],
        ["GPN.NYSE", "Global Payments Inc."],
        ["GPS.NYSE", "Gap Inc."],
        ["GWW.NYSE", "Grainger (W.W.) Inc."],
        ["HAL.NYSE", "Halliburton Co."],
        ["HBI.NYSE", "Hanesbrands Inc"],
        ["HCA.NYSE", "HCA Healthcare"],
        ["HES.NYSE", "Hess Corporation"],
        ["HFC.NYSE", "HollyFrontier Corp"],
        ["HIG.NYSE", "Hartford Financial Svc.Gp."],
        ["HII.NYSE", "Huntington Ingalls Industries"],
        ["HLT.NYSE", "Hilton Worldwide Holdings Inc"],
        ["HPE.NYSE", "Hewlett Packard Enterprise"],
        ["HPQ.NYSE", "HP Inc."],
        ["HRL.NYSE", "Hormel Foods Corp."],
        ["HSY.NYSE", "The Hershey Company"],
        ["HUM.NYSE", "Humana Inc."],
        ["HWM.NYSE", "Howmet Aerospace"],
        ["ICE.NYSE", "Intercontinental Exchange"],
        ["IEX.NYSE", "IDEX Corporation"],
        ["IFF.NYSE", "International Flavors & Fragrances"],
        ["INFO.NYSE", "IHS Markit Ltd."],
        ["IP.NYSE", "International Paper"],
        ["IPG.NYSE", "Interpublic Group"],
        ["IR.NYSE", "Ingersoll Rand"],
        ["IT.NYSE", "Gartner Inc"],
        ["ITW.NYSE", "Illinois Tool Works"],
        ["IVZ.NYSE", "Invesco Ltd."],
        ["PEAK.NYSE", "Healthpeak Properties"],
        ["RE.NYSE", "Everest Re Group Ltd."],
        ["IQV.NYSE", "IQVIA Holdings Inc."],
        ["IRM.NYSE", "Iron Mountain Incorporated"],
        ["J.NYSE", "Jacobs Engineering Group"],
        ["JCI.NYSE", "Johnson Controls International"],
        ["JNPR.NYSE", "Juniper Networks"],
        ["K.NYSE", "Kellogg Co."],
        ["KEY.NYSE", "KeyCorp"],
        ["KEYS.NYSE", "Keysight Technologies"],
        ["KIM.NYSE", "Kimco Realty"],
        ["KMB.NYSE", "Kimberly-Clark"],
        ["KMI.NYSE", "Kinder Morgan"],
        ["KR.NYSE", "Kroger Co."],
        ["KSU.NYSE", "Kansas City Southern"],
        ["L.NYSE", "Loews Corp."],
        ["LB.NYSE", "L Brands Inc."],
        ["LDOS.NYSE", "Leidos Holdings"],
        ["LEG.NYSE", "Leggett & Platt"],
        ["LEN.NYSE", "Lennar Corp."],
        ["LH.NYSE", "Laboratory Corp. of America Holding"],
        ["LHX.NYSE", "L3Harris Technologies"],
        ["LNC.NYSE", "Lincoln National"],
        ["LOW.NYSE", "Lowe's Cos."],
        ["LUMN.NYSE", "Lumen Technologies"],
        ["LVS.NYSE", "Las Vegas Sands"],
        ["LW.NYSE", "Lamb Weston Holdings Inc"],
        ["LYB.NYSE", "LyondellBasell"],
        ["LYV.NYSE", "Live Nation Entertainment"],
        ["MAA.NYSE", "Mid-America Apartments"],
        ["MAS.NYSE", "Masco Corp."],
        ["MCK.NYSE", "McKesson Corp."],
        ["MCO.NYSE", "Moody's Corp"],
        ["MDT.NYSE", "Medtronic plc"],
        ["MET.NYSE", "MetLife Inc."],
        ["MGM.NYSE", "MGM Resorts International"],
        ["MHK.NYSE", "Mohawk Industries"],
        ["MKC.NYSE", "McCormick & Co."],
        ["MLM.NYSE", "Martin Marietta Materials"],
        ["MMC.NYSE", "Marsh & McLennan"],
        ["MOS.NYSE", "The Mosaic Company"],
        ["MPC.NYSE", "Marathon Petroleum"],
        ["MRO.NYSE", "Marathon Oil Corp."],
        ["MSCI.NYSE", "MSCI Inc"],
        ["MSI.NYSE", "Motorola Solutions Inc."],
        ["MTB.NYSE", "M&T Bank Corp."],
        ["MTD.NYSE", "Mettler Toledo"],
        ["NCLH.NYSE", "Norwegian Cruise Line Holdings"],
        ["NEM.NYSE", "Newmont Corporation"],
        ["NI.NYSE", "NiSource Inc."],
        ["NLSN.NYSE", "Nielsen Holdings"],
        ["NOC.NYSE", "Northrop Grumman"],
        ["NOV.NYSE", "NOV Inc."],
        ["NRG.NYSE", "NRG Energy"],
        ["NSC.NYSE", "Norfolk Southern Corp."],
        ["NUE.NYSE", "Nucor Corp."],
        ["NVR.NYSE", "NVR, Inc."],
        ["OKE.NYSE", "ONEOK"],
        ["OMC.NYSE", "Omnicom Group"],
        ["OTIS.NYSE", "Otis Worldwide"],
        ["OXY.NYSE", "Occidental Petroleum"],
        ["PAYC.NYSE", "Paycom"],
        ["PEG.NYSE", "Public Service Enterprise Group (PSEG)"],
        ["PGR.NYSE", "Progressive Corp."],
        ["PH.NYSE", "Parker-Hannifin"],
        ["PKG.NYSE", "Packaging Corporation of America"],
        ["PKI.NYSE", "PerkinElmer"],
        ["PLD.NYSE", "Prologis"],
        ["PNC.NYSE", "PNC Financial Services"],
        ["PNR.NYSE", "Pentair plc"],
        ["PNW.NYSE", "Pinnacle West Capital"],
        ["PPG.NYSE", "PPG Industries"],
        ["PPL.NYSE", "PPL Corp."],
        ["PRGO.NYSE", "Perrigo"],
        ["PRU.NYSE", "Prudential Financial"],
        ["PSX.NYSE", "Phillips 66"],
        ["PXD.NYSE", "Pioneer Natural Resources"],
        ["SJM.NYSE", "JM Smucker"],
        ["TAP.NYSE", "Molson Coors Beverage Company"],
        ["PSA.NYSE", "Public Storage"],
        ["PHM.NYSE", "PulteGroup"],
        ["PVH.NYSE", "PVH Corp."],
        ["PWR.NYSE", "Quanta Services Inc."],
        ["DGX.NYSE", "Quest Diagnostics"],
        ["RJF.NYSE", "Raymond James Financial, Inc."],
        ["RYN.NYSE", "Rayonier Inc."],
        ["O.NYSE", "Realty Income Corporation"],
        ["RF.NYSE", "Regions Financial Corp."],
        ["RSG.NYSE", "Republic Services Inc"],
        ["RMD.NYSE", "ResMed"],
        ["RHI.NYSE", "Robert Half International"],
        ["ROK.NYSE", "Rockwell Automation Inc."],
        ["ROL.NYSE", "Rollins, Inc."],
        ["ROP.NYSE", "Roper Technologies"],
        ["RCL.NYSE", "Royal Caribbean Group"],
        ["SPGI.NYSE", "S&P Global Inc."],
        ["CRM.NYSE", "Salesforce.com"],
        ["SEE.NYSE", "Sealed Air"],
        ["SRE.NYSE", "Sempra Energy"],
        ["NOW.NYSE", "ServiceNow"],
        ["SHW.NYSE", "Sherwin-Williams"],
        ["SPG.NYSE", "Simon Property Group Inc"],
        ["SLG.NYSE", "SL Green Realty"],
        ["SNA.NYSE", "Snap-on"],
        ["SO.NYSE", "Southern Company"],
        ["LUV.NYSE", "Southwest Airlines"],
        ["SWK.NYSE", "Stanley Black & Decker"],
        ["STT.NYSE", "State Street Corp."],
        ["STE.NYSE", "STERIS plc"],
        ["SYK.NYSE", "Stryker Corp."],
        ["SYF.NYSE", "Synchrony Financial"],
        ["SYY.NYSE", "Sysco Corp."],
        ["TPR.NYSE", "Tapestry, Inc."],
        ["TGT.NYSE", "Target Corp."],
        ["TEL.NYSE", "TE Connectivity Ltd."],
        ["FTI.NYSE", "TechnipFMC"],
        ["TDY.NYSE", "Teledyne Technologies"],
        ["TFX.NYSE", "Teleflex"],
        ["TXT.NYSE", "Textron Inc."],
        ["TJX.NYSE", "TJX Companies Inc."],
        ["TT.NYSE", "Trane Technologies plc"],
        ["TDG.NYSE", "TransDigm Group"],
        ["TRV.NYSE", "The Travelers Companies Inc."],
        ["TFC.NYSE", "Truist Financial"],
        ["TWTR.NYSE", "Twitter, Inc."],
        ["TYL.NYSE", "Tyler Technologies"],
        ["TSN.NYSE", "Tyson Foods"],
        ["UDR.NYSE", "UDR, Inc."],
        ["UAA.NYSE", "Under Armour (Class A)"],
        ["UA.NYSE", "Under Armour (Class C)"],
        ["URI.NYSE", "United Rentals, Inc."],
        ["UHS.NYSE", "Universal Health Services"],
        ["UNM.NYSE", "Unum Group"],
        ["VLO.NYSE", "Valero Energy"],
        ["VTR.NYSE", "Ventas Inc"],
        ["VFC.NYSE", "VF Corporation"],
        ["VNO.NYSE", "Vornado Realty Trust"],
        ["VMC.NYSE", "Vulcan Materials"],
        ["WRB.NYSE", "W. R. Berkley Corporation"],
        ["WAB.NYSE", "Westinghouse Air Brake Technologies Corp"],
        ["WM.NYSE", "Waste Management Inc."],
        ["WAT.NYSE", "Waters Corporation"],
        ["WEC.NYSE", "WEC Energy Group"],
        ["WELL.NYSE", "Welltower Inc."],
        ["WST.NYSE", "West Pharmaceutical Services"],
        ["WU.NYSE", "Western Union Co"],
        ["WRK.NYSE", "WestRock"],
        ["WY.NYSE", "Weyerhaeuser"],
        ["WHR.NYSE", "Whirlpool Corp."],
        ["WMB.NYSE", "Williams Companies"],
        ["XRX.NYSE", "Xerox"],
        ["XYL.NYSE", "Xylem Inc."],
        ["YUM.NYSE", "Yum! Brands Inc"],
        ["ZBH.NYSE", "Zimmer Biomet Inc."],
        ["ZTS.NYSE", "Zoetis Inc."],

        ["AGR.NYSE", "Avangrid Inc. Common Stock"],
        ["ALLY.NYSE", "Ally Financial Inc. Common Stock"],
        ["APO.NYSE", "Apollo Global Management Inc. Class A Common Stock"],
        ["ATUS.NYSE", "Altice USA Inc. Class A Common Stock"],
        ["AVLR.NYSE", "Avalara Inc. Common Stock"],
        ["BAH.NYSE", "Booz Allen Hamilton Holding Corporation Common Stock"],
        ["BFAM.NYSE", "Bright Horizons Family Solutions Inc. Common Stock"],
        ["BG.NYSE", "Bunge Limited Bunge Limited"],
        ["BRO.NYSE", "Brown & Brown Inc. Common Stock"],
        ["BX.NYSE", "The Blackstone Group Inc. Class A Common Stock"],
        ["CCIV.NYSE", "Churchill Capital Corp IV Class A Common Stock"],
        ["CCK.NYSE", "Crown Holdings Inc."],
        ["CDAY.NYSE", "Ceridian HCM Holding Inc. Common Stock"],
        ["CPT.NYSE", "Camden Property Trust Common Stock"],
        ["CRL.NYSE", "Charles River Laboratories International Inc. Common Stock"],
        ["CUK.NYSE", "Carnival Plc ADS ADS"],
        ["CVNA.NYSE", "Carvana Co. Class A Common Stock"],
        ["DAR.NYSE", "Darling Ingredients Inc. Common Stock"],
        ["DT.NYSE", "Dynatrace Inc. Common Stock"],
        ["ELAN.NYSE", "Elanco Animal Health Incorporated Common Stock"],
        ["ELS.NYSE", "Equity Lifestyle Properties Inc. Common Stock"],
        ["EPAM.NYSE", "EPAM Systems Inc. Common Stock"],
        ["EPD.NYSE", "Enterprise Products Partners L.P. Common Stock"],
        ["EQH.NYSE", "Equitable Holdings Inc. Common Stock"],
        ["ESTC.NYSE", "Elastic N.V. Ordinary Shares"],
        ["ET.NYSE", "Energy Transfer LP Common Units"],
        ["FDS.NYSE", "FactSet Research Systems Inc. Common Stock"],
        ["FICO.NYSE", "Fair Isaac Corproation Common Stock"],
        ["FNF.NYSE", "FNF Group of Fidelity National Financial Inc. Common Stock"],
        ["GDDY.NYSE", "GoDaddy Inc. Class A Common Stock"],
        ["GNRC.NYSE", "Generac Holdlings Inc. Common Stock"],
        ["GWRE.NYSE", "Guidewire Software Inc. Common Stock"],
        ["HEI.NYSE", "Heico Corporation Common Stock"],
        ["HUBS.NYSE", "HubSpot Inc. Common Stock"],
        ["INVH.NYSE", "Invitation Homes Inc. Common Stock"],
        ["KKR.NYSE", "KKR & Co. Inc. Common Stock"],
        ["LAD.NYSE", "Lithia Motors Inc. Common Stock"],
        ["LII.NYSE", "Lennox International Inc. Common Stock"],
        ["MGP.NYSE", "MGM Growth Properties LLC Class A common shares representing limited liability company interests"],
        ["MKL.NYSE", "Markel Corporation Common Stock"],
        ["MOH.NYSE", "Molina Healthcare Inc Common Stock"],
        ["MPLX.NYSE", "MPLX LP Common Units Representing Limited Partner Interests"],
        ["MPW.NYSE", "Medical Properties Trust Inc. common stock"],
        ["MTN.NYSE", "Vail Resorts Inc. Common Stock"],
        ["NET.NYSE", "Cloudflare Inc. Class A Common Stock"],
        ["NLY.NYSE", "Annaly Capital Management Inc Common Stock"],
        ["OSH.NYSE", "Oak Street Health Inc. Common Stock"],
        ["PANW.NYSE", "Palo Alto Networks Inc. Common Stock"],
        ["PCG.NYSE", "Pacific Gas & Electric Co. Common Stock"],
        ["PLAN.NYSE", "Anaplan Inc. Common Stock"],
        ["QS.NYSE", "QuantumScape Corporation Class A Common Stock"],
        ["RH.NYSE", "RH Common Stock"],
        ["RKT.NYSE", "Rocket Companies Inc. Class A Common Stock"],
        ["RPM.NYSE", "RPM International Inc. Common Stock"],
        ["RTX.NYSE", "Raytheon Technologies Corporation Common Stock"],
        ["SAM.NYSE", "Boston Beer Company Inc. (The) Common Stock"],
        ["SCCO.NYSE", "Southern Copper Corporation Common Stock"],
        ["SE.NYSE", "Sea Limited American Depositary Shares each representing one Class A Ordinary Share"],
        ["SMAR.NYSE", "Smartsheet Inc. Class A Common Stock"],
        ["SMG.NYSE", "Scotts Miracle-Gro Company (The) Common Stock"],
        ["SNAP.NYSE", "Snap Inc. Class A Common Stock"],
        ["SNOW.NYSE", "Snowflake Inc. Class A Common Stock"],
        ["SQ.NYSE", "Square Inc. Class A Common Stock"],
        ["SUI.NYSE", "Sun Communities Inc. Common Stock"],
        ["TDOC.NYSE", "Teladoc Health Inc. Common Stock"],
        ["TREX.NYSE", "Trex Company Inc. Common Stock"],
        ["TRU.NYSE", "TransUnion Common Stock"],
        ["TTC.NYSE", "Toro Company (The) Common Stock"],
        ["TWLO.NYSE", "Twilio Inc. Class A Common Stock"],
        ["UI.NYSE", "Ubiquiti Inc. Common Stock"],
        ["VMW.NYSE", "Vmware Inc. Common stock Class A"],
        ["W.NYSE", "Wayfair Inc. Class A Common Stock"],
        ["WLK.NYSE", "Westlake Chemical Corporation Common Stock"],
        ["WPC.NYSE", "W. P. Carey Inc. REIT"],
        ["WTRG.NYSE", "Essential Utilities Inc. Common Stock"],
        ["YUMC.NYSE", "Yum China Holdings Inc. Common Stock"],

        ["AA.NYSE", "Alcoa Corp"],
        ["AAT.NYSE", "American Assets Trust Inc"],
        ["ABEV.NYSE", "Ambev ADR Representing One Ord Shs"],
        ["ABM.NYSE", "ABM Industries Inc"],
        ["ABR.NYSE", "Arbor Realty Trust Inc"],
        ["ACC.NYSE", "American Campus Communities, Inc."],
        ["ACM.NYSE", "AECOM Technology Corp"],
        ["ADC.NYSE", "Agree Realty Corp"],
        ["ADT.NYSE", "ADT Inc."],
        ["AEO.NYSE", "American Eagle Outfitters"],
        ["AER.NYSE", "AerCap Holdings NV"],
        ["AFG.NYSE", "American Financial Group Inc/O"],
        ["AG.NYSE", "First Majestic Silver Corp (US)"],
        ["AGCO.NYSE", "AGCO Corp"],
        ["AGRO.NYSE", "Adecoagro SA"],
        ["AIN.NYSE", "Albany International Corp"],
        ["AIV.NYSE", "Apartment Investment & Management"],
        ["AJRD.NYSE", "Aerojet Rocketdyne Holdings Inc"],
        ["AKR.NYSE", "Acadia Realty Trust"],
        ["ALX.NYSE", "Alexander's Inc"],
        ["AM.NYSE", "Antero Midstream Partners LP"],
        ["AMG.NYSE", "Affiliated Managers Group Inc"],
        ["AMH.NYSE", "American Homes 4 Rent"],
        ["AMRC.NYSE", "Ameresco Inc"],
        ["AMRX.NYSE", "Amneal Pharmaceuticals"],
        ["AMWL.NYSE", "American Well Corp"],
        ["AMX.NYSE", "America Movil"],
        ["AN.NYSE", "AutoNation"],
        ["ANF.NYSE", "Abercrombie"],
        ["AQUA.NYSE", "Evoqua Water Technologies Corp"],
        ["AR.NYSE", "Antero Resources Corp"],
        ["ARCH.NYSE", "Arch Coal Inc"],
        ["ARCO.NYSE", "Arcos Dorados Holdings Inc"],
        ["ARGO.NYSE", "Argo Group International Holdings"],
        ["ARMK.NYSE", "Aramark Corp"],
        ["AROC.NYSE", "Archrock Inc"],
        ["ARR.NYSE", "ARMOUR Residential REIT Inc"],
        ["ARW.NYSE", "Arrow Electronics Inc"],
        ["ASAN.NYSE", "Asana Inc"],
        ["ASH.NYSE", "Ashland"],
        ["ATGE.NYSE", "Adtalem Global Education Inc"],
        ["ATHM.NYSE", "Autohome Inc"],
        ["ATI.NYSE", "Allegheny Technologies"],
        ["AU.NYSE", "AngloGold Ashanti Limited"],
        ["AUY.NYSE", "Yamana Gold Inc (US)"],
        ["AVTR.NYSE", "Avantor, Inc"],
        ["AXL.NYSE", "American Axle & Manufacturing"],
        ["AXTA.NYSE", "Axalta Coating Systems Ltd"],
        ["AYI.NYSE", "Acuity Brands Inc"],
        ["AYX.NYSE", "Alteryx, Inc"],
        ["AZUL.NYSE", "Azul SA ADR"],
        ["BAM.NYSE", "Brookfield Asset Management Inc"],
        ["BB.NYSE", "Blackberry"],
        ["BBAR.NYSE", "BBVA Argentina SA"],
        ["BBD.NYSE", "Banco Bradesco"],
        ["BC.NYSE", "Brunswick Corp/DE"],
        ["BCO.NYSE", "Brink's Co/The"],
        ["BCS.NYSE", "Barclays PLC"],
        ["BDC.NYSE", "Belden Inc"],
        ["BDJ.NYSE", "BlackRock Enhanced Equity Dividend Trust"],
        ["BDN.NYSE", "Brandywine Realty Trust"],
        ["BE.NYSE", "Bloom Energy Corp"],
        ["BERY.NYSE", "Berry Plastics Group Inc"],
        ["BEST.NYSE", "BEST Inc"],
        ["BFH.NYSE", "Bread Financial Holdings Inc"],        
        ["BIG.NYSE", "Big Lots"],
        ["BIP.NYSE", "Brookfield Infrastructure Partners LP (US)"],
        ["BJ.NYSE", "BJ's Wholesale Club Holdings, Inc."],
        ["BKD.NYSE", "Brookdale Senior Living Inc"],
        ["BMI.NYSE", "Badger Meter Inc"],
        ["BOOT.NYSE", "Boot Barn Holdings"],
        ["BOX.NYSE", "Box Inc"],
        ["BRFS.NYSE", "BRF SA"],
        ["BRX.NYSE", "Brixmor Property Group Inc"],
        ["BSAC.NYSE", "Banco Santander Chile"],
        ["BTI.NYSE", "British American Tobacco PLC"],
        ["BUD.NYSE", "Anheuser Busch Inbev SA"],
        ["BURL.NYSE", "Burlington Stores Inc"],
        ["BW.NYSE", "Babcock & Wilcox Enterprises Inc"],
        ["BXMT.NYSE", "Blackstone Mortgage Trust Inc"],
        ["BXS.NYSE", "BancorpSouth Inc"],
        ["BYD.NYSE", "Boyd Gaming Corp"],
        ["CADE.NYSE", "Cadence Bancorp"],
        ["CAL.NYSE", "Caleres Inc"],
        ["CARS.NYSE", "Cars.com Inc."],
        ["CBB.NYSE", "Cincinnati Bell Inc"],
        ["CBD.NYSE", "Companhia Brasileira de Distribuicao"],
        ["CC.NYSE", "Chemours Co"],
        ["CCEP.NYSE", "Coca-Cola European Partners"],
        ["CCJ.NYSE", "Cameco Corp"],
        ["CCU.NYSE", "Cia Cervecerias Unidas SA"],
        ["CDE.NYSE", "Coeur d'Alene Mines Corp"],
        ["CEN.NYSE", "Center Coast MLP & Infrastructure Fund"],
        ["CHE.NYSE", "Chemed Corp"],
        ["CHGG.NYSE", "Chegg Inc"],
        ["CHS.NYSE", "Chico's FAS Inc"],
        ["CHWY.NYSE", "Chewy, Inc."],
        ["CIEN.NYSE", "Ciena"],
        ["CIG.NYSE", "Companhia Energetica De Minas Gerais Cemig"],
        ["CIM.NYSE", "Chimera Investment Corp"],
        ["CLDR.NYSE", "Cloudera Inc"],
        ["CLDT.NYSE", "Chatham Lodging Trust"],
        ["CLF.NYSE", "Cleveland-Cliffs Inc."],
        ["CLI.NYSE", "Mack-Cali Realty Corp"],
        ["CLR.NYSE", "Continental Resources, Inc."],
        ["CMC.NYSE", "Commercial Metals Co"],
        ["CMRE.NYSE", "Costamare Inc"],
        ["CNK.NYSE", "Cinemark Holdings Inc"],
        ["CNMD.NYSE", "CONMED Corp"],
        ["CNO.NYSE", "CNO Financial Group Inc"],
        ["CNX.NYSE", "CNX Resources Corp"],
        ["CO.NYSE", "Global Cord Blood Corp"],
        ["COLD.NYSE", "AmeriCold Realty Trust"],
        ["CORR.NYSE", "CorEnergy Infrastructure Trust Inc"],
        ["COTY.NYSE", "Coty Inc"],
        ["CPA.NYSE", "Copa Holdings SA"],
        ["CPE.NYSE", "Callon Petroleum Co"],
        ["CPRI.NYSE", "Capri Holdings Ltd"],
        ["CRI.NYSE", "Carter's Inc"],
        ["CRK.NYSE", "Comstock Resources Inc"],
        ["CTT.NYSE", "CatchMark Timber Trust Inc"],
        ["CUBE.NYSE", "CubeSmart"],
        ["CUZ.NYSE", "Cousins Properties Inc"],
        ["CVA.NYSE", "Covanta Holding Corp"],
        ["CVI.NYSE", "CVR Energy Inc"],
        ["CWEN.NYSE", "Clearway Energy Inc"],
        ["CX.NYSE", "CEMEX"],
        ["CXP.NYSE", "Columbia Property Trust Inc"],
        ["CYH.NYSE", "Community Health Systems Inc"],
        ["DAN.NYSE", "Dana Holding Corp"],
        ["DASH.NYSE", "DoorDash Inc"],
        ["DB.NYSE", "Deutsche Bank AG (US)"],
        ["DBD.NYSE", "Diebold Inc"],
        ["DBI.NYSE", "Designer Brands Inc"],
        ["DBRG.NYSE", "DigitalBridge Group Inc"],
        ["DCI.NYSE", "Donaldson Co Inc"],
        ["DDD.NYSE", "3D Systems Corp"],
        ["DDS.NYSE", "Dillard's"],
        ["DECK.NYSE", "Deckers Outdoor Corp"],
        ["DEI.NYSE", "Douglas Emmett Inc"],
        ["DELL.NYSE", "Dell Technologies Inc"],
        ["DEN.NYSE", "Denbury Inc"],
        ["DHT.NYSE", "DHT Holdings Inc"],
        ["DIN.NYSE", "DineEquity Inc"],
        ["DK.NYSE", "Delek US Holdings Inc"],
        ["DKS.NYSE", "Dick's Sporting Goods Inc"],
        ["DNOW.NYSE", "NOW Inc"],
        ["DRH.NYSE", "DiamondRock Hospitality Co"],
        ["DS.NYSE", "Drive Shack Inc"],
        ["DX.NYSE", "Dynex Capital Inc"],
        ["EAT.NYSE", "Brinker International Inc"],
        ["EB.NYSE", "Eventbrite, Inc."],
        ["EBS.NYSE", "Emergent Biosolutions Inc"],
        ["EC.NYSE", "Ecopetrol SA"],
        ["EDU.NYSE", "New Oriental Education & Techn"],
        ["EGHT.NYSE", "8x8 Inc"],
        ["EGO.NYSE", "Eldorado Gold Corp (US)"],
        ["EGP.NYSE", "EastGroup Properties Inc"],
        ["EHC.NYSE", "Encompass Health Corp"],
        ["ELF.NYSE", "e.l.f. Beauty Inc"],
        ["EME.NYSE", "EMCOR Group Inc"],
        ["ENBL.NYSE", "Enable Midstream Partners LP"],
        ["ENR.NYSE", "Energizer Holdings Inc"],
        ["ENS.NYSE", "EnerSys Inc"],
        ["ENV.NYSE", "Envestnet Inc"],
        ["EPC.NYSE", "Edgewell Personal Care Co"],
        ["EPR.NYSE", "EPR Properties"],
        ["EPRT.NYSE", "Essential Properties Realty Trust Inc"],
        ["EQC.NYSE", "Equity Commonwealth"],
        ["EQNR.NYSE", "Equinor ASA - ADR"],
        ["EQT.NYSE", "EQT"],
        ["ESGC.NYSE", "Eros Stx Global Corp"],
        ["ESNT.NYSE", "Essent Group Ltd"],
        ["ESRT.NYSE", "Empire State Realty Trust Inc"],
        ["EVRI.NYSE", "Everi Holdings Inc"],
        ["EXK.NYSE", "Endeavour Silver Corp (US)"],
        ["FAF.NYSE", "First American Financial Corp"],
        ["FBP.NYSE", "First BanCorp/Puerto Rico"],
        ["FCN.NYSE", "FTI Consulting Inc"],
        ["FCPT.NYSE", "Four Corners Property Trust"],
        ["FI.NYSE", "Frank's International NV"],
        ["FL.NYSE", "Foot Locker Inc"],
        ["FLO.NYSE", "Flowers Foods Inc"],
        ["FLR.NYSE", "Fluor Corporation"],
        ["FPI.NYSE", "Farmland Partners Inc"],
        ["FR.NYSE", "First Industrial Realty Trust"],
        ["FSK.NYSE", "FS KKR Capital Corp"],
        ["FSM.NYSE", "Fortuna Silver Mines Inc (US)"],
        ["FSR.NYSE", "Fisker Inc"],
        ["FTAI.NYSE", "Fortress Transportation & Infrastructure Investors"],
        ["FTCH.NYSE", "Farfetch Limited"],
        ["FVRR.NYSE", "Fiverr International Ltd."],
        ["GCI.NYSE", "Gannett Co Inc"],
        ["GDOT.NYSE", "Green Dot Corp"],
        ["GEF.NYSE", "Greif Inc - A"],
        ["GEL.NYSE", "Genesis Energy LP"],
        ["GEO.NYSE", "Geo Group Inc/The"],
        ["GFI.NYSE", "Gold Fields Ltd (US)"],
        ["GGB.NYSE", "Gerdau"],
        ["GHC.NYSE", "Graham Holdings Co"],
        ["GIB.NYSE", "CGI Group Inc (US)"],
        ["GKOS.NYSE", "Glaukos Corp"],
        ["GLOG.NYSE", "GasLog Ltd"],
        ["GLP.NYSE", "Global Partners LP/MA"],
        ["GMED.NYSE", "Globus Medical Inc"],
        ["GMRE.NYSE", "Global Medical REIT Inc"],
        ["GNL.NYSE", "Global Net Lease Inc"],
        ["GNW.NYSE", "Genworth Financial"],
        ["GOL.NYSE", "Gol Linhas Aereas Inteligentes"],
        ["GOLD.NYSE", "Barrick Gold Corp"],
        ["GPI.NYSE", "Group 1 Automotive Inc"],
        ["GPK.NYSE", "Graphic Packaging Holding Co"],
        ["GRA.NYSE", "WR Grace & Co"],
        ["GRUB.NYSE", "GrubHub Inc."],
        ["GTN.NYSE", "Gray Television Inc"],
        ["GTY.NYSE", "Getty Realty Corp"],
        ["GVA.NYSE", "Granite Construction Inc"],
        ["H.NYSE", "Hyatt Hotels"],
        ["HAE.NYSE", "Haemonetics Corp"],
        ["HASI.NYSE", "Hannon Armstrong Sustainable Infrastructure Capital Inc"],
        ["HGV.NYSE", "Hilton Grand Vacations"],
        ["HHC.NYSE", "Howard Hughes Corp/The"],
        ["HIW.NYSE", "Highwoods Properties Inc"],
        ["HLF.NYSE", "Herbalife Ltd"],
        ["HLX.NYSE", "Helix Energy Solutions Group I"],
        ["HMC.NYSE", "Honda Motor Co Ltd"],
        ["HMY.NYSE", "Harmony Gold Mining Co Ltd"],
        ["HOG.NYSE", "Harley Davidson"],
        ["HOME.NYSE", "At Home Group Inc"],
        ["HP.NYSE", "Helmerich"],
        ["HPP.NYSE", "Hudson Pacific Properties Inc"],
        ["HR.NYSE", "Healthcare Realty Trust Inc"],
        ["HRB.NYSE", "H&R Block"],
        ["HSBC.NYSE", "HSBC Holdings plc"],
        ["HSC.NYSE", "Harsco Corp"],
        ["HTA.NYSE", "Healthcare Trust of America Inc"],
        ["HTGC.NYSE", "Hercules Technology Growth Capital Inc"],
        ["HUBB.NYSE", "Hubbell Inc"],
        ["HUN.NYSE", "Huntsman"],
        ["HXL.NYSE", "Hexcel Corp"],
        ["HYLN.NYSE", "Hyliion Holdings Corp"],
        ["HYT.NYSE", "BlackRock Corporate High Yield Fund Inc"],
        ["IBP.NYSE", "Installed Building Products Inc"],
        ["IDA.NYSE", "IDACORP Inc"],
        ["IGT.NYSE", "International Game Technology"],
        ["IIPR.NYSE", "Innovative Industrial Properties Inc"],
        ["IMAX.NYSE", "IMAX Corp (US)"],
        ["INFY.NYSE", "Infosys Technologies"],
        ["ING.NYSE", "ING Groep NV - ADR"],
        ["INGR.NYSE", "Ingredion Inc"],
        ["INN.NYSE", "Summit Hotel Properties Inc"],
        ["INSP.NYSE", "Inspire Medical Systems Inc"],
        ["IRT.NYSE", "Independence Realty Trust Inc"],
        ["ITUB.NYSE", "Itau Unibanco Holding SA"],
        ["IVR.NYSE", "Invesco Mortgage Capital Inc"],
        ["JBGS.NYSE", "JBG SMITH Properties"],
        ["JBL.NYSE", "Jabil Circuit"],
        ["JBT.NYSE", "John Bean Technologies Corp"],
        ["JEF.NYSE", "Jefferies Financial Group Inc"],
        ["JLL.NYSE", "Jones Lang LaSalle Inc"],
        ["JMIA.NYSE", "Jumia Technologies AG"],
        ["JOE.NYSE", "St Joe Co/The"],
        ["JWN.NYSE", "Nordstrom"],
        ["KAR.NYSE", "KAR Auction Services Inc"],
        ["KBH.NYSE", "KB Home"],
        ["KBR.NYSE", "KBR Inc"],
        ["KGC.NYSE", "Kinross Gold Corp (US)"],
        ["KMT.NYSE", "Kennametal Inc"],
        ["KNX.NYSE", "Knight-Swift Transportation Co"],
        ["KOS.NYSE", "Kosmos Energy Ltd"],
        ["KRC.NYSE", "Kilroy Realty Corp"],
        ["KRO.NYSE", "Kronos Worldwide Inc"],
        ["KSS.NYSE", "Kohl's Corporation"],
        ["KW.NYSE", "Kennedy-Wilson Holdings Inc"],
        ["LAZ.NYSE", "Lazard Ltd"],
        ["LBRT.NYSE", "Liberty Oilfield Services Inc"],
        ["LEA.NYSE", "Lear Corp"],
        ["LEVI.NYSE", "Levi Strauss & Co."],
        ["LFC.NYSE", "China Life Insurance Co Ltd ADR"],
        ["LMND.NYSE", "Lemonade Inc"],
        ["LPI.NYSE", "Laredo Petroleum Holdings Inc"],
        ["LPX.NYSE", "Louisiana-Pacific Corp"],
        ["LRN.NYSE", "Stride Inc"],
        ["LSI.NYSE", "Life Storage Inc"],
        ["LTC.NYSE", "LTC Properties Inc"],
        ["LTHM.NYSE", "Livent Corporation"],
        ["LXP.NYSE", "Lexington Realty Trust"],
        ["LYG.NYSE", "Lloyds Banking Group PLC"],
        ["M.NYSE", "Macy's"],
        ["MAC.NYSE", "Macerich Co"],
        ["MAIN.NYSE", "Main Street Capital Corp"],
        ["MAN.NYSE", "ManpowerGroup Inc."],
        ["MANU.NYSE", "Manchester United Plc"],
        ["MAXR.NYSE", "Maxar Technologies Ltd"],
        ["MBT.NYSE", "Mobile TeleSystems OJSC"],
        ["MD.NYSE", "MEDNAX Inc"],
        ["MDC.NYSE", "MDC Holdings Inc"],
        ["MDLA.NYSE", "Medallia Inc"],
        ["MDP.NYSE", "Meredith Corp"],
        ["MDU.NYSE", "MDU Resources Group Inc"],
        ["MED.NYSE", "Medifast Inc"],
        ["MFA.NYSE", "MFA Financial Inc"],
        ["MGY.NYSE", "Magnolia Oil & Gas Corp"],
        ["MITT.NYSE", "AG Mortgage Investment Trust Inc"],
        ["MMI.NYSE", "Marcus & Millichap Inc"],
        ["MNRL.NYSE", "Brigham Minerals Inc"],
        ["MSGS.NYSE", "Madison Square Garden Sport Corp"],
        ["MTDR.NYSE", "Matador Resources Co"],
        ["MTH.NYSE", "Meritage Homes Corp"],
        ["MTOR.NYSE", "Meritor Inc"],
        ["MTW.NYSE", "Manitowoc"],
        ["MTZ.NYSE", "MasTec Inc"],
        ["MUR.NYSE", "Murphy Oil"],
        ["MUSA.NYSE", "Murphy USA Inc"],
        ["MUX.NYSE", "McEwen Mining Inc"],
        ["MWA.NYSE", "Mueller Water Products Inc"],
        ["MX.NYSE", "Magnachip Semiconductor Corp"],
        ["MXL.NYSE", "MaxLinear Inc"],
        ["NAT.NYSE", "Nordic American Tanker Shipping"],
        ["NAV.NYSE", "Navistar International Corp"],
        ["NBR.NYSE", "Nabors Indust"],
        ["NCR.NYSE", "NCR"],
        ["NEP.NYSE", "NextEra Energy Partners LP"],
        ["NEWR.NYSE", "New Relic Inc"],
        ["NIO.NYSE", "NIO Inc."],
        ["NNN.NYSE", "National Retail Properties Inc"],
        ["NOK.NYSE", "Nokia (US)"],
        ["NOMD.NYSE", "Nomad Foods"],
        ["NPTN.NYSE", "NeoPhotonics Corp"],
        ["NRZ.NYSE", "New Residential Investment Corp"],
        ["NS.NYSE", "NuStar Energy LP"],
        ["NSA.NYSE", "National Storage Affiliates Trust"],
        ["NSP.NYSE", "Insperity Inc"],
        ["NUS.NYSE", "Nu Skin Enterprises Inc"],
        ["NVGS.NYSE", "Navigator Holdings Ltd"],
        ["NVRO.NYSE", "Nevro Corp"],
        ["NVS.NYSE", "Novartis AG - ADR"],
        ["NVTA.NYSE", "Invitae Corporation"],
        ["NYT.NYSE", "New York Times"],
        ["OFC.NYSE", "Corporate Office Properties Tr"],
        ["OHI.NYSE", "Omega Healthcare Investors Inc"],
        ["OI.NYSE", "O-I Glass Inc"],
        ["OLN.NYSE", "Olin Corp"],
        ["OMI.NYSE", "Owens & Minor Inc"],
        ["ONTO.NYSE", "ONTO Innovation Inc"],
        ["ORA.NYSE", "Ormat Technologies Inc"],
        ["ORI.NYSE", "Old Republic International Cor"],
        ["OSK.NYSE", "Oshkosh Corp"],
        ["OUT.NYSE", "Outfront Media Inc"],
        ["PAG.NYSE", "Penske Automotive Group Inc"],
        ["PAGS.NYSE", "Pagseguro Digital LTD"],
        ["PBA.NYSE", "Pembina Pipeline Corp (US)"],
        ["PBF.NYSE", "PBF Energy Inc"],
        ["PBI.NYSE", "Pitney Bowes"],
        ["PBR.NYSE", "Petroleo Brasileiro ADR Reptg 2"],
        ["PD.NYSE", "PagerDuty Inc"],
        ["PDM.NYSE", "Piedmont Office Realty Trust I"],
        ["PEB.NYSE", "Pebblebrook Hotel Trust"],
        ["PEI.NYSE", "Pennsylvania Real Estate Inves"],
        ["PEN.NYSE", "Penumbra Inc"],
        ["PFGC.NYSE", "Performance Food Group Co"],
        ["PGRE.NYSE", "Paramount Group Inc"],
        ["PHK.NYSE", "PIMCO High Income Fund"],
        ["PII.NYSE", "Polaris"],
        ["PK.NYSE", "Park Hotels and Resorts Inc"],
        ["PLNT.NYSE", "Planet Fitness Inc"],
        ["POLY.NYSE", "Plantronics Inc"],
        ["PLTR.NYSE", "Palantir Technologies Inc"],
        ["PRG.NYSE", "PROG Holdings Inc"],
        ["PRTY.NYSE", "Party City Holdco Inc"],
        ["PSTG.NYSE", "Pure Storage Inc"],
        ["PTY.NYSE", "PIMCO Corporate & Income Opportunity Fund"],
        ["PUMP.NYSE", "ProPetro Holding Corp"],
        ["QD.NYSE", "Qudian Inc"],
        ["QTS.NYSE", "QTS Realty Trust Inc Class A"],
        ["QTWO.NYSE", "Q2 Holdings Inc"],
        ["R.NYSE", "Ryder System Inc"],
        ["RAD.NYSE", "Rite Aid Corp"],
        ["RDN.NYSE", "Radian Group Inc"],
        ["REXR.NYSE", "Rexford Industrial Realty Inc"],
        ["RFP.NYSE", "Resolute Forest Products"],
        ["RGA.NYSE", "Reinsurance Group of America I"],
        ["RGS.NYSE", "Regis Corp"],
        ["RIG.NYSE", "Transocean (US)"],
        ["RL.NYSE", "Ralph Lauren Corp"],
        ["RLGY.NYSE", "Realogy Holdings Corp"],
        ["RLJ.NYSE", "RLJ Lodging Trust"],
        ["RMAX.NYSE", "RE/MAX Holdings Inc"],
        ["RNG.NYSE", "RingCentral Inc"],
        ["RNR.NYSE", "RenaissanceRe Holdings Ltd"],
        ["RPAI.NYSE", "Retail Properties of America I"],
        ["RRC.NYSE", "Range Resources"],
        ["RRD.NYSE", "R. R. Donnelley & Sons"],
        ["RS.NYSE", "Reliance Steel & Aluminum Co"],
        ["RVLV.NYSE", "Revolve Group Inc"],
        ["RWT.NYSE", "Redwood Trust Inc"],
        ["RYAM.NYSE", "Rayonier Advanced Materials Inc"],
        ["SA.NYSE", "Seabridge Gold Inc"],
        ["SAFE.NYSE", "Safehold Inc."],
        ["SAH.NYSE", "Sonic Automotive Inc"],
        ["SAIL.NYSE", "SailPoint Technologies Holdings, Inc."],
        ["SAN.NYSE", "Banco Santander SA - ADR"],
        ["SAVE.NYSE", "Spirit Airlines Inc"],
        ["SBH.NYSE", "Sally Beauty Holdings Inc"],
        ["SBS.NYSE", "Cia de Saneamento Basico do Estado de Sao Paulo"],
        ["SBSW.NYSE", "Sibanye Stillwater Ltd - ADR"],
        ["SCI.NYSE", "Service Corp International/US"],
        ["SCM.NYSE", "Stellus Capital Investment Corp"],
        ["SCS.NYSE", "Steelcase Inc"],
        ["SHAK.NYSE", "Shake Shack Inc"],
        ["SHLX.NYSE", "Shell Midstream Partners LP"],
        ["SHO.NYSE", "Sunstone Hotel Investors Inc"],
        ["SHOP.NYSE", "Shopify Inc"],
        ["SITC.NYSE", "SITE Centers Corp"],
        ["SIX.NYSE", "Six Flags Entertainment Corp"],
        ["SKM.NYSE", "SK Telecom Co Ltd"],
        ["SKX.NYSE", "Skechers U.S.A. Inc"],
        ["SLCA.NYSE", "US Silica Holdings Inc"],
        ["SM.NYSE", "SM Energy Co"],
        ["SNX.NYSE", "SYNNEX Corp"],
        ["SOGO.NYSE", "Sogou Inc"],
        ["SOL.NYSE", "ReneSola Ltd"],
        ["SON.NYSE", "Sonoco Products Co"],
        ["SPB.NYSE", "Spectrum Brands Holdings Inc"],
        ["SPCE.NYSE", "Virgin Galactic Holdings Inc"],
        ["SPR.NYSE", "Spirit Aerosystems Holdings In"],
        ["SRG.NYSE", "Seritage Growth Properties"],
        ["STAG.NYSE", "STAG Industrial Inc"],
        ["STNG.NYSE", "Scorpio Tankers Inc"],
        ["STOR.NYSE", "STORE Capital Corp"],
        ["STWD.NYSE", "Starwood Property Trust Inc"],
        ["SWCH.NYSE", "Switch Inc"],
        ["SWN.NYSE", "Southwestern Energy"],
        ["SXT.NYSE", "Sensient Technologies Corp"],
        ["TAK.NYSE", "Takeda Pharmaceutical Company Limited"],
        ["TAL.NYSE", "TAL Education Group"],
        ["TALO.NYSE", "Talos Energy Inc"],
        ["TDC.NYSE", "Teradata"],
        ["TECK.NYSE", "Teck Resources Ltd (US)"],
        ["TEF.NYSE", "Telefonica SA - ADR"],
        ["TEVA.NYSE", "Teva Pharmaceutical Industries Ltd"],
        ["TGNA.NYSE", "Tegna Inc"],
        ["THC.NYSE", "Tenet Healthcare"],
        ["THG.NYSE", "Hanover Insurance Group Inc/Th"],
        ["THO.NYSE", "Thor Industries Inc"],
        ["THS.NYSE", "TreeHouse Foods Inc"],
        ["TME.NYSE", "Tencent Music Entertainment"],
        ["TMHC.NYSE", "Taylor Morrison Home Corp"],
        ["TMX.NYSE", "Terminix Global Holdings Inc"],
        ["TOL.NYSE", "Toll Brothers Inc"],
        ["TPC.NYSE", "Tutor Perini Corp"],
        ["TPH.NYSE", "TRI Pointe Homes Inc"],
        ["TPX.NYSE", "Tempur-Pedic International Inc"],
        ["TRGP.NYSE", "Targa Resources Corp"],
        ["TRNO.NYSE", "Terreno Realty Corp"],
        ["TROX.NYSE", "Tronox Ltd"],
        ["TTI.NYSE", "TETRA Technologies Inc"],
        ["TTM.NYSE", "Tata Motors"],
        ["TUP.NYSE", "Tupperware Brands Corp"],
        ["TV.NYSE", "Grupo Televisa"],
        ["TWI.NYSE", "Titan International Inc"],
        ["TWO.NYSE", "Two Harbors Investment Corp"],
        ["TX.NYSE", "Ternium SA"],
        ["U.NYSE", "Unity Software Inc"],
        ["UE.NYSE", "Urban Edge Properties"],
        ["UGI.NYSE", "UGI Corp"],
        ["UHT.NYSE", "Universal Health Realty Income"],
        ["UMC.NYSE", "United Microelectronics Corp"],
        ["UNFI.NYSE", "United Natural Foods Inc"],
        ["USAC.NYSE", "USA Compression Partners LP"],
        ["USFD.NYSE", "US Foods Holding Corp"],
        ["USNA.NYSE", "USANA Health Sciences Inc"],
        ["USX.NYSE", "US Xpress Enterprises Inc"],
        ["UVV.NYSE", "Universal Corp/VA"],
        ["VAC.NYSE", "Marriott Vacations Worldwide C"],
        ["VALE.NYSE", "Vale SA"],
        ["VEDL.NYSE", "Vedanta Ltd - ADR"],
        ["VEEV.NYSE", "Veeva Systems Inc"],
        ["VER.NYSE", "VEREIT Inc"],
        ["VHC.NYSE", "VirnetX Holding Corp"],
        ["VIPS.NYSE", "Vipshop Holdings Ltd"],
        ["VLRS.NYSE", "Controladora Vuela Co Avcn SA CV"],
        ["VST.NYSE", "Vistra Energy Corp"],
        ["VSTO.NYSE", "Vista Outdoor Inc"],
        ["VVI.NYSE", "Viad Corp"],
        ["WCC.NYSE", "WESCO International Inc"],
        ["WEX.NYSE", "WEX Inc"],
        ["WGO.NYSE", "Winnebago Industries Inc"],
        ["WLL.NYSE", "Whiting Petroleum Corp"],
        ["WMC.NYSE", "Western Asset Mortgage Capital Corp"],
        ["WORK.NYSE", "Slack Technologies, Inc."],
        ["WRE.NYSE", "Washington Real Estate Investm"],
        ["WRI.NYSE", "Weingarten Realty Investors"],
        ["WSM.NYSE", "Williams-Sonoma Inc"],
        ["WSO.NYSE", "Watsco Inc"],
        ["WTI.NYSE", "W&T Offshore Inc"],
        ["WWE.NYSE", "World Wrestling Entertainment"],
        ["XEC.NYSE", "Cimarex Energy Co"],
        ["Y.NYSE", "Alleghany Corp"],
        ["YELP.NYSE", "Yelp"],
        ["YETI.NYSE", "YETI Holdings Inc"],
        ["YEXT.NYSE", "Yext Inc"],
        ["ZEN.NYSE", "Zendesk Inc"],
        ["ZTO.NYSE", "ZTO Express (Cayman) Inc"],
        ["ZUO.NYSE", "Zuora Inc"],

        ["SPOT.NYSE", "Spotify Technology SA CFD"],
        ["TM.NYSE", "Toyota Motor Corporation CFD"],
        ["ACN.NYSE", "Accenture plc CFD"],
        ["DBA.NYSE", "Invesco DB Agriculture ETF CFD"],
        ["GDXJ.NYSE", "VanEck Vectors Junior Gold Miners ETF CFD"],
        ["MOO.NYSE", "VanEck Vectors Agribusiness ETF CFD"],
        ["SIL.NYSE", "Global X Silver Miners ETF CFD"],

        ["ADX.NYSE", "Adams Express Co"],
        ["ADNT.NYSE", "Adient PLC"],
        ["ASIX.NYSE", "AdvanSix Inc."],
        ["WMS.NYSE", "Advanced Drainage Systems Inc"],
        ["AVK.NYSE", "Advent Claymore Convertible Securities and Income Fund"],
        ["AEG.NYSE", "Aegon NV"],
        ["AENZ.NYSE", "Aenza SAA"],
        ["AEM.NYSE", "Agnico Eagle Mines Ltd (US)"],
        ["AMR.NYSE", "Alpha Metallurgi"],
        ["PINE.NYSE", "Alpine Income Property Trust Inc"],
        ["ALTG.NYSE", "Alta Equipment Group Inc"],
        ["AXS.NYSE", "Axis Capital Holdings Ltd"],
        ["APRN.NYSE", "Blue Apron Holdings, Inc."],
        ["BBW.NYSE", "Build-A-Bear Workshop Inc"],
        ["CNHI.NYSE", "CNH Industrial (US)"],
        ["CWT.NYSE", "California Water Service Group"],
        ["STK.NYSE", "Columbia Seligman Premium Technology Growth Fund Inc"],
        ["CBU.NYSE", "Community Bank System Inc"],
        ["CNR.NYSE", "Cornerstone Building Brands Inc"],
        ["CAPL.NYSE", "CrossAmerica Partners LP"],
        ["CW.NYSE", "Curtiss-Wright Corp"],
        ["FHN.NYSE", "First Horizon"],
        ["GME.NYSE", "GameStop"],
        ["GNK.NYSE", "Genco Shipping & Trading Ltd"],
        ["GSK.NYSE", "GlaxoSmithKline (US)"],
        ["KEN.NYSE", "Kenon Holdings Ltd"],
        ["LXU.NYSE", "LSB Industries Inc"],
        ["LU.NYSE", "Lufax Holding Ltd"],
        ["PBT.NYSE", "Permian Basin Royalty Trust"],
        ["RENN.NYSE", "Renren Inc"],
        ["RBLX.NYSE", "Roblox Corporation"],
        ["RY.NYSE", "Royal Bank of Canada (US)"],
        ["SB.NYSE", "Safe Bulkers Inc"],
        ["SAR.NYSE", "Saratoga Investment Corp"],
        ["SBOW.NYSE", "SilverBow Resources Inc"],
        ["TKR.NYSE", "Timken Co"],
        ["TMST.NYSE", "TimkenSteel Corp"],
        ["VET.NYSE", "Vermilion Energy Inc (US)"],
        ["VSCO.NYSE", "Victoria's Secret & Co"],

        ["FAX.NYSE", "Aberdeen Asia-Pacific Income Fund Inc"],
        ["AWP.NYSE", "Aberdeen Global Premier Properties Fund"],
        ["ACP.NYSE", "Aberdeen Income Credit Strategies Fund"],
        ["AOD.NYSE", "Aberdeen Total Dynamic Dividend Fund"],
        ["RERE.NYSE", "Aihuishou International"],
        ["AL.NYSE", "Air Lease Corp"],
        ["MIMO.NYSE", "Airspan Networks Holdings Inc"],
        ["ALG.NYSE", "Alamo Group Inc"],
        ["AGI.NYSE", "Alamos Gold Inc (US)"],
        ["ACI.NYSE", "Albertsons Companies Inc - Class A"],
        ["ALC.NYSE", "Alcon Inc (US)"],
        ["ALEX.NYSE", "Alexander & Baldwin Inc"],
        ["AVD.NYSE", "American Vanguard Corp"],
        ["AX.NYSE", "Axos Financial Inc"],
        ["BHLB.NYSE", "Berkshire Hills Bancorp Inc"],
        ["LAW.NYSE", "CS Disco Inc."],
        ["CALX.NYSE", "Calix Inc"],
        ["CAS.NYSE", "Cascade Acquisition Corp"],
        ["CSLT.NYSE", "Castlight Health Inc"],
        ["CATO.NYSE", "Cato Corp/The"],
        ["CZOO.NYSE", "Cazoo Group Ltd"],
        ["FUN.NYSE", "Cedar Fair LP"],
        ["CDR.NYSE", "Cedar Realty Trust Inc"],
        ["CLS.NYSE", "Celestica Inc (US)"],
        ["CPAC.NYSE", "Cementos Pacasmayo SAA"],
        ["CVE.NYSE", "Cenovus Energy Inc (US)"],
        ["CSR.NYSE", "Centerspace"],
        ["COUR.NYSE", "Coursera, Inc."],
        ["CS.NYSE", "Credit Suisse Group AG"],
        ["EEX.NYSE", "Emerald Holding Inc"],
        ["ENPC.NYSE", "Executive Network Partnering Corp"],
        ["EXPR.NYSE", "Express Inc"],
        ["XPRO.NYSE", "Expro Group Holdings NV"],
        ["RACE.NYSE", "Ferrari NV (US)"],
        ["GMS.NYSE", "GMS Inc"],
        ["GES.NYSE", "Guess? Inc"],
        ["IHS.NYSE", "IHS Holding Limited"],
        ["LGFa.NYSE", "Lions Gate Entertainment Corp"],
        ["SHEL.NYSE", "Shell PLC (US)"],
        ["FOUR.NYSE", "Shift4 Payments Inc"],
        ["SHG.NYSE", "Shinhan Financial Group Co Ltd"],
        ["SSTK.NYSE", "Shutterstock Inc"],
        ["SSU.NYSE", "Signa Sports United NV"],
        ["SIG.NYSE", "Signet Jewelers Ltd"],
        ["SGFY.NYSE", "Signify Health Inc"],
        ["SI.NYSE", "Silvergate Capital Corporation"],
        ["SMWB.NYSE", "SimilarWeb LTD"],
        ["SLI.NYSE", "Standard Lithium Ltd"],
        ["SMP.NYSE", "Standard Motor Products Inc"],
        ["SXI.NYSE", "Standex International Corp"],
        ["STN.NYSE", "Stantec Inc (US)"],
        ["SGU.NYSE", "Star Gas Partners LP"],
        ["STLA.NYSE", "Stellantis NV (US)"],
        ["STEM.NYSE", "Stem Inc"],
        ["SCL.NYSE", "Stepan Co"],
        ["STXS.NYSE", "Stereotaxis Inc"],
        ["STVN.NYSE", "Stevanato Group SPA"],
        ["THR.NYSE", "Thermon Group Holdings Inc"],
        ["TRI.NYSE", "Thomson Reuters Corp (US)"],
        ["TDW.NYSE", "Tidewater Inc"],
        ["TINV.NYSE", "Tiga Acquisition Corp"],
        ["TLYS.NYSE", "Tilly's Inc"],
        ["UL.NYSE", "Unilever (US)"],
        ["ARKK.NYSE", "Thomson Reuters Corp (US)"],
        ["ARKF.NYSE", "ARK Fintech Innovation ETF"],
        ["IAU.NYSE", "iShares Gold Trust (US)"],
        ["XLV.NYSE", "Health Care Select Sector SPDR Fund"],
        ["XLK.NYSE", "Technology Select Sector SPDR Fund"],
        ["XLY.NYSE", "Consumer Discretionary Select Sector SPDR Fund"],

    ].sort((a, b) => a[0].localeCompare(b[0]))
}
%>
<div class="single-design-search">
    <div class="group search">
        <span>Search by Symbol</span>
        <input class="spreads-search-box" type="search"/>
    </div>
    <div class="group skin">
        <span class="skin-label">Table Skin</span>
        <span class="skin-toggle skin-light">&nbsp;</span>
        <span class="skin-toggle skin-dark">&nbsp;</span>
    </div>
</div>

<%- include('./spread-table-component.ejs', {
    extraClass: 'stocks',
    tableSkin: 'light-skin',
    slotMobile: null,
    slotTablet: null,
    slotDesktop: null,
    colHeadersMobile: stocks2Table.stocksSpreadsColHeadersDesktop,
    mobileData: stocks2Table.stocksSpreadsData,
    colHeadersTablet: stocks2Table.stocksSpreadsColHeadersDesktop,
    tabletData: stocks2Table.stocksSpreadsData,
    colHeadersDesktop: stocks2Table.stocksSpreadsColHeadersDesktop,
    desktopData: stocks2Table.stocksSpreadsData
}); %>
</div>
