<link rel="stylesheet" href="<%=md5('/css/components/stocks1-table.css')%>">
<div class="markets-spread-table stocks-spread-table">
<%
let stocks6Table = {
    stocksSpreadsColHeadersDesktop: ['MT5 Symbol', 'London Stock Exchange'],
    stocksSpreadsData: [
        ["AAL.LSE", "Anglo American"],
        ["ABF.LSE", "Associated British Foods"],
        ["ADM.LSE", "Admiral Group"],
        ["AHT.LSE", "Ashtead Group"],
        ["AML.LSE", "Aston Martin Lagonda Global Holdings PLC"],
        ["ANTO.LSE", "Antofagasta"],
        ["ATST.LSE", "Alliance Trust"],
        ["AUTO.LSE", "Auto Trader Group PLC"],
        ["AV.LSE", "Aviva"],
        ["AZN.LSE", "AstraZeneca"],
        ["BA.LSE", "BAE Systems"],
        ["BARC.LSE", "Barclays"],
        ["BATS.LSE", "British American Tobacco PLC (GB)"],
        ["BDEV.LSE", "Barratt Developments"],
        ["BHP.LSE", "BHP Group PLC (GB)"],
        ["BKG.LSE", "Berkeley Group"],
        ["BLND.LSE", "British Land"],
        ["BNZL.LSE", "Bunzl"],
        ["BP.LSE", "BP"],
        ["BRBY.LSE", "Burberry Group"],
        ["BTA.LSE", "BT Group"],
        ["CCH.LSE", "Coca-Cola HBC AG"],
        ["CCL.LSE", "Carnival"],
        ["CNA.LSE", "Centrica"],
        ["CPG.LSE", "Compass Group"],
        ["CPI.LSE", "Capita Group"],
        ["CRH.LSE", "CRH (UK)"],
        ["DCC.LSE", "Dcc PLC (GB)"],
        ["DGE.LSE", "Diageo PLC (GB)"],
        ["DLG.LSE", "Direct Line Insurance Group"],
        ["EMG.LSE", "Man Group PLC"],
        ["EXPN.LSE", "Experian"],
        ["EZJ.LSE", "EasyJet"],
        ["FLTR.LSE", "Flutter Entertainment"],
        ["FRES.LSE", "Fresnillo"],
        ["GLEN.LSE", "Glencore Xstrata plc (UK)"],
        ["GSK.LSE", "GlaxoSmithKline"],
        ["HAS.LSE", "Hays"],
        ["HL.LSE", "Hargreaves Lansdown"],
        ["HLMA.LSE", "Halma"],
        ["HMSO.LSE", "Hammerson"],
        ["HSBA.LSE", "HSBC"],
        ["IAG.LSE", "International Consolidated Airlines Group"],
        ["ICP.LSE", "Intermediate Cap"],
        ["III.LSE", "3i Group"],
        ["IMB.LSE", "Imperial Brands"],
        ["IMI.LSE", "IMI"],
        ["INF.LSE", "Informa"],
        ["ITRK.LSE", "Intertek Group"],
        ["ITV.LSE", "ITV"],
        ["JE.LSE", "Just Eat Plc"],
        ["JMAT.LSE", "Johnson Matthey"],
        ["JUP.LSE", "Jupiter Fund Management PLC"],
        ["KGF.LSE", "Kingfisher"],
        ["LAND.LSE", "Land Securities"],
        ["LGEN.LSE", "Legal & General"],
        ["LLOY.LSE", "Lloyds Banking"],
        ["LSE.LSE", "London Stock Exchange"],
        ["MGGT.LSE", "Meggitt"],
        ["MKS.LSE", "Marks & Spencer"],
        ["MNDI.LSE", "Mondi"],
        ["MRO.LSE", "Melrose"],
        ["NEX.LSE", "National Express"],
        ["NG.LSE", "National Grid"],
        ["NXT.LSE", "Next"],
        ["OCDO.LSE", "Ocado Group"],
        ["OMU.LSE", "Old Mutual"],
        ["PFC.LSE", "Petrofac"],
        ["PRU.LSE", "Prudential"],
        ["PSN.LSE", "Persimmon"],
        ["PSON.LSE", "Pearson"],
        ["RB.LSE", "Reckitt Benckiser"],
        ["RDSB.LSE", "Shell PLC (GB)"],
        ["REL.LSE", "RELX PLC"],
        ["RIO.LSE", "Rio Tinto PLC"],
        ["RMG.LSE", "Royal Mail Group"],
        ["RR.LSE", "Rolls-Royce"],
        ["RTO.LSE", "Rentokil Initial"],
        ["SBRY.LSE", "Sainsbury"],
        ["SDR.LSE", "Schroders"],
        ["SGE.LSE", "Sage Group"],
        ["SGRO.LSE", "SEGRO"],
        ["SKG.LSE", "Smurfit Kappa Group PLC GB"],
        ["SMDS.LSE", "DS Smith"],
        ["SMIN.LSE", "Smiths Group"],
        ["SMT.LSE", "Scottish Mortgage IT"],
        ["SN.LSE", "Smith & Nephew"],
        ["SRP.LSE", "Serco Group"],
        ["STAN.LSE", "Standard Chartered"],
        ["STJ.LSE", "St James's Place"],
        ["SVT.LSE", "Severn Trent"],
        ["TED.LSE", "Ted Baker"],
        ["TLW.LSE", "Tullow Oil PLC (GB)"],
        ["TPK.LSE", "Travis Perkins"],
        ["TSCO.LSE", "Tesco"],
        ["TUI.LSE", "TUI AG (GB)"],
        ["ULVR.LSE", "Unilever PLC"],
        ["UU.LSE", "United Utilities"],
        ["VOD.LSE", "Vodafone"],
        ["WPP.LSE", "WPP"],
        ["WTB.LSE", "Whitbread"]
    ]
}
%>
<div class="single-design-search">
    <div class="group search">
        <span>Search by Symbol</span>
        <input class="spreads-search-box" type="search"/>
    </div>
    <div class="group skin">
        <span class="skin-label">Table Skin</span>
        <span class="skin-toggle skin-light">&nbsp;</span>
        <span class="skin-toggle skin-dark">&nbsp;</span>
    </div>
</div>

<%- include('./spread-table-component.ejs', {
    extraClass: 'stocks',
    tableSkin: 'light-skin',
    slotMobile: null,
    slotTablet: null,
    slotDesktop: null,
    colHeadersMobile: stocks6Table.stocksSpreadsColHeadersDesktop,
    mobileData: stocks6Table.stocksSpreadsData,
    colHeadersTablet: stocks6Table.stocksSpreadsColHeadersDesktop,
    tabletData: stocks6Table.stocksSpreadsData,
    colHeadersDesktop: stocks6Table.stocksSpreadsColHeadersDesktop,
    desktopData: stocks6Table.stocksSpreadsData
}); %>
</div>
