/* ICM Primary values from UX design */
/* Width - container, element, card, */
/* Margin */
/* padding */
/* Border */
/*
  Roboto font related weights
   https://fonts.google.com/specimen/Roboto?selection.family=Roboto:100,300,400,500,700,900
*/
/* font color, background color */
/* UI elements specific color */
/* Card specific color */
/* max width properties for UI Cards for different number of cards in a container */
/* one are more cards */
/* three are more cards */
.single-page.affiliate-program .bold-header {
  font-size: 24px;
  font-weight: bold;
  color: rgba(11, 10, 20, 0.8);
  padding-top: 19px;
  padding-bottom: 49px; }

.single-page.affiliate-program .sidebar-block {
  display: block !important; }

.single-page.affiliate-program .sidebar-cta-card-container.random-background {
  position: relative;
  width: 308px !important;
  padding-top: 236px;
  padding-bottom: 64px;
  margin: 0 auto;
  background-image: url(/assets/img/single_market_page/refer-a-friend-facts-bg.png) !important;
  box-shadow: 0 3px 49px 0 rgba(0, 0, 0, 0.14); }
  .single-page.affiliate-program .sidebar-cta-card-container.random-background::before {
    content: '';
    position: absolute;
    left: 52px;
    top: 141px;
    width: 204px;
    height: 52px;
    background: transparent no-repeat center center;
    background-size: contain;
    background-image: url(/assets/icons/svg/ICM-logo-transparentBG.svg); }
  .single-page.affiliate-program .sidebar-cta-card-container.random-background.sidebar-trueecn::before {
    background-image: url(/assets/img/true-logo.png); }
  .single-page.affiliate-program .sidebar-cta-card-container.random-background .bottom-block__message {
    line-height: 1.29; }
  .single-page.affiliate-program .sidebar-cta-card-container.random-background .bottom-block {
    text-align: center; }
    .single-page.affiliate-program .sidebar-cta-card-container.random-background .bottom-block .icm-btn.icm-btn-primary {
      background: #34E834 !important;
      color: rgba(31, 29, 49, 0.8) !important;
      line-height: 1 !important;
      padding: 14px 25px !important;
      border-radius: 30px;
      border: none !important;
      width: max-content;
      font-size: 12px !important;
      font-weight: 900 !important;
      text-transform: uppercase; }
    .single-page.affiliate-program .sidebar-cta-card-container.random-background .bottom-block b {
      font-weight: 900; }

.single-page.affiliate-program table {
  box-shadow: none;
  margin-top: 8px;
  margin-bottom: 8px;
  width: 100%; }

.single-page.affiliate-program .table-header {
  background-color: #f4f4f4;
  padding: 16px;
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  color: #009600; }

.single-page.affiliate-program th {
  padding: 16px; }

.single-page.affiliate-program tr {
  padding: 16px;
  background-color: #fefefe;
  border-bottom: 2px solid #f2f2f2; }

.single-page.affiliate-program td {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.68);
  padding: 16px;
  font-weight: normal;
  text-align: left;
  line-height: 1; }

.single-page.affiliate-program .trading-hours-block__header {
  font-weight: 300;
  margin-bottom: 32px; }

.single-page.affiliate-program .trading-hours-block__item:not(:last-child) {
  margin-bottom: 8px; }

.single-page.affiliate-program .trading-hours-block__expand-button {
  background-color: #303030;
  color: rgba(52, 232, 52, 0.8);
  font-size: 20px;
  font-weight: 500;
  line-height: 1;
  padding: 18px;
  position: relative; }

.single-page.affiliate-program .trading-hours-block__expand-button[data-toggle="collapse"]:after {
  font-family: 'Glyphicons Halflings';
  content: "\E080";
  position: absolute;
  color: #34E834;
  font-size: 20px;
  line-height: 1;
  right: 20px;
  top: 20px;
  transform: rotate(-90deg); }

.single-page.affiliate-program .trading-hours-block__expand-button[data-toggle="collapse"].collapsed {
  background: #f4f4f4;
  color: #525252; }
  .single-page.affiliate-program .trading-hours-block__expand-button[data-toggle="collapse"].collapsed:after {
    color: #000;
    transform: rotate(90deg); }

.single-page.affiliate-program .page-section .first-section {
  margin-left: 0 !important;
  padding-top: 0 !important;
  margin-bottom: 0 !important; }
  .single-page.affiliate-program .page-section .first-section .page-first-text {
    color: rgba(11, 10, 20, 0.64);
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 66px; }

.single-page.affiliate-program .double-sidebar-block {
  position: relative;
  z-index: 1;
  width: 308px;
  margin: 0 auto;
  border-radius: 0;
  float: right;
  margin: 0px 40px 0 80px; }
  .single-page.affiliate-program .double-sidebar-block .contact-block {
    position: relative;
    padding: 0;
    background: #e9e9e9;
    margin: 50px auto;
    border-radius: 0;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.4);
    z-index: 2; }
    .single-page.affiliate-program .double-sidebar-block .contact-block .contact-header {
      padding: 42px 33px 38px 33px; }
      .single-page.affiliate-program .double-sidebar-block .contact-block .contact-header .header-label {
        font-size: 28px;
        line-height: 1;
        letter-spacing: -0.6px;
        text-align: left;
        color: rgba(11, 10, 20, 0.8); }
      .single-page.affiliate-program .double-sidebar-block .contact-block .contact-header .header-title {
        margin-top: 22px;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: -0.3px;
        text-align: left;
        color: rgba(11, 10, 20, 0.8); }
    .single-page.affiliate-program .double-sidebar-block .contact-block .contact-pre-imaged {
      position: relative;
      padding: 28px 33px 23px 100px;
      background: #f2f2f2;
      font-size: 20px;
      font-weight: bold;
      line-height: 1;
      letter-spacing: -0.4px;
      text-align: left;
      color: rgba(0, 0, 0, 0.8); }
      .single-page.affiliate-program .double-sidebar-block .contact-block .contact-pre-imaged a {
        color: rgba(0, 0, 0, 0.8) !important; }
      .single-page.affiliate-program .double-sidebar-block .contact-block .contact-pre-imaged.chat-img::before {
        content: "";
        position: absolute;
        left: 33px;
        top: 15px;
        width: 40px;
        height: 40px;
        background: transparent no-repeat center center;
        background-size: contain;
        background-image: url(/assets/img/single_market_page/refer-a-friend-live-chat.png); }
      .single-page.affiliate-program .double-sidebar-block .contact-block .contact-pre-imaged.email-img {
        background: #e9e9e9; }
        .single-page.affiliate-program .double-sidebar-block .contact-block .contact-pre-imaged.email-img::before {
          content: "";
          position: absolute;
          left: 33px;
          top: 15px;
          width: 40px;
          height: 40px;
          background: transparent no-repeat center center;
          background-size: contain;
          background-image: url(/assets/img/single_market_page/refer-a-friend-email-support.png); }
    .single-page.affiliate-program .double-sidebar-block .contact-block .contact-phone {
      background: #353535;
      font-size: 28px;
      font-weight: bold;
      line-height: 2.18;
      letter-spacing: -1.7px;
      text-align: center;
      color: #78fd66; }
  .single-page.affiliate-program .double-sidebar-block .sidebar-cta-card-container.random-background {
    position: relative;
    z-index: 1;
    margin: 0 auto;
    padding-top: 214px;
    padding-bottom: 64px;
    border-radius: 0;
    background-image: url(/assets/img/single_market_page/refer-a-friend-facts-bg.png) !important;
    box-shadow: 0 3px 49px 0 rgba(0, 0, 0, 0.14); }
    .single-page.affiliate-program .double-sidebar-block .sidebar-cta-card-container.random-background::before {
      content: "";
      position: absolute;
      left: 52px;
      top: 87px;
      width: 204px;
      height: 52px;
      background: transparent no-repeat center center;
      background-size: contain;
      background-image: url(/assets/icons/svg/ICM-logo-transparentBG.svg); }
    .single-page.affiliate-program .double-sidebar-block .sidebar-cta-card-container.random-background.sidebar-trueecn::before {
      background-image: url(/assets/img/true-logo.png); }
    .single-page.affiliate-program .double-sidebar-block .sidebar-cta-card-container.random-background .bottom-block__message {
      font-size: 28px;
      font-weight: 300;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.29;
      letter-spacing: -0.6px;
      text-align: center;
      color: #ffffff;
      margin-bottom: 40px; }
    .single-page.affiliate-program .double-sidebar-block .sidebar-cta-card-container.random-background .bottom-block {
      text-align: center; }
      .single-page.affiliate-program .double-sidebar-block .sidebar-cta-card-container.random-background .bottom-block .icm-btn.icm-btn-primary {
        background: #34E834 !important;
        color: rgba(31, 29, 49, 0.8) !important;
        line-height: 1 !important;
        padding: 14px 25px !important;
        border-radius: 30px;
        border: none !important;
        width: max-content;
        font-size: 12px !important;
        font-weight: 900 !important;
        text-transform: uppercase; }
      .single-page.affiliate-program .double-sidebar-block .sidebar-cta-card-container.random-background .bottom-block b {
        font-weight: 900; }

.single-page.affiliate-program .icm-form-block-container {
  padding-top: 42px; }

.single-page.affiliate-program .description {
  padding-top: 19px;
  color: rgba(11, 10, 20, 0.5476); }

.single-page.affiliate-program .star {
  padding-top: 47px;
  font-size: 14px;
  color: rgba(11, 10, 20, 0.6); }

.single-page.affiliate-program .pre-image-item {
  padding-left: 33px;
  position: relative; }
  .single-page.affiliate-program .pre-image-item::before {
    content: '';
    position: absolute;
    left: 3px;
    top: 10px;
    width: 14px;
    height: 14px;
    transform: rotate(45deg);
    border: 1px solid #b5b5b5;
    background: #34e834;
    box-shadow: 0 0 2px 2px #fff inset; }

.single-page.affiliate-program .page-content-container {
  background: #fff !important; }
  .single-page.affiliate-program .page-content-container .page-content.highlighted-content {
    background: #fafbfa; }

.single-page.affiliate-program .page-header {
  background: url(/assets/img/single_market_page/affiliate-program-banner.jpg) no-repeat center right; }
  .single-page.affiliate-program .page-header .icm-button-wrapper.page-header__primary-button
a.icm-btn.icm-btn-primary {
    border-radius: 2px !important;
    padding: 25px !important;
    font-size: 20px !important;
    font-weight: 900 !important;
    text-transform: uppercase; }

.single-page.affiliate-program .page-content.global-markets-today {
  background-image: url(/assets/img/single_market_page/affiliate-program-btm-bg.png); }

.single-page.affiliate-program .page-header__menu-container .page-header__menu .menu-item .menu-title {
  padding-left: 0 !important;
  text-transform: uppercase; }

.single-page.affiliate-program .page-content.global-markets-today .icm-button-wrapper a.live {
  border-radius: 0 !important;
  padding: 25px !important;
  font-size: 20px !important;
  font-weight: 900 !important;
  text-transform: uppercase; }

.single-page.affiliate-program .page-content.global-markets-today .icm-button-wrapper a.demo {
  border-radius: 0 !important;
  padding: 25px !important;
  font-size: 20px !important;
  font-weight: 900 !important;
  text-transform: uppercase !important;
  background: #000 !important;
  color: #fff !important;
  margin-left: 9px; }

.single-page.affiliate-program .grid-section {
  display: grid;
  grid-template-columns: auto 308px; }
  .single-page.affiliate-program .grid-section .content-head {
    margin-bottom: 0 !important; }
  .single-page.affiliate-program .grid-section .grid-content {
    padding: 20px; }
  .single-page.affiliate-program .grid-section .content-inside {
    font-size: 16px;
    line-height: 1.56; }
  .single-page.affiliate-program .grid-section .gi-1 {
    padding-right: 32px; }

.single-page.affiliate-program .contact-block {
  position: relative;
  width: 308px;
  padding: 0;
  background: #e9e9e9;
  margin: 50px auto;
  border-radius: 0;
  z-index: 2; }
  .single-page.affiliate-program .contact-block .contact-header {
    padding: 42px 33px 38px 33px; }
    .single-page.affiliate-program .contact-block .contact-header .header-label {
      font-size: 28px;
      line-height: 1;
      letter-spacing: -0.6px;
      text-align: left;
      color: rgba(11, 10, 20, 0.8); }
    .single-page.affiliate-program .contact-block .contact-header .header-title {
      margin-top: 22px;
      font-size: 14px;
      line-height: 1.71;
      letter-spacing: -0.3px;
      text-align: left;
      color: rgba(11, 10, 20, 0.8); }
  .single-page.affiliate-program .contact-block .contact-pre-imaged {
    position: relative;
    padding: 28px 33px 23px 100px;
    background: #f2f2f2;
    font-size: 20px;
    font-weight: bold;
    line-height: 1;
    letter-spacing: -0.4px;
    text-align: left;
    color: rgba(0, 0, 0, 0.8); }
    .single-page.affiliate-program .contact-block .contact-pre-imaged a {
      color: rgba(0, 0, 0, 0.8) !important; }
    .single-page.affiliate-program .contact-block .contact-pre-imaged.chat-img::before {
      content: "";
      position: absolute;
      left: 33px;
      top: 15px;
      width: 40px;
      height: 40px;
      background: transparent no-repeat center center;
      background-size: contain;
      background-image: url(/assets/img/single_market_page/refer-a-friend-live-chat.png); }
    .single-page.affiliate-program .contact-block .contact-pre-imaged.email-img {
      background: #e9e9e9; }
      .single-page.affiliate-program .contact-block .contact-pre-imaged.email-img::before {
        content: "";
        position: absolute;
        left: 33px;
        top: 15px;
        width: 40px;
        height: 40px;
        background: transparent no-repeat center center;
        background-size: contain;
        background-image: url(/assets/img/single_market_page/refer-a-friend-email-support.png); }
  .single-page.affiliate-program .contact-block .contact-phone {
    background: #353535;
    font-size: 28px;
    font-weight: bold;
    line-height: 2.18;
    letter-spacing: -1.7px;
    text-align: center;
    color: #78fd66; }

.single-page.affiliate-program .top-img {
  position: relative;
  padding-left: 198px; }
  .single-page.affiliate-program .top-img::before {
    content: "";
    position: absolute;
    left: 0px !important;
    top: 0px !important;
    width: 120px !important;
    height: 120px !important;
    background: transparent no-repeat center center;
    background-size: contain;
    background-image: url(/assets/img/single_market_page/trading-hours-hours.png); }

@media screen and (max-width: 940px) {
  .single-page.affiliate-program .grid-section {
    grid-template-columns: 100%; }
    .single-page.affiliate-program .grid-section .gi-1 {
      padding-right: 0; } }

@media screen and (max-width: 768px) {
  .single-page.affiliate-program .contact-block {
    margin: 40px auto; }
  .single-page.affiliate-program .double-sidebar-block {
    float: initial !important;
    margin: -100px auto 100px !important; } }

@media screen and (max-width: 640px) {
  .single-page.affiliate-program .page-section .top-img {
    position: relative;
    padding-left: 0;
    padding-top: 148px; } }

@media screen and (max-width: 960px) {
  .page-section .first-section {
    padding-top: 80px !important; }
  .double-sidebar-block {
    margin: 80px 40px 0 80px !important; } }

/*# sourceMappingURL=affiliate-program.css.map */