/* ICM Primary values from UX design */
/* Width - container, element, card, */
/* Margin */
/* padding */
/* Border */
/*
  Roboto font related weights
   https://fonts.google.com/specimen/Roboto?selection.family=Roboto:100,300,400,500,700,900
*/
/* font color, background color */
/* UI elements specific color */
/* Card specific color */
/* max width properties for UI Cards for different number of cards in a container */
/* one are more cards */
/* three are more cards */
html.home-page .no-uppercase,
html.single-market-page .no-uppercase,
html.common-page .no-uppercase {
  text-transform: initial !important; }

html.home-page .column-header .column-name:nth-child(2),
html.single-market-page .column-header .column-name:nth-child(2),
html.common-page .column-header .column-name:nth-child(2) {
  font-weight: bold !important; }

html.home-page .dots-after > a.hidden-md.hidden-lg.xxx::before,
html.single-market-page .dots-after > a.hidden-md.hidden-lg.xxx::before,
html.common-page .dots-after > a.hidden-md.hidden-lg.xxx::before {
  content: '...';
  position: absolute;
  opacity: 0.6;
  left: 130px;
  top: 3px;
  font-size: 30px; }

html.home-page .dots-after > a.hidden-xs.hidden-sm.xxx::before,
html.single-market-page .dots-after > a.hidden-xs.hidden-sm.xxx::before,
html.common-page .dots-after > a.hidden-xs.hidden-sm.xxx::before {
  content: '...';
  position: absolute;
  opacity: 0.6;
  left: 130px;
  top: 11px;
  font-size: 30px; }

html.home-page .header-container.subnav-mobile,
html.single-market-page .header-container.subnav-mobile,
html.common-page .header-container.subnav-mobile {
  display: none; }

html.home-page .icm-navbar .icm-navbar__top,
html.single-market-page .icm-navbar .icm-navbar__top,
html.common-page .icm-navbar .icm-navbar__top {
  background: #0f0f14; }
  html.home-page .icm-navbar .icm-navbar__top .top-navbar__option--style,
  html.home-page .icm-navbar .icm-navbar__top .top-navbar__option--style a,
  html.single-market-page .icm-navbar .icm-navbar__top .top-navbar__option--style,
  html.single-market-page .icm-navbar .icm-navbar__top .top-navbar__option--style a,
  html.common-page .icm-navbar .icm-navbar__top .top-navbar__option--style,
  html.common-page .icm-navbar .icm-navbar__top .top-navbar__option--style a {
    color: rgba(255, 255, 255, 0.4);
    font-size: 12px;
    font-weight: 500; }

html.home-page .navbar.navbar-default,
html.single-market-page .navbar.navbar-default,
html.common-page .navbar.navbar-default {
  border: none;
  background: #040404; }
  html.home-page .navbar.navbar-default.icm-component-container,
  html.single-market-page .navbar.navbar-default.icm-component-container,
  html.common-page .navbar.navbar-default.icm-component-container {
    background: #0f0f14; }

html.home-page .touch-device .navbar.navbar-default,
html.single-market-page .touch-device .navbar.navbar-default,
html.common-page .touch-device .navbar.navbar-default {
  background: #191919; }

html.home-page .icm-navbar .navbar-default .navbar-nav > li > a,
html.single-market-page .icm-navbar .navbar-default .navbar-nav > li > a,
html.common-page .icm-navbar .navbar-default .navbar-nav > li > a {
  opacity: 0.6; }
  html.home-page .icm-navbar .navbar-default .navbar-nav > li > a:hover,
  html.single-market-page .icm-navbar .navbar-default .navbar-nav > li > a:hover,
  html.common-page .icm-navbar .navbar-default .navbar-nav > li > a:hover {
    opacity: 1; }

html.home-page .client-login-block .client-login-button, html.home-page .client-login-block .start-trading-button,
html.single-market-page .client-login-block .client-login-button,
html.single-market-page .client-login-block .start-trading-button,
html.common-page .client-login-block .client-login-button,
html.common-page .client-login-block .start-trading-button {
  width: auto;
  color: rgba(31, 29, 49, 0.8);
  border-radius: 30px;
  background: #34E834;
  font-size: 12px !important;
  text-transform: uppercase;
  font-weight: 900;
  padding: 12px 18px; }

html.home-page .locale-it .client-login-block .start-trading-button,
html.single-market-page .locale-it .client-login-block .start-trading-button,
html.common-page .locale-it .client-login-block .start-trading-button {
  font-size: 10px !important; }

html.home-page .icm-btn:not(.page-header__primary-button):not(.page-header__secondary-button):hover,
html.home-page .icm-btn:not(.page-header__primary-button):not(.page-header__secondary-button):active,
html.single-market-page .icm-btn:not(.page-header__primary-button):not(.page-header__secondary-button):hover,
html.single-market-page .icm-btn:not(.page-header__primary-button):not(.page-header__secondary-button):active,
html.common-page .icm-btn:not(.page-header__primary-button):not(.page-header__secondary-button):hover,
html.common-page .icm-btn:not(.page-header__primary-button):not(.page-header__secondary-button):active {
  color: #000 !important; }

html.home-page .btn,
html.home-page .icm-btn:not(.page-header__primary-button):not(.page-header__secondary-button),
html.single-market-page .btn,
html.single-market-page .icm-btn:not(.page-header__primary-button):not(.page-header__secondary-button),
html.common-page .btn,
html.common-page .icm-btn:not(.page-header__primary-button):not(.page-header__secondary-button) {
  border-radius: 30px;
  text-transform: uppercase;
  font-size: 12px !important;
  font-weight: 900;
  padding: 12px 18px;
  width: auto; }

html.home-page .btn.icm-btn-primary.client-login-button,
html.single-market-page .btn.icm-btn-primary.client-login-button,
html.common-page .btn.icm-btn-primary.client-login-button {
  width: auto;
  color: rgba(31, 29, 49, 0.8);
  border-radius: 30px;
  background: #34E834;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 900;
  padding: 12px 18px; }

html.home-page .footer-faq-desktop,
html.home-page .footer__disclaimer,
html.home-page .footer__copyright,
html.single-market-page .footer-faq-desktop,
html.single-market-page .footer__disclaimer,
html.single-market-page .footer__copyright,
html.common-page .footer-faq-desktop,
html.common-page .footer__disclaimer,
html.common-page .footer__copyright {
  max-width: 1184px; }

html.home-page .dropdown-list-container__list-item,
html.single-market-page .dropdown-list-container__list-item,
html.common-page .dropdown-list-container__list-item {
  border-bottom: none !important;
  line-height: initial !important;
  padding: 0 !important; }
  html.home-page .dropdown-list-container__list-item a,
  html.single-market-page .dropdown-list-container__list-item a,
  html.common-page .dropdown-list-container__list-item a {
    color: #bbb !important;
    line-height: 2.31 !important; }
    html.home-page .dropdown-list-container__list-item a:hover,
    html.single-market-page .dropdown-list-container__list-item a:hover,
    html.common-page .dropdown-list-container__list-item a:hover {
      color: #34E834 !important;
      text-decoration: underline; }

html.home-page .faq-list__item--style,
html.single-market-page .faq-list__item--style,
html.common-page .faq-list__item--style {
  border: none !important; }
  html.home-page .faq-list__item--style a,
  html.single-market-page .faq-list__item--style a,
  html.common-page .faq-list__item--style a {
    color: #777 !important;
    line-height: 2 !important; }
    html.home-page .faq-list__item--style a:hover,
    html.single-market-page .faq-list__item--style a:hover,
    html.common-page .faq-list__item--style a:hover {
      color: #34E834 !important; }

html.home-page .common-footer .footer-faq__heading,
html.single-market-page .common-footer .footer-faq__heading,
html.common-page .common-footer .footer-faq__heading {
  color: #fff !important;
  margin-bottom: 20px; }

html.home-page .footer__disclaimer,
html.single-market-page .footer__disclaimer,
html.common-page .footer__disclaimer {
  padding: 50px 0 !important;
  border-top: 1px solid rgba(255, 255, 255, 0.2) !important;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2) !important; }

html.home-page .single-page,
html.single-market-page .single-page,
html.common-page .single-page {
  padding-top: 60px;
  background: #0b0a14;
  color: #fff;
  text-align: center; }
  html.home-page .single-page .single-design-search,
  html.single-market-page .single-page .single-design-search,
  html.common-page .single-page .single-design-search {
    margin-top: 30px !important; }
  html.home-page .single-page .page-content-container,
  html.single-market-page .single-page .page-content-container,
  html.common-page .single-page .page-content-container {
    text-align: left;
    min-height: 300px;
    color: #0b0a14;
    background: #fff; }
    html.home-page .single-page .page-content-container:first-child,
    html.single-market-page .single-page .page-content-container:first-child,
    html.common-page .single-page .page-content-container:first-child {
      background: red; }
      html.home-page .single-page .page-content-container:first-child .page-content,
      html.single-market-page .single-page .page-content-container:first-child .page-content,
      html.common-page .single-page .page-content-container:first-child .page-content {
        padding-top: 0 !important; }
    html.home-page .single-page .page-content-container .page-content,
    html.single-market-page .single-page .page-content-container .page-content,
    html.common-page .single-page .page-content-container .page-content {
      padding: 80px 0; }
      html.home-page .single-page .page-content-container .page-content.highlighted-content,
      html.single-market-page .single-page .page-content-container .page-content.highlighted-content,
      html.common-page .single-page .page-content-container .page-content.highlighted-content {
        background: #f4f6f4; }
    html.home-page .single-page .page-content-container .page-content:not(:first-child),
    html.single-market-page .single-page .page-content-container .page-content:not(:first-child),
    html.common-page .single-page .page-content-container .page-content:not(:first-child) {
      color: #0b0a14;
      min-height: 300px; }
  html.home-page .single-page .market-facts-card,
  html.single-market-page .single-page .market-facts-card,
  html.common-page .single-page .market-facts-card {
    float: right;
    position: relative;
    z-index: 1;
    width: 300px;
    min-width: 300px;
    min-height: 400px;
    background: #fff;
    margin: 80px 40px 80px 80px;
    padding: 40px;
    border-radius: 18px;
    box-shadow: 0 0 49px 0 rgba(0, 0, 0, 0.2); }
    html.home-page .single-page .market-facts-card .facts-header,
    html.single-market-page .single-page .market-facts-card .facts-header,
    html.common-page .single-page .market-facts-card .facts-header {
      text-align: center;
      line-height: 35px; }
      html.home-page .single-page .market-facts-card .facts-header .header-label,
      html.single-market-page .single-page .market-facts-card .facts-header .header-label,
      html.common-page .single-page .market-facts-card .facts-header .header-label {
        font-size: 20px;
        color: rgba(11, 10, 20, 0.6); }
      html.home-page .single-page .market-facts-card .facts-header .header-title,
      html.single-market-page .single-page .market-facts-card .facts-header .header-title,
      html.common-page .single-page .market-facts-card .facts-header .header-title {
        font-size: 38px;
        color: #0b0a14;
        font-weight: 500; }
    html.home-page .single-page .market-facts-card .facts-items,
    html.single-market-page .single-page .market-facts-card .facts-items,
    html.common-page .single-page .market-facts-card .facts-items {
      margin: 32px 0; }
    html.home-page .single-page .market-facts-card .facts-item,
    html.single-market-page .single-page .market-facts-card .facts-item,
    html.common-page .single-page .market-facts-card .facts-item {
      display: flex;
      padding: 15px 0 15px 40px;
      font-size: 14px;
      font-weight: 900;
      position: relative;
      line-height: 26px;
      border-bottom: 0.5px solid #d4d2d2;
      color: rgba(11, 10, 20, 0.6); }
    html.home-page .single-page .market-facts-card .facts-item:last-child,
    html.single-market-page .single-page .market-facts-card .facts-item:last-child,
    html.common-page .single-page .market-facts-card .facts-item:last-child {
      border-bottom: none; }
    html.home-page .single-page .market-facts-card .facts-item::before,
    html.single-market-page .single-page .market-facts-card .facts-item::before,
    html.common-page .single-page .market-facts-card .facts-item::before {
      position: absolute;
      font-family: 'Glyphicons Halflings';
      top: 12px;
      left: 0;
      content: "\E013";
      font-size: 17px; }
    html.home-page .single-page .market-facts-card .action-buttons-container,
    html.single-market-page .single-page .market-facts-card .action-buttons-container,
    html.common-page .single-page .market-facts-card .action-buttons-container {
      width: 100%;
      position: relative;
      text-align: center; }
    html.home-page .single-page .market-facts-card .action-button,
    html.single-market-page .single-page .market-facts-card .action-button,
    html.common-page .single-page .market-facts-card .action-button {
      width: auto;
      margin: 0 auto;
      color: rgba(31, 29, 49, 0.8);
      border-radius: 30px;
      font-size: 12px;
      text-align: center;
      text-transform: uppercase;
      font-weight: 900;
      padding: 12px 18px;
      display: inline-block;
      cursor: pointer; }
  html.home-page .single-page .risk-image,
  html.single-market-page .single-page .risk-image,
  html.common-page .single-page .risk-image {
    width: 100% !important;
    min-width: 400px;
    height: 338px;
    margin-right: 70px; }
  html.home-page .single-page .stck-image,
  html.single-market-page .single-page .stck-image,
  html.common-page .single-page .stck-image {
    width: 100% !important;
    min-width: 488px;
    height: 424px;
    margin-right: 70px; }
  html.home-page .single-page .comm-image,
  html.single-market-page .single-page .comm-image,
  html.common-page .single-page .comm-image {
    width: 100% !important;
    min-width: 488px;
    height: 424px;
    margin-right: 70px; }
  html.home-page .single-page .bonds-image,
  html.single-market-page .single-page .bonds-image,
  html.common-page .single-page .bonds-image {
    width: 100% !important;
    min-width: 488px;
    height: 424px;
    margin-right: 70px; }
  html.home-page .single-page .page-section,
  html.single-market-page .single-page .page-section,
  html.common-page .single-page .page-section {
    width: 100%;
    color: rgba(11, 10, 20, 0.8);
    max-width: 1184px;
    font-size: 18px;
    line-height: 35px;
    margin: 0 auto; }
    html.home-page .single-page .page-section.split-2,
    html.single-market-page .single-page .page-section.split-2,
    html.common-page .single-page .page-section.split-2 {
      display: flex;
      margin-top: 30px; }
      html.home-page .single-page .page-section.split-2 > div,
      html.single-market-page .single-page .page-section.split-2 > div,
      html.common-page .single-page .page-section.split-2 > div {
        max-width: 50%; }
      html.home-page .single-page .page-section.split-2 > div:first-child,
      html.single-market-page .single-page .page-section.split-2 > div:first-child,
      html.common-page .single-page .page-section.split-2 > div:first-child {
        margin-right: 30px; }
    html.home-page .single-page .page-section .first-section,
    html.single-market-page .single-page .page-section .first-section,
    html.common-page .single-page .page-section .first-section {
      position: relative;
      margin-left: 200px;
      padding-top: 80px; }
    html.home-page .single-page .page-section h1,
    html.single-market-page .single-page .page-section h1,
    html.common-page .single-page .page-section h1 {
      font-size: 48px;
      line-height: 60px;
      font-weight: 200;
      margin-bottom: 30px; }
    html.home-page .single-page .page-section p,
    html.single-market-page .single-page .page-section p,
    html.common-page .single-page .page-section p {
      margin-bottom: 30px; }
      html.home-page .single-page .page-section p:last-child,
      html.single-market-page .single-page .page-section p:last-child,
      html.common-page .single-page .page-section p:last-child {
        margin-bottom: 0; }
  html.home-page .single-page .page-first-text p:first-child,
  html.single-market-page .single-page .page-first-text p:first-child,
  html.common-page .single-page .page-first-text p:first-child {
    font-size: 24px;
    font-weight: 700;
    line-height: 37px; }
  html.home-page .single-page .page-first-text::before,
  html.single-market-page .single-page .page-first-text::before,
  html.common-page .single-page .page-first-text::before {
    content: '';
    position: absolute;
    top: 80px;
    left: -200px;
    width: 150px;
    height: 150px;
    background-size: contain !important; }
  html.home-page .single-page .page-header__menu-container,
  html.single-market-page .single-page .page-header__menu-container,
  html.common-page .single-page .page-header__menu-container {
    width: 100%;
    background: #0b0a14;
    max-width: 1184px;
    margin: 0 auto;
    padding: 30px 0; }
    html.home-page .single-page .page-header__menu-container .page-header__menu,
    html.single-market-page .single-page .page-header__menu-container .page-header__menu,
    html.common-page .single-page .page-header__menu-container .page-header__menu {
      display: flex;
      justify-content: space-around;
      font-size: 14px;
      color: rgba(255, 255, 255, 0.3); }
      html.home-page .single-page .page-header__menu-container .page-header__menu .menu-item,
      html.single-market-page .single-page .page-header__menu-container .page-header__menu .menu-item,
      html.common-page .single-page .page-header__menu-container .page-header__menu .menu-item {
        display: table;
        cursor: pointer;
        font-weight: 700; }
        html.home-page .single-page .page-header__menu-container .page-header__menu .menu-item > a,
        html.single-market-page .single-page .page-header__menu-container .page-header__menu .menu-item > a,
        html.common-page .single-page .page-header__menu-container .page-header__menu .menu-item > a {
          display: table-cell;
          vertical-align: middle; }
        html.home-page .single-page .page-header__menu-container .page-header__menu .menu-item.current-page,
        html.single-market-page .single-page .page-header__menu-container .page-header__menu .menu-item.current-page,
        html.common-page .single-page .page-header__menu-container .page-header__menu .menu-item.current-page {
          color: #34E834;
          font-weight: 900;
          opacity: 1;
          cursor: default; }
        html.home-page .single-page .page-header__menu-container .page-header__menu .menu-item:not(.current-page):hover,
        html.single-market-page .single-page .page-header__menu-container .page-header__menu .menu-item:not(.current-page):hover,
        html.common-page .single-page .page-header__menu-container .page-header__menu .menu-item:not(.current-page):hover {
          color: #fff; }
        html.home-page .single-page .page-header__menu-container .page-header__menu .menu-item.menu-switch,
        html.single-market-page .single-page .page-header__menu-container .page-header__menu .menu-item.menu-switch,
        html.common-page .single-page .page-header__menu-container .page-header__menu .menu-item.menu-switch {
          display: none; }
        html.home-page .single-page .page-header__menu-container .page-header__menu .menu-item .menu-icon,
        html.single-market-page .single-page .page-header__menu-container .page-header__menu .menu-item .menu-icon,
        html.common-page .single-page .page-header__menu-container .page-header__menu .menu-item .menu-icon {
          width: 25px;
          height: 25px; }
          html.home-page .single-page .page-header__menu-container .page-header__menu .menu-item .menu-icon.icon-range,
          html.single-market-page .single-page .page-header__menu-container .page-header__menu .menu-item .menu-icon.icon-range,
          html.common-page .single-page .page-header__menu-container .page-header__menu .menu-item .menu-icon.icon-range {
            background: url(~/assets/img/single_market_page/icon-market.png) no-repeat center center; }
          html.home-page .single-page .page-header__menu-container .page-header__menu .menu-item .menu-icon.icon-forex,
          html.single-market-page .single-page .page-header__menu-container .page-header__menu .menu-item .menu-icon.icon-forex,
          html.common-page .single-page .page-header__menu-container .page-header__menu .menu-item .menu-icon.icon-forex {
            background: url(~/assets/img/single_market_page/forex-small.png) no-repeat center center; }
          html.home-page .single-page .page-header__menu-container .page-header__menu .menu-item .menu-icon.icon-commodities,
          html.single-market-page .single-page .page-header__menu-container .page-header__menu .menu-item .menu-icon.icon-commodities,
          html.common-page .single-page .page-header__menu-container .page-header__menu .menu-item .menu-icon.icon-commodities {
            background: url(~/assets/img/single_market_page/comodity-small.png) no-repeat center center; }
          html.home-page .single-page .page-header__menu-container .page-header__menu .menu-item .menu-icon.icon-indices,
          html.single-market-page .single-page .page-header__menu-container .page-header__menu .menu-item .menu-icon.icon-indices,
          html.common-page .single-page .page-header__menu-container .page-header__menu .menu-item .menu-icon.icon-indices {
            background: url(~/assets/img/single_market_page/indice-small.png) no-repeat center center; }
          html.home-page .single-page .page-header__menu-container .page-header__menu .menu-item .menu-icon.icon-bonds,
          html.single-market-page .single-page .page-header__menu-container .page-header__menu .menu-item .menu-icon.icon-bonds,
          html.common-page .single-page .page-header__menu-container .page-header__menu .menu-item .menu-icon.icon-bonds {
            background: url(~/assets/img/single_market_page/bond-small.png) no-repeat center center; }
          html.home-page .single-page .page-header__menu-container .page-header__menu .menu-item .menu-icon.icon-cruptocurrency,
          html.single-market-page .single-page .page-header__menu-container .page-header__menu .menu-item .menu-icon.icon-cruptocurrency,
          html.common-page .single-page .page-header__menu-container .page-header__menu .menu-item .menu-icon.icon-cruptocurrency {
            background: url(~/assets/img/single_market_page/btc-small.png) no-repeat center center; }
          html.home-page .single-page .page-header__menu-container .page-header__menu .menu-item .menu-icon.icon-stocks,
          html.single-market-page .single-page .page-header__menu-container .page-header__menu .menu-item .menu-icon.icon-stocks,
          html.common-page .single-page .page-header__menu-container .page-header__menu .menu-item .menu-icon.icon-stocks {
            background: url(~/assets/img/single_market_page/stock-small.png) no-repeat center center; }
          html.home-page .single-page .page-header__menu-container .page-header__menu .menu-item .menu-icon.icon-switch,
          html.single-market-page .single-page .page-header__menu-container .page-header__menu .menu-item .menu-icon.icon-switch,
          html.common-page .single-page .page-header__menu-container .page-header__menu .menu-item .menu-icon.icon-switch {
            position: relative;
            display: none; }
            html.home-page .single-page .page-header__menu-container .page-header__menu .menu-item .menu-icon.icon-switch::after,
            html.single-market-page .single-page .page-header__menu-container .page-header__menu .menu-item .menu-icon.icon-switch::after,
            html.common-page .single-page .page-header__menu-container .page-header__menu .menu-item .menu-icon.icon-switch::after {
              position: absolute;
              font-family: 'Glyphicons Halflings';
              top: 0;
              right: 0;
              line-height: 24px;
              content: "\E259";
              color: #7e7e7e;
              font-size: 23px;
              cursor: pointer; }
          html.home-page .single-page .page-header__menu-container .page-header__menu .menu-item .menu-icon.icon-switch:hover::after,
          html.single-market-page .single-page .page-header__menu-container .page-header__menu .menu-item .menu-icon.icon-switch:hover::after,
          html.common-page .single-page .page-header__menu-container .page-header__menu .menu-item .menu-icon.icon-switch:hover::after {
            color: #fff; }
        html.home-page .single-page .page-header__menu-container .page-header__menu .menu-item .menu-title,
        html.single-market-page .single-page .page-header__menu-container .page-header__menu .menu-item .menu-title,
        html.common-page .single-page .page-header__menu-container .page-header__menu .menu-item .menu-title {
          padding-left: 8px;
          color: inherit;
          text-decoration: none; }
    html.home-page .single-page .page-header__menu-container.expanded .page-header__menu,
    html.single-market-page .single-page .page-header__menu-container.expanded .page-header__menu,
    html.common-page .single-page .page-header__menu-container.expanded .page-header__menu {
      justify-content: space-around;
      flex-direction: column; }
      html.home-page .single-page .page-header__menu-container.expanded .page-header__menu .menu-item,
      html.single-market-page .single-page .page-header__menu-container.expanded .page-header__menu .menu-item,
      html.common-page .single-page .page-header__menu-container.expanded .page-header__menu .menu-item {
        padding: 16px 0; }
      html.home-page .single-page .page-header__menu-container.expanded .page-header__menu .menu-icon.icon-switch::after,
      html.single-market-page .single-page .page-header__menu-container.expanded .page-header__menu .menu-icon.icon-switch::after,
      html.common-page .single-page .page-header__menu-container.expanded .page-header__menu .menu-icon.icon-switch::after {
        content: "\E260"; }
  html.home-page .single-page .page-header,
  html.single-market-page .single-page .page-header,
  html.common-page .single-page .page-header {
    padding-top: 60px;
    background-size: cover; }
    html.home-page .single-page .page-header .page-header__container,
    html.single-market-page .single-page .page-header .page-header__container,
    html.common-page .single-page .page-header .page-header__container {
      max-width: 1184px;
      margin: 0 auto;
      padding-bottom: 1px; }
    html.home-page .single-page .page-header .page-header__heading--style,
    html.single-market-page .single-page .page-header .page-header__heading--style,
    html.common-page .single-page .page-header .page-header__heading--style {
      font-size: 56px;
      font-weight: 500;
      text-shadow: 0 0 10px #000; }
    html.home-page .single-page .page-header .page-header__description,
    html.single-market-page .single-page .page-header .page-header__description,
    html.common-page .single-page .page-header .page-header__description {
      width: 100%;
      max-width: 800px;
      margin: 0 auto;
      line-height: 42px;
      font-size: 24px;
      font-weight: 300;
      text-shadow: 0 0 10px #000;
      opacity: 0.8; }
    html.home-page .single-page .page-header .icm-button-wrapper.page-header__primary-button,
    html.single-market-page .single-page .page-header .icm-button-wrapper.page-header__primary-button,
    html.common-page .single-page .page-header .icm-button-wrapper.page-header__primary-button {
      margin: 64px 0; }
      html.home-page .single-page .page-header .icm-button-wrapper.page-header__primary-button a.icm-btn.icm-btn-primary,
      html.single-market-page .single-page .page-header .icm-button-wrapper.page-header__primary-button a.icm-btn.icm-btn-primary,
      html.common-page .single-page .page-header .icm-button-wrapper.page-header__primary-button a.icm-btn.icm-btn-primary {
        text-decoration: none;
        width: auto;
        color: rgba(31, 29, 49, 0.8);
        border-radius: 30px;
        background: #34E834;
        font-size: 12px;
        text-transform: uppercase;
        font-weight: 900;
        padding: 12px 18px; }
  html.home-page .single-page .flex-section,
  html.single-market-page .single-page .flex-section,
  html.common-page .single-page .flex-section {
    display: flex;
    justify-content: space-between;
    letter-spacing: -0.4px; }
    html.home-page .single-page .flex-section .flex-content,
    html.single-market-page .single-page .flex-section .flex-content,
    html.common-page .single-page .flex-section .flex-content {
      flex: 1;
      margin: 0 40px; }
      html.home-page .single-page .flex-section .flex-content:first-child,
      html.single-market-page .single-page .flex-section .flex-content:first-child,
      html.common-page .single-page .flex-section .flex-content:first-child {
        margin-left: 0; }
      html.home-page .single-page .flex-section .flex-content:last-child,
      html.single-market-page .single-page .flex-section .flex-content:last-child,
      html.common-page .single-page .flex-section .flex-content:last-child {
        margin-right: 0; }
  html.home-page .single-page .accent-block,
  html.single-market-page .single-page .accent-block,
  html.common-page .single-page .accent-block {
    background: #34E834;
    color: rgba(0, 0, 0, 0.6);
    font-size: 14px;
    padding: 12px 20px;
    line-height: initial;
    display: inline-block;
    cursor: default;
    margin-bottom: 30px; }
  html.home-page .single-page .content-head,
  html.single-market-page .single-page .content-head,
  html.common-page .single-page .content-head {
    color: rgba(11, 10, 20, 0.8);
    font-size: 20px;
    line-height: 32px;
    font-weight: 900;
    margin-bottom: 50px; }
  html.home-page .single-page .content-inside.label,
  html.single-market-page .single-page .content-inside.label,
  html.common-page .single-page .content-inside.label {
    color: #0b0a14;
    font-size: 20px;
    line-height: 32px;
    font-weight: 500;
    margin-top: 20px; }
  html.home-page .single-page .content-inside.value,
  html.single-market-page .single-page .content-inside.value,
  html.common-page .single-page .content-inside.value {
    color: rgba(11, 10, 20, 0.5);
    font-size: 16px;
    line-height: 32px;
    font-weight: 300;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2); }
  html.home-page .single-page .content-inside.description,
  html.single-market-page .single-page .content-inside.description,
  html.common-page .single-page .content-inside.description {
    color: rgba(11, 10, 20, 0.6);
    font-size: 14px;
    line-height: 23px;
    margin-top: 30px;
    letter-spacing: -0.3px; }

html.home-page .spreads-block,
html.single-market-page .spreads-block,
html.common-page .spreads-block {
  margin-top: 0px; }
  html.home-page .spreads-block__header,
  html.single-market-page .spreads-block__header,
  html.common-page .spreads-block__header {
    font-weight: 300; }
  html.home-page .spreads-block__label,
  html.single-market-page .spreads-block__label,
  html.common-page .spreads-block__label {
    font-size: 16px;
    color: #999999;
    margin-top: 16px;
    margin-bottom: 24px; }
    html.home-page .spreads-block__label .bold,
    html.single-market-page .spreads-block__label .bold,
    html.common-page .spreads-block__label .bold {
      font-weight: bold; }
  html.home-page .spreads-block__spread-item:not(:last-child),
  html.single-market-page .spreads-block__spread-item:not(:last-child),
  html.common-page .spreads-block__spread-item:not(:last-child) {
    margin-bottom: 1px; }
  html.home-page .spreads-block__expand-button,
  html.single-market-page .spreads-block__expand-button,
  html.common-page .spreads-block__expand-button {
    background-color: #f4f4f4;
    font-size: 28px;
    font-weight: normal;
    line-height: 1;
    letter-spacing: -0.6px;
    text-align: left;
    color: rgba(11, 10, 20, 0.6);
    padding: 23px 21px;
    position: relative; }
  html.home-page .spreads-block__expand-button[data-toggle="collapse"]:after,
  html.single-market-page .spreads-block__expand-button[data-toggle="collapse"]:after,
  html.common-page .spreads-block__expand-button[data-toggle="collapse"]:after {
    font-family: 'Glyphicons Halflings';
    content: "\E072";
    position: absolute;
    color: #000000;
    font-size: 12px;
    line-height: 22px;
    right: 0;
    top: 0;
    transform: rotate(-90deg);
    right: 20px;
    top: calc(50% - 12px); }
  html.home-page .spreads-block__expand-button[data-toggle="collapse"].collapsed:after,
  html.single-market-page .spreads-block__expand-button[data-toggle="collapse"].collapsed:after,
  html.common-page .spreads-block__expand-button[data-toggle="collapse"].collapsed:after {
    transform: rotate(90deg); }
  html.home-page .spreads-block .markets-spread-table .header-bar,
  html.single-market-page .spreads-block .markets-spread-table .header-bar,
  html.common-page .spreads-block .markets-spread-table .header-bar {
    justify-content: space-between; }
  html.home-page .spreads-block .markets-spread-table .header-bar-desktop div:first-child,
  html.single-market-page .spreads-block .markets-spread-table .header-bar-desktop div:first-child,
  html.common-page .spreads-block .markets-spread-table .header-bar-desktop div:first-child {
    width: 35%; }
  html.home-page .spreads-block.icm-page-subsection-content,
  html.single-market-page .spreads-block.icm-page-subsection-content,
  html.common-page .spreads-block.icm-page-subsection-content {
    max-width: initial;
    padding: 0; }
  html.home-page .spreads-block .spreads-block__header,
  html.home-page .spreads-block .spreads-block__expand-button,
  html.single-market-page .spreads-block .spreads-block__header,
  html.single-market-page .spreads-block .spreads-block__expand-button,
  html.common-page .spreads-block .spreads-block__header,
  html.common-page .spreads-block .spreads-block__expand-button {
    display: none; }

html.home-page .profile-buttons,
html.single-market-page .profile-buttons,
html.common-page .profile-buttons {
  justify-content: center; }
  html.home-page .profile-buttons .profile-button,
  html.single-market-page .profile-buttons .profile-button,
  html.common-page .profile-buttons .profile-button {
    border-radius: 4px;
    margin: -60px 5px 0 5px;
    text-align: center;
    line-height: initial;
    padding: 22px;
    background: #f5f5f5;
    color: #767678; }
    html.home-page .profile-buttons .profile-button .profile-button-label,
    html.single-market-page .profile-buttons .profile-button .profile-button-label,
    html.common-page .profile-buttons .profile-button .profile-button-label {
      font-size: 14px;
      font-weight: 300;
      color: #a4a4a5; }
    html.home-page .profile-buttons .profile-button .profile-button-value,
    html.single-market-page .profile-buttons .profile-button .profile-button-value,
    html.common-page .profile-buttons .profile-button .profile-button-value {
      font-size: 18px;
      font-weight: 900;
      color: #6f6f72; }
    html.home-page .profile-buttons .profile-button:hover,
    html.single-market-page .profile-buttons .profile-button:hover,
    html.common-page .profile-buttons .profile-button:hover {
      background: #646369 !important; }
      html.home-page .profile-buttons .profile-button:hover .profile-button-label,
      html.single-market-page .profile-buttons .profile-button:hover .profile-button-label,
      html.common-page .profile-buttons .profile-button:hover .profile-button-label {
        color: #b4b4b6 !important; }
      html.home-page .profile-buttons .profile-button:hover .profile-button-value,
      html.single-market-page .profile-buttons .profile-button:hover .profile-button-value,
      html.common-page .profile-buttons .profile-button:hover .profile-button-value {
        color: #e5e5e5 !important; }

html.home-page .page-content.global-markets-today,
html.single-market-page .page-content.global-markets-today,
html.common-page .page-content.global-markets-today {
  height: auto;
  min-height: 455px;
  background: url(/img/single_market_page/footBanner.png) no-repeat center center;
  background-size: cover !important;
  text-align: center; }
  html.home-page .page-content.global-markets-today.not-scrolled,
  html.single-market-page .page-content.global-markets-today.not-scrolled,
  html.common-page .page-content.global-markets-today.not-scrolled {
    background: none; }
  html.home-page .page-content.global-markets-today .page-section,
  html.single-market-page .page-content.global-markets-today .page-section,
  html.common-page .page-content.global-markets-today .page-section {
    flex-direction: column; }
  html.home-page .page-content.global-markets-today .start-trading,
  html.single-market-page .page-content.global-markets-today .start-trading,
  html.common-page .page-content.global-markets-today .start-trading {
    margin-top: 50px;
    color: #fff !important;
    font-size: 28px;
    font-weight: 500;
    line-height: 2.14;
    letter-spacing: 6.7px; }
  html.home-page .page-content.global-markets-today .global-today,
  html.single-market-page .page-content.global-markets-today .global-today,
  html.common-page .page-content.global-markets-today .global-today {
    color: #fff !important;
    font-size: 52px;
    font-weight: 100;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.15;
    letter-spacing: -1px;
    text-align: center; }
  html.home-page .page-content.global-markets-today .icm-button-wrapper,
  html.single-market-page .page-content.global-markets-today .icm-button-wrapper,
  html.common-page .page-content.global-markets-today .icm-button-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 48px; }
    html.home-page .page-content.global-markets-today .icm-button-wrapper a,
    html.single-market-page .page-content.global-markets-today .icm-button-wrapper a,
    html.common-page .page-content.global-markets-today .icm-button-wrapper a {
      width: auto;
      height: max-content;
      outline: none; }
      html.home-page .page-content.global-markets-today .icm-button-wrapper a.live,
      html.single-market-page .page-content.global-markets-today .icm-button-wrapper a.live,
      html.common-page .page-content.global-markets-today .icm-button-wrapper a.live {
        color: rgba(31, 29, 49, 0.8);
        border-radius: 30px;
        background: #34E834;
        font-size: 12px;
        text-transform: uppercase;
        font-weight: 900;
        padding: 12px 18px; }
      html.home-page .page-content.global-markets-today .icm-button-wrapper a.demo,
      html.single-market-page .page-content.global-markets-today .icm-button-wrapper a.demo,
      html.common-page .page-content.global-markets-today .icm-button-wrapper a.demo {
        background: #000000 !important;
        margin-left: 40px;
        opacity: 1;
        font-size: 12px;
        font-weight: 900;
        font-style: normal;
        font-stretch: normal;
        letter-spacing: -0.2px;
        text-align: left;
        color: rgba(255, 255, 255, 1); }
        html.home-page .page-content.global-markets-today .icm-button-wrapper a.demo:hover,
        html.single-market-page .page-content.global-markets-today .icm-button-wrapper a.demo:hover,
        html.common-page .page-content.global-markets-today .icm-button-wrapper a.demo:hover {
          color: #fff !important;
          opacity: 1 !important; }
      html.home-page .page-content.global-markets-today .icm-button-wrapper a a,
      html.single-market-page .page-content.global-markets-today .icm-button-wrapper a a,
      html.common-page .page-content.global-markets-today .icm-button-wrapper a a {
        color: inherit !important;
        text-decoration: none !important; }
        html.home-page .page-content.global-markets-today .icm-button-wrapper a a:hover,
        html.single-market-page .page-content.global-markets-today .icm-button-wrapper a a:hover,
        html.common-page .page-content.global-markets-today .icm-button-wrapper a a:hover {
          color: inherit !important;
          text-decoration: none !important; }

.single-page.page-api-trading .sidebar-cta-card-container.random-background {
  position: relative;
  z-index: 1;
  width: 308px !important;
  margin: 0 auto;
  padding-top: 236px;
  padding-bottom: 64px;
  border-radius: 14px;
  float: right;
  margin: 0px 40px 80px 80px !important;
  background-image: url(/assets/img/single_market_page/api-trading-facts-bg.png) !important;
  box-shadow: 0 3px 49px 0 rgba(0, 0, 0, 0.14); }
  .single-page.page-api-trading .sidebar-cta-card-container.random-background::before {
    content: '';
    position: absolute;
    left: 52px;
    top: 141px;
    width: 204px;
    height: 52px;
    background: transparent no-repeat center center;
    background-size: contain;
    background-image: url(/assets/icons/svg/ICM-logo-transparentBG.svg); }
  .single-page.page-api-trading .sidebar-cta-card-container.random-background.sidebar-trueecn::before {
    background-image: url(/assets/img/true-logo.png); }
  .single-page.page-api-trading .sidebar-cta-card-container.random-background .bottom-block__message {
    font-size: 28px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.29;
    letter-spacing: -0.6px;
    text-align: center;
    color: #ffffff;
    padding: 0 40px;
    margin-bottom: 40px; }
  .single-page.page-api-trading .sidebar-cta-card-container.random-background .bottom-block {
    text-align: center; }
    .single-page.page-api-trading .sidebar-cta-card-container.random-background .bottom-block .icm-btn.icm-btn-primary {
      background: #34E834 !important;
      color: rgba(31, 29, 49, 0.8) !important;
      line-height: 1 !important;
      padding: 14px 25px !important;
      border-radius: 30px;
      border: none !important;
      width: max-content;
      font-size: 12px !important;
      font-weight: 900 !important;
      text-transform: uppercase; }
    .single-page.page-api-trading .sidebar-cta-card-container.random-background .bottom-block b {
      font-weight: 900; }

.single-page.page-api-trading .pre-image-item {
  padding-left: 33px;
  position: relative; }
  .single-page.page-api-trading .pre-image-item::before {
    content: '';
    position: absolute;
    left: 3px;
    top: 10px;
    width: 14px;
    height: 14px;
    transform: rotate(45deg);
    border: 1px solid #b5b5b5;
    background: #34e834;
    box-shadow: 0 0 2px 2px #fff inset; }

.single-page.page-api-trading .note {
  margin-top: 30px;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: -0.3px;
  text-align: left;
  color: rgba(11, 10, 20, 0.6); }
  .single-page.page-api-trading .note::before {
    content: "* "; }

.single-page.page-api-trading .page-header {
  background: url(/assets/img/single_market_page/api-trading-banner.jpg) no-repeat center right; }
  .single-page.page-api-trading .page-header .icm-button-wrapper.page-header__primary-button a.icm-btn.icm-btn-primary {
    border-radius: 2px !important;
    padding: 25px !important;
    font-size: 20px !important;
    font-weight: 900 !important;
    text-transform: uppercase; }

.single-page.page-api-trading .page-content-container {
  background: #fff !important; }

.single-page.page-api-trading .page-content.global-markets-today {
  background-image: url(/assets/img/single_market_page/api-trading-btm-bg.png); }

.single-page.page-api-trading .page-header__menu-container .page-header__menu .menu-item .menu-title {
  padding-left: 0 !important;
  text-transform: uppercase; }

.single-page.page-api-trading .page-section .first-section {
  margin-left: 0 !important;
  padding-top: 0 !important;
  margin-bottom: 0 !important; }

.single-page.page-api-trading .page-first-text {
  margin-bottom: 47px;
  font-size: 24px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.54;
  letter-spacing: -0.5px;
  text-align: left;
  color: rgba(11, 10, 20, 0.8); }

.single-page.page-api-trading .page-first-text::before {
  display: none; }

.single-page.page-api-trading .page-content.global-markets-today .icm-button-wrapper a.live {
  border-radius: 0 !important;
  padding: 25px !important;
  font-size: 20px !important;
  font-weight: 900 !important;
  text-transform: uppercase; }

.single-page.page-api-trading .page-content.global-markets-today .icm-button-wrapper a.demo {
  border-radius: 0 !important;
  padding: 25px !important;
  font-size: 20px !important;
  font-weight: 900 !important;
  text-transform: uppercase !important;
  background: #000 !important;
  color: #fff !important;
  margin-left: 9px; }

.single-page.page-api-trading .grid-section {
  display: grid;
  grid-template-columns: 33% 33% 33%; }
  .single-page.page-api-trading .grid-section .content-head {
    margin-bottom: 0 !important; }
  .single-page.page-api-trading .grid-section .grid-content {
    padding: 20px; }
  .single-page.page-api-trading .grid-section .content-inside {
    font-size: 16px;
    line-height: 1.56; }

.single-page.page-api-trading .floated-block {
  position: relative;
  width: 300px;
  padding: 30px;
  float: right;
  background: linear-gradient(45deg, #009600, #34e834);
  margin: 0 40px;
  border-radius: 18px; }
  .single-page.page-api-trading .floated-block h1 {
    font-size: 28px !important;
    font-weight: normal !important;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.18 !important;
    letter-spacing: -0.6px;
    text-align: left;
    color: #0b0a14; }
  .single-page.page-api-trading .floated-block p {
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: -0.3px;
    text-align: left;
    color: rgba(11, 10, 20, 0.8); }

@media screen and (max-width: 1040px) {
  .single-page.page-api-trading .page-section .first-section .page-first-image {
    min-height: 300px; } }

@media screen and (max-width: 960px) {
  .single-page.page-api-trading .page-section .first-section {
    padding-top: 80px !important; }
  .single-page.page-api-trading .sidebar-cta-card-container.random-background {
    margin: 80px 40px 80px 80px !important; } }

@media screen and (max-width: 940px) {
  .single-page.page-api-trading .grid-section {
    grid-template-columns: 100%; }
    .single-page.page-api-trading .grid-section .gc-1 {
      grid-row: 1; }
    .single-page.page-api-trading .grid-section .gc-4 {
      grid-row: 2; }
    .single-page.page-api-trading .grid-section .gc-2 {
      grid-row: 3;
      margin-top: 40px; }
    .single-page.page-api-trading .grid-section .gc-5 {
      grid-row: 4; }
    .single-page.page-api-trading .grid-section .gc-3 {
      grid-row: 5;
      margin-top: 40px; }
    .single-page.page-api-trading .grid-section .gc-6 {
      grid-row: 6; } }

@media screen and (max-width: 870px) {
  .single-page.page-api-trading .page-section .first-section {
    padding-top: 80px !important; }
    .single-page.page-api-trading .page-section .first-section .page-first-image {
      min-height: 150px; } }

@media screen and (max-width: 768px) {
  .single-page.page-api-trading .sidebar-cta-card-container.random-background {
    float: initial !important;
    margin: 40px auto !important; }
  .single-page.page-api-trading .floated-block {
    float: initial !important;
    margin: 40px auto !important; } }

@media screen and (max-width: 640px) {
  .single-page.page-api-trading .page-section .first-section .page-first-image {
    min-height: 300px; } }

/*# sourceMappingURL=api-trading.css.map */
