
@import "../_global";

.single-page.page-contact-us {
	.d-none{
		display: none !important;
	}
	.m-auto{
		margin: auto;
	}
	.b-1 {
		border-bottom: 2px solid #eee;
		margin-top: 1em;
	}
	.f-20{
		font-size: 20px;
	}
	.h-200{
		height: 200px !important;
	}
	.h-100{
		height: 100px !important;
	}
	.mt-1-5{
		margin-top: 1.5em;}


	.mt-0{
		margin-top: 0 !important;
	}

	.mb-0{
		margin-bottom: 0 !important;
	}
	.mb-1{
		margin-bottom: 1em !important;
	}

	.mb--5{
		margin-bottom: .5em;
	}

	.p-1-5{
		padding: 3.5em 0 0 1.5em !important;
	}

	.p-1-2{
		padding: 1.2em !important;
	}
	.spc-top{
		margin-top: 2em !important;
		padding-top: 2em !important;
	}
	.text-green{
		font-size: 20px;
		font-weight: 600;
		font-style: normal;
		font-stretch: normal;
		letter-spacing: -0.4px;
		color: #333;
	}
	.text-grey{
		font-size: 20px;
		font-weight: 500;
		font-style: normal;
		font-stretch: normal;
		letter-spacing: -0.4px;
		color:#555556 !important;

	}

	.text-dark{
		font-size: 20px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: -0.4px;
    color: #333;

	}
	.text-head-cu{
			font-size: 48px;
			line-height: 60px;
			font-weight: 200;
			margin-bottom: 30px;
	}

	.text-center{
		text-align: center;
	}

	.text-left{
		text-align: left !important;
	}

	.d-flex-center{
		display: flex;
		justify-content: center;
	}

	.hq{
	height: 100px;
	background-repeat: no-repeat;

	&.one{
		background-image: url(/assets/img/single_market_page/contact-us-building-1.png);
	}
	&.two{
		background-image: url(/assets/img/single_market_page/contact-us-building-2.png);
	}
	&.three{
		background-image: url(/assets/img/single_market_page/contact-us-building-3.png);
	}
 }

	.overlay {
	    position: fixed;
	    top: 0;
	    left: 0;
	    right: 0;
	    bottom: 0;
	    background: rgba(0, 0, 0, 0.93);
	    z-index: -1;
	    transform: scale(0.96);
	    opacity: 0;
	    transition: all 0.5s ease-in-out;


	    .close {
				text-decoration: none;
	        position: fixed;
	        top: 10px;
	        right: 10px;
	        width: 50px;
	        height: 50px;
	        line-height: 50px;
	        text-align: center;
	        font-size: 40px;
	        background: #444;
	        border-radius: 50px;
	        margin: 20px;
	        color: #000;
	        transition: all 0.33s ease-in-out;
	        cursor: default;
	    }
	    .close:hover {
	        color: red;
	        background: #000;
	        box-shadow: 0 0 0 4px red inset;
	        transition: all 0.33s ease-in-out;
	    }

			.content {
				display: flex;
				justify-content: center;
				align-items: center;
				height: 100%;
		   	    flex-direction: column;
				line-height: 42px;

				.inner {
					background: #2a2a2a;
					border-radius: 18px;

					// color: #000;
					// max-width: 400px;
					// min-width: 300px;
					padding: 30px 100px;

				}
			}
	}

	body.overlay-active & .overlay {

	    z-index: 999999;
	    opacity: 1;
	    transform: scale(1);
	    transition: all 0.33s ease-in-out;
	}

	.tf-container  {
		a {
			color: inherit;
			text-decoration: none;
		}
		.tf-number {
			display: none;
		}
	}

	.c-card {
		width: 340px;
		height: 372px;
		border-radius: 18px;
		background-color: #fbfafa;
		box-shadow: 0px 3px 24px 0 rgba(0, 0, 0, 0.14);
		display: table;
		justify-self: center;
		position: relative;
		margin-top: 50px;


		&.b-none{
			box-shadow: none;
			background: none;
			&:hover{
				border: none;
			}
		}

		.c-card-content {
			display: table-cell;
			vertical-align: middle;
			font-size: 16px;
			font-weight: 300;
			font-style: normal;
			font-stretch: normal;
			line-height: 1.56;
			letter-spacing: -0.3px;
			padding: 1.5em;
			text-align: center;
			color: #333;

			.c-card-img {
				width: 80px;
				height: 85px;
				border-radius: 35px;
				background-color: transparent;
				margin-bottom: 20px;
				background-image: url(/assets/img/single_market_page/contact-us-building.png);
				background-repeat: no-repeat;
				background-position: center center;

				&.i-1 {	background-image: url(/assets/img/single_market_page/contact-us-building.png); }
				&.i-2 {	background-image: url(/assets/img/single_market_page/contact-us-mailbox.png); }
				&.i-3 {	background-image: url(/assets/img/single_market_page/contact-us-call.png); }
				&.i-4 {	background-image: url(/assets/img/single_market_page/contact-us-mail.png); }
				&.i-5 {	background-image: url(/assets/img/single_market_page/contact-us-clock.png); }
				&.i-6 {	background-image: url(/assets/img/single_market_page/contact-us-docs.png); }
				&.i-7 {	background-image: url(/assets/img/single_market_page/contact-us-email.png); opacity: 0.5; }
				&.i-8 {	background-image: url(/assets/img/single_market_page/contact-us-callback.png); opacity: 0.5; }
				&.i-9 {	background-image: url(/assets/img/single_market_page/contact-us-global.png); }
			}
			.c-card-title {
				.title-gray {
					font-size: 20px;
					font-weight: 500;
					font-style: normal;
					font-stretch: normal;
					letter-spacing: -0.4px;
					color: rgba(11, 10, 20, 0.6);
					margin-top: -28px;
				}
				.title-green {
					font-size: 20px;
					font-weight: 600;
					font-style: normal;
					font-stretch: normal;
					letter-spacing: -0.4px;
					color: #333;
					margin-bottom: 30px;
				}
			}
			.c-card-extra {
				font-size: 14px;
				font-weight: 500;
				font-style: normal;
				font-stretch: normal;
				line-height: 2.5;
				letter-spacing: -0.3px;
				color: rgba(11, 10, 20, 0.6);
				margin-top: 0px;
			}
		}
	}

	.page-header {
		background: url(/assets/img/single_market_page/contact-us-banner.jpg) no-repeat center right;

		.icm-button-wrapper.page-header__primary-button
			a.icm-btn.icm-btn-primary {
			border-radius: 2px !important;
			padding: 25px !important;
			font-size: 20px !important;
			font-weight: 900 !important;
			text-transform: uppercase;
		}
	}
	.page-content-container {
		background: #fff !important;
	}
	.page-content.global-markets-today {
		background-image: url(/assets/img/single_market_page/contact-us-btm-bg.png);
	}
	.page-header__menu-container .page-header__menu .menu-item .menu-title {
		padding-left: 0 !important;
		text-transform: uppercase;
	}
	.page-content.global-markets-today .icm-button-wrapper {
		a.live {
			border-radius: 0 !important;
			padding: 25px !important;
			font-size: 20px !important;
			font-weight: 900 !important;
			text-transform: uppercase;
		}
		a.demo {
			border-radius: 0 !important;
			padding: 25px !important;
			font-size: 20px !important;
			font-weight: 900 !important;
			text-transform: uppercase !important;
			background: #000 !important;
			color: #fff !important;
			margin-left: 9px;
		}
	}
	.grid-section {
		display: grid;
		grid-template-columns: 33% 33% 33%;
	}

	.grid-section-50{
		display: grid;
		grid-template-columns: 50% 50%;
	}


	@media screen and (min-width: 701px) {
		.a-lg{
			margin: 0 auto;
    		// width: 310px;
    		// text-align: left;
    		// padding: 0 0 3em 2em;

		}
		.ml-15-lg{
			margin-left: 1.5em;
		}
		.d-flex-lg{
			display: flex;
		}

		.c-card{
			&.lg{
				width: 450px;
				height: 200px;
			}
		}
	}
	@media screen and (max-width: 1100px) and (min-width: 701px) {
		.p-3-xs{
			padding: 0 3em !important;
		}
	}

	@media screen and (max-width: 1100px) and (min-width: 1001px) {
		.xs{
			padding: 1em 0 0 1.5em !important
		}
	}
	@media screen and (max-width: 1000px) and (min-width: 701px) {
		.grid-section {
			grid-template-columns: 50% 50%;
		}
	}

	@media screen and (max-width: 450px) and (min-width: 301px) {
		.p-3-xs{
			padding: 0 1.5em !important;
		}
	}
	@media screen and (max-width: 300px) and (min-width: 200px) {
		.p-3-xs{
			padding: 0 2em !important;
		}
	}
	@media screen and (max-width: 800px) and (min-width: 200px) {
		.w-100{
			width: 100% !important;
		}
	}
	@media screen and (max-width: 700px) and (min-width: 200px) {

		.mt-0-xs{
			margin-top: 0;
		}
		.grid-section {
			grid-template-columns: 100%;
		}
	}
	@media screen and (max-width: 1140px) {

		.grid-section-50 {
			grid-template-columns: 50% 50%;
		}
	}
	@media screen and (max-width: 940px) {

		.grid-section-50 {
			grid-template-columns: 100%;
		}
	}
}
