@import "../_global"; 

.single-page.page-indices {
    .page-header {
        background: url(/assets/img/single_market_page/banner1.png) no-repeat center right;
    }
    .page-first-text::before {
        background: url(/assets/img/single_market_page/icon-indices.svg) center center no-repeat transparent;
    }
    .risk-image {
        background: url(/assets/img/single_market_page/indicesImg.png) center center no-repeat transparent;
        background-size: contain;
    }
    .market-facts-card {
        .facts-item::before {
            color: #34E834;
        }
        .action-button {
            background: #34E834;
        }
    }
}
@media screen and (max-width: 640px) {
    .single-page.page-indices {
        .single-design-table .table-row {
            height: 150px !important;
        }
    }
}
