/* ICM Primary values from UX design */
/* Width - container, element, card, */
/* Margin */
/* padding */
/* Border */
/*
  Roboto font related weights
   https://fonts.google.com/specimen/Roboto?selection.family=Roboto:100,300,400,500,700,900
*/
/* font color, background color */
/* UI elements specific color */
/* Card specific color */
/* max width properties for UI Cards for different number of cards in a container */
/* one are more cards */
/* three are more cards */
.single-page.page-meta-trader-ios .page-header {
  background: url(/assets/img/single_market_page/mt-ios-banner.jpg) no-repeat center center; }
  .single-page.page-meta-trader-ios .page-header .icm-button-wrapper.page-header__primary-button a.icm-btn.icm-btn-primary {
    border-radius: 2px !important;
    padding: 25px !important;
    font-size: 20px !important;
    font-weight: 900 !important;
    text-transform: uppercase; }

.single-page.page-meta-trader-ios .page-first-image {
  min-height: 400px;
  background: url(/assets/img/single_market_page/mt-ios-img.png) left top no-repeat transparent !important;
  background-size: contain !important; }

/* .single-page.page-meta-trader-ios .page-content.global-markets-today {
  background-image: url(/assets/img/single_market_page/mt-ios-btm-bg.png); } */

.single-page.page-meta-trader-ios .market-facts-card {
  background: url(/assets/img/single_market_page/mt-ios-facts-bg.png) center center no-repeat transparent !important;
  background-size: cover !important;
  padding-top: 150px !important; }
  .single-page.page-meta-trader-ios .market-facts-card .facts-item {
    color: rgba(255, 255, 255, 0.8) !important;
    line-height: 1.27 !important;
    border-bottom-color: #343434 !important; }
  .single-page.page-meta-trader-ios .market-facts-card .facts-item::before {
    color: #34E834; }
  .single-page.page-meta-trader-ios .market-facts-card .action-button {
    background: #34E834; }
  .single-page.page-meta-trader-ios .market-facts-card .facts-header .header-label {
    color: #fff !important; }
  .single-page.page-meta-trader-ios .market-facts-card .facts-header .header-title {
    color: #fff !important; }

.single-page.page-meta-trader-ios .page-header__menu-container .page-header__menu .menu-item .menu-title {
  padding-left: 0 !important;
  text-transform: uppercase; }

.single-page.page-meta-trader-ios .page-section .first-section {
  margin-left: 0 !important;
  margin-bottom: -125px !important; }

.single-page.page-meta-trader-ios .page-first-text::before {
  display: none; }

.single-page.page-meta-trader-ios .page-content.global-markets-today .icm-button-wrapper a.live {
  border-radius: 0 !important;
  padding: 25px !important;
  font-size: 20px !important;
  font-weight: 900 !important;
  text-transform: uppercase; }

.single-page.page-meta-trader-ios .page-content.global-markets-today .icm-button-wrapper a.demo {
  border-radius: 0 !important;
  padding: 25px !important;
  font-size: 20px !important;
  font-weight: 900 !important;
  text-transform: uppercase !important;
  color: #fff !important;
  margin-left: 9px; }

.single-page.page-meta-trader-ios .grid-section {
  display: grid;
  grid-template-columns: 33% 33% 33%; }
  .single-page.page-meta-trader-ios .grid-section .content-head {
    margin-bottom: 0 !important; }
  .single-page.page-meta-trader-ios .grid-section .grid-content {
    padding: 20px; }
  .single-page.page-meta-trader-ios .grid-section .content-inside {
    font-size: 16px;
    line-height: 1.56; }

.single-page.page-meta-trader-ios .floated-block {
  position: relative;
  width: 300px;
  padding: 30px;
  float: right;
  background: linear-gradient(45deg, #009600, #34e834);
  margin: 0 40px;
  border-radius: 18px; }
  .single-page.page-meta-trader-ios .floated-block h1 {
    font-size: 28px !important;
    font-weight: normal !important;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.18 !important;
    letter-spacing: -0.6px;
    text-align: left;
    color: #0b0a14; }
  .single-page.page-meta-trader-ios .floated-block p {
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: -0.3px;
    text-align: left;
    color: rgba(11, 10, 20, 0.8); }

.single-page.page-meta-trader-ios .pre-image-item {
  padding-left: 33px;
  position: relative; }
  .single-page.page-meta-trader-ios .pre-image-item::before {
    content: '';
    position: absolute;
    left: 3px;
    top: 10px;
    width: 14px;
    height: 14px;
    transform: rotate(45deg);
    border: 1px solid #b5b5b5;
    background: #34e834;
    box-shadow: 0 0 2px 2px #fff inset; }

@media screen and (max-width: 1040px) {
  .single-page.page-meta-trader-ios .page-section .first-section .page-first-image {
    min-height: 300px; } }

@media screen and (max-width: 960px) {
  .single-page.page-meta-trader-ios .page-section .first-section {
    padding-top: 80px !important;
    margin-bottom: -85px !important; } }

@media screen and (max-width: 940px) {
  .single-page.page-meta-trader-ios .grid-section {
    grid-template-columns: 100%; }
    .single-page.page-meta-trader-ios .grid-section .gc-1 {
      grid-row: 1; }
    .single-page.page-meta-trader-ios .grid-section .gc-4 {
      grid-row: 2; }
    .single-page.page-meta-trader-ios .grid-section .gc-2 {
      grid-row: 3;
      margin-top: 40px; }
    .single-page.page-meta-trader-ios .grid-section .gc-5 {
      grid-row: 4; }
    .single-page.page-meta-trader-ios .grid-section .gc-3 {
      grid-row: 5;
      margin-top: 40px; }
    .single-page.page-meta-trader-ios .grid-section .gc-6 {
      grid-row: 6; } }

@media screen and (max-width: 870px) {
  .single-page.page-meta-trader-ios .page-section .first-section {
    padding-top: 80px !important;
    margin-bottom: -85px !important; }
    .single-page.page-meta-trader-ios .page-section .first-section .page-first-image {
      min-height: 150px; } }

@media screen and (max-width: 768px) {
  .single-page.page-meta-trader-ios .floated-block {
    float: initial;
    margin: 40px auto; } }

@media screen and (max-width: 640px) {
  .single-page.page-meta-trader-ios .page-section .first-section .page-first-image {
    min-height: 300px; } }

/*# sourceMappingURL=metatrader-iphone.css.map */