
    @import '../global';

    .single-page.page-myfxbook-autotrade {
        .page-content-container {
            background: #fff !important;
        }
        .page-header {
            background: url(/assets/img/single_market_page/myfxbook-autotrade-banner.jpg) no-repeat center right;

            .icm-button-wrapper.page-header__primary-button a.icm-btn.icm-btn-primary {
                border-radius: 2px !important;
                padding: 25px !important;
                font-size: 20px !important;
                font-weight: 900 !important;
                text-transform: uppercase;
            }
        }
        .autotrade-image {
            float: right;
            position: relative;
            z-index: 1;
            width: 558px;
            max-width: 558px;
            min-height: 493px;
            background: #fff;
            margin: 0;
            min-width: 320px;

            background: url(/assets/img/single_market_page/myfxbook-autotrade-img.png) center center no-repeat transparent !important;
            background-size: contain !important;

        }
        .grid-section {
            display: grid;
            grid-template-columns: 33% 33% 33%;

            .content-head {
                margin-bottom: 0 !important;
                font-size: 20px;
                font-weight: bold;
                line-height: 1.75;
            }
            .grid-content {
                padding: 20px;
            }
            .content-inside {
                font-size: 18px;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.94;
                letter-spacing: -0.4px;
                text-align: left;
                color: rgba(11, 10, 20, 0.74);
            }
        }
        .icm-btn {
            width: max-content;
            padding: 14px 26px;
            font-size: 12px;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: 1;
            text-transform: uppercase;
            letter-spacing: -0.2px;
            color: rgba(31, 29, 49, 0.8);
            border-radius: 30px;

            &.demo {
                color: rgba(255, 255, 255, 0.8);
                background: #494949;

                &:hover {
                    color: #fff !important;
                }
            }
        }
        h2 {
            text-transform: uppercase;
            margin-top: 80px;
            margin-bottom: 50px;
            font-size: 20px;
            font-weight: 900;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.75;
            letter-spacing: -0.4px;
            text-align: left;
            color: #0b0a14;
        }
        .step-left-padding {
            padding-left: 80px;
        }
        .step-1,
        .step-2 {
            position: relative;

            &::before {
                content: '';
                position: absolute;
                left: 0;
                top: -12px;
                width: 56px;
                height: 56px;
                background: #34E834;
                font-size: 28px;
                font-weight: 900;
                font-style: normal;
                font-stretch: normal;
                line-height: 56px;
                letter-spacing: -0.6px;
                text-align: center;
                color: rgba(11, 10, 20, 0.8);
                border-radius: 56px;
            }
        }
        .step-1::before { content: '1.'; }
        .step-2::before { content: '2.'; }
        .notes-description {
            margin-top: 30px;
            padding-top: 30px;
            border-top: 1px solid #e7e8e8;
            font-size: 14px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.36;
            letter-spacing: -0.3px;
            text-align: left;
            color: rgba(11, 10, 20, 0.74);
        }
        .text-link {
            cursor: pointer;

            &:hover {
                text-decoration: underline;
            }
        }
        @media screen and (max-width: 940px) {
            .autotrade-image {
                float: none !important;
                width: 100% !important;
                margin: 0 auto !important;
                position: relative;
            }
            .grid-section {
                grid-template-columns: 100%;

                .gc-1 {grid-row: 1}
                .gc-2 {grid-row: 2}
                .gc-3 {grid-row: 3;}
                .gc-4 {grid-row: 4}
                .gc-5 {grid-row: 5;}
                .gc-6 {grid-row: 6}
            }
        }
    }
