@import '../_global';

.single-page.professional-clients-page {

    .page-content {
        .table-center {
          width: 100%;
          display: inline-block;
          margin-bottom: 30px;
        }
        table {
          margin:0 auto;
        }
        table td,th {
            padding-left: 7px;
            padding-right: 7px;
            font-size: 14px;
            line-height: 23px;
        }
        .card {
            max-width: 300px;
            padding: 20px;
            margin: 10px 10px;
            border-radius: 20px;
            box-shadow: 0 0 5px;
            flex-grow: 1;
        }
        &.global-markets-today {
            height: auto;
            min-height: 455px;
            background: url(/assets/img/single_market_page/btm_cta_bg.png) no-repeat center center;

            .icm-button-wrapper {
                a.live {
                    border-radius: 0 !important;
                    padding: 25px !important;
                    font-size: 20px !important;
                    font-weight: 900 !important;
                    text-transform: uppercase;
                }
                a.demo {
                    border-radius: 0 !important;
                    padding: 25px !important;
                    font-size: 20px !important;
                    font-weight: 900 !important;
                    text-transform: uppercase !important;
                    background: #000 !important;
                    color: #fff !important;
                    margin-left: 9px;
                }
            }
        }
    }
    .page-header {
        background: url(/assets/img/single_market_page/overview_header_bg.jpg) no-repeat center right;
        .icm-button-wrapper.page-header__primary-button a.icm-btn.icm-btn-primary {
                padding: 25px !important;
                border-radius: 2px !important;
                font-size: 20px !important;
                font-weight: 900 !important;
        }
    }
    .first-section {
        margin-left: 0 !important;
    }
    .comm-image {
        background: url(/assets/img/single_market_page/commimg.png) center center no-repeat transparent;
    }
    .menu-item .menu-title {
        text-transform: uppercase;
    }
}
