@import "../_global";

.single-page.page-trading-conditions {
    .page-header {
        background: url(/assets/img/single_market_page/trading-conditions-banner.jpg) no-repeat center right;

        .icm-button-wrapper.page-header__primary-button a.icm-btn.icm-btn-primary {
            border-radius: 2px !important;
            padding: 25px !important;
            font-size: 20px !important;
            font-weight: 900 !important;
            text-transform: uppercase;
        }
    }
    .page-content.global-markets-today {
        background-image: url(/assets/img/single_market_page/trading-conditions-btm-bg.png);
    }
    .page-header__menu-container .page-header__menu .menu-item .menu-title {
        padding-left: 0 !important;
        text-transform: uppercase;
    }
    .page-content.global-markets-today .icm-button-wrapper {
        a.live {
            border-radius: 0 !important;
            padding: 25px !important;
            font-size: 20px !important;
            font-weight: 900 !important;
            text-transform: uppercase;
        }
        a.demo {
            border-radius: 0 !important;
            padding: 25px !important;
            font-size: 20px !important;
            font-weight: 900 !important;
            text-transform: uppercase !important;
            background: #000 !important;
            color: #fff !important;
            margin-left: 9px;
        }
    }
    .page-section:first-child {
        margin-top: -64px;
    }
    .pre-imaged-section {
        margin-top: 64px;
        padding-left: 180px;
        position: relative;

        &::before {
            position: absolute;
            content: '';
            width: 110px;
            height: 110px;
            left: 0;
            top: 0;
            background: transparent no-repeat center center;
            background-size: contain;
        }

        &.pre-img-1::before { background-image: url(/assets/img/single_market_page/trading-conditions-spreads.png); }
        &.pre-img-2::before { background-image: url(/assets/img/single_market_page/trading-conditions-execution.png); }
        &.pre-img-3::before { background-image: url(/assets/img/single_market_page/trading-conditions-margin.png); }
        &.pre-img-4::before { background-image: url(/assets/img/single_market_page/trading-conditions-currency.png); }
        &.pre-img-5::before { background-image: url(/assets/img/single_market_page/trading-conditions-swaps.png); }
        &.pre-img-6::before { background-image: url(/assets/img/single_market_page/trading-conditions-hours.png); }
    }

    .page-section {
        h1 {
            text-align: left;
        }
    }
}
@media screen and (max-width: 640px) {
    .single-page.page-trading-conditions {
        .pre-imaged-section {
            margin-top: 180px;
            padding-left: 0px;
            position: relative;

            &::before {
                position: absolute;
                content: '';
                width: 100%;
                height: 110px;
                left: 0;
                top: -110px;
                background: transparent no-repeat center center;
                background-size: contain;
            }
        }
        .page-section {
            h1 {
                text-align: center;
            }
        }
    }
}
