.register_process_wrap {
  display: none;
  width: 30%;
  border-right: 1px solid #f2f2f2;
  background: #fcfcfc;
  position: relative;
  flex-direction: column;
  border-radius: 30px 0 0 30px;

  @include screen(768px) {
    & {
      display: inline-flex;
    }
  }

  .reg_logo {
    text-align: center;
    flex: 0 0 100px;
    border-bottom: 1px solid #f2f2f2;

    img {
      margin-top: 26px;
      height: 30px;
    }

    p {
      margin-top: 5px;
      font-size: 13px;
      font-weight: bold;
    }
  }

  .reg_process {
    padding-top: 20px;
    flex: 1 1;
    display: flex;
    flex-direction: column;

    .process_line {
      position: relative;
      flex: 0 0 85px;
  
      div {
        display: inline-block;
        position: absolute;
      }

      .step_line {
        width: 25%;
        text-align: right;
        height: 100%;
        border-right: 1px solid #f2f2f2;
  
        .step_icon {
          background: white;
          width: 44px;
          height: 44px;
          border: 1px solid #ccc;
          color: #c8c8c8;
          z-index: 1;
          text-align: center;
          line-height: 45px;
          display: inline-block;
          margin: 0 -24px;
          border-radius: 50%;
          box-sizing: content-box;

          .modify-step {
            opacity: 0 !important;
            position: absolute;
            width: 26px;
            height: 26px;
            top: 7px;
            left: 10px;
            color: #00c800;
            transition: opacity 0.2s;         
          }
        }
      }

      .process_line_text {
        width: 55%;
        margin-left: 36%;
        margin-top: 5%;
        text-align: left;
      }

      &.complete {
        cursor: pointer;

        &:hover {
          .step_line {
            .step_icon {
              font-size: 1px;

              .modify-step {
                opacity: 1 !important;            
              }
            }
          }
        }
  
        .step_line {
          border-right: 3px solid  $icm-color-green;

          .step_icon {
            background:  $icm-color-green !important;
            border-color: $icm-color-dark-green !important;
            color: #000 !important;
            font-weight: bold;

            &:before {
              content: "modify";
              background: #00c800;
              position: absolute;
              top: 39px;
              left: 4px;
              font-size: 10px;
              color: #fff;
              padding: 2px 3px;
              line-height: 1;
              border-radius: 3px;              
            }
          }
        }

        .process_line_text {
          color: #000;
          font-weight: bold;          
        }
      }
  
      &.current {
        .step_line {
          .step_icon {
            margin: 0 -26px;
            font-weight: bold;
            position: relative;
          }
        }

        .process_line_text {
          color: #000;
          font-weight: bold;
          text-align: left;
          margin-right: -30px;
        }
      }

      &.last {
        .step_line {
          .step_icon {
            background-image: url(../images/Fund_your_account.svg);
            background-color: white;
            background-repeat: no-repeat;
            background-position: center center;
            color: transparent !important;
            background-size: 100%;
          }
        }
      }      
    }

    &.demo {
      .process_line {
        &.current {
          .step_line {
            .step_icon {
              border: 4px solid #00c800;
              color: #00c800;
              background-color: white;         
            }
          }
        }
      }
    }

    &.live {
      .process_line {
        &.current {
          .step_line {
            .step_icon {
              border: 1px solid $icm-color-green;
              color: #000;
              background: $icm-color-green;
            }
          }
        }
      }
    }
  }

  .reg_timer {
    border-top: 1px solid #f2f2f2;
    flex: 0 0 100px;
    color: #c8c8c8;
    padding-top: 42px;
    padding-bottom: 16px;
    text-align: center;
    width: 100%;
    line-height: 35px;

    > span {
      padding-left: 20px;
      background-image: url(..//images//Time_to_complete.svg);
      background-repeat: no-repeat;
      background-position: 0;
    }
  }
}